[2017-01-19 09:34] jack17529 commented on #748
So after renaming the bug is solved or not?

[2017-01-19 13:56] DePierre commented on #790
@jack17529 I wouldn't say that this is a bug but yes it is still open. A PR is currently being reviewed (see #800). We are waiting for @affinity7 to update the PR according to our comments.

[2017-01-19 13:58] DePierre commented on #748
@jack17529 a PR is currently being reviewed (see #801) to use virtualenv and limit the clash between Kali and pip. Feel free to contribute to the review with some comments/questions in the PR thread.

[2017-01-19 14:59] jack17529 commented on #748
I am  new sir can you tell me what is PR?

[2017-01-20 20:36] delta24 commented on #704
Already in https://github.com/owtf/reboot/issues/17.

[2017-01-20 20:36] #704 closed

[2017-01-20 20:41] delta24 commented on #581
Cleanup started in https://github.com/owtf/owtf/tree/cleanup.

[2017-01-23 03:19] hktalent commented on #787
kali linux
install is ok
update is ok
always
# ./owtf.py
The following python libraries seem missing :
	Markdown,ndg-httpsclient,pyOpenSSL

Haven't you run the install script?
	python2 install/install.py

If you are sure you ran the install script, install the missing libraries seperately
	pip install --upgrade -r install/owtf.pip

why?
how?
thank you

[2017-01-23 14:19] delta24 commented on #787
Did you try using https://github.com/owtf/owtf/issues/516#issuecomment-226993626? We have a PR for this one - should be in develop branch soon!

[2017-01-23 15:05] #748 closed

[2017-01-25 13:43] jack17529 commented on #762
I am working on this issue can someone please tell me what's the meaning of -
return True in [worker['busy'] for worker in self.workers]
https://github.com/owtf/owtf/blob/develop/framework/plugin/worker_manager.py#L141

[2017-01-25 15:43] delta24 commented on #762
@jack17529 `self.workers` is a list of workers. The line `for worker in self.workers` iterates over every worker in that list and gets the status of the worker using `worker['busy']`. The function returns `True` if any worker is 'busy'.

The idiom used is a list comprehension - it is a syntactic way to write:
[code]

[2017-01-25 17:11] jack17529 commented on #762
Thank you @delta24

[2017-01-26 11:00] DePierre opened #807 "Travis is failing again"
Since 46f305b2e3ec85849b149053d715a60ee6509ac3, it appears that Travis is failing again (see https://travis-ci.org/owtf/owtf/builds/195367688).

This time with the following traceback during `pip` installation:

[code]

@delta24 Do you know if it is related to your commit specifically? Or is it pip?

[2017-01-26 11:13] DePierre commented on #807
Seems to be related to pip or at least something independent to OWTF. I re-run an older travis build that was successful and it is now failing as well (see https://travis-ci.org/owtf/owtf/builds/194497121).

Anyone could investigate?

[2017-01-26 13:10] DarKnight24 commented on #807
@delta24 @DePierre It seems travis is failing due to pip. Removing "--force-reinstall" from the command fixes it.

[2017-01-26 13:36] DarKnight24 opened #809 "Issues in install script"
@delta24 @DePierre @7a I have found following problems in install script:
*  The check in `install.py` whether owtf installed successfully is useless as install function does not return anything. Look [here](https://github.com/owtf/owtf/blob/develop/install/install.py#L315). The `installer_status_code` is always `null`.
*  The debian installer has missing sudo access for `pref.sh`. Look [here](htt

[2017-01-26 15:16] delta24 commented on #809
@DarKnight24

- [ ] Re: check in `install.py`: Correct - should the `install` function return something meaningful?
- [ ] Re: `sudo` access in `pref.sh` missing - yes, add that! and yes it should use Kali rolling (there was no rolling version at that time :( )
- [ ] Re: They are warnings - IMO this is because of some misconfiguration in `.deb` package. (IMO we should not change anything)

[2017-01-26 22:58] jack17529 commented on #762
Can someone explain meaning of "NA" in self.workers[k]["start_time"] = "NA"

https://github.com/owtf/owtf/blob/develop/framework/plugin/worker_manager.py#L119

[2017-01-27 01:19] DePierre commented on #762
@jack17529 I would assume that 'NA' is a `start_time` error value used when the worker is idling. Since `start_time` cannot have any meaningful value if the worker is not working, 'NA' is used instead.

About your second question, you can get more meaning by running `git grep delete_worker`. You'll see that the `pseudo_index` refers to the index provided via the REST API. When the user clicks on t

[2017-01-27 01:22] DePierre commented on #807
@DarKnight24 @delta24 So what should we do? Should we remove the `--force-reinstall` option? Will it break something else?

[2017-01-27 01:40] delta24 commented on #807
@DePierre I think removing `--force-reinstall` is a safe option.

[2017-01-27 03:55] DarKnight24 commented on #809
@delta24 IMO there should not be any check as we cannot simply tell whether error occurred in the shell script or not. The return code will be the return code of the last command, if it was successful it will return 0 regardless of the error occurred previously.

[2017-01-27 10:01] DarKnight24 commented on #809
@delta24 After the fix [`101a8c8`](https://github.com/owtf/owtf/commit/101a8c8312ab67a869c04fd189c308a7830068bc) the script is having GPG issue. Look [here](https://travis-ci.org/owtf/owtf/builds/195805134#L992) and [here](https://travis-ci.org/owtf/owtf/builds/195805134#L1051).

[2017-01-27 15:48] delta24 commented on #809
@DarKnight24 should be fixed in https://github.com/owtf/owtf/commit/e6b271df0f8723205b984b5340b74961266f0fdf.

[2017-01-27 18:45] delta24 commented on #807
@DePierre Still failing - although now something is wrong with Skipfish.

[2017-01-28 01:11] DePierre commented on #807
@delta24 I've re-run the travis build for 0f95c2f. If it succeeds again, the issue with skipfish might have been introduced in the commits after 0f95c2f.

[2017-01-28 02:53] DePierre commented on #807
@delta24 Since restarting the build on 0f95c2f succeeded and faa82f0 failed systematically, I would assume that faa82f0 broke Skipfish somehow.

Is it possible that the `sudo` command changed some paths? Or that `"$apt_wrapper_path"` did something about Skipfish?

[2017-01-28 06:16] DePierre commented on #807
@DarKnight24 So the `sudo`? I mean there is no magic here. 0f95c2f is 100% successful and faa82f0 is 0% successful. Therefore faa82f0 must have introduced the thing that makes Travis fail.

If it is not the `$apt_wrapper_path`, then it's the `sudo` since there are only two lines changed by faa82f0. What does the `sudo` do?

[2017-01-28 06:42] DarKnight24 commented on #807
Earlier `sudo`was missing so pref.sh was not running. So it has something to do.

[2017-01-30 04:11] DePierre commented on #807
@DarKnight24 @delta24 So any update regarding Travis? Why is faa82f0 breaking the build?

[2017-01-31 15:32] benoitmaudet opened #812 "Installation script on Kali"
The installation on Kali (4.6.0-kali1-amd64 ) doesn't work. I have just downloaded the last version of Kali and launched:
`wget -N https://raw.githubusercontent.com/owtf/bootstrap-script/master/bootstrap.sh; bash bootstrap.sh`

Then, when I do :
`./owtf/owtf.py`

 I get the error :
`
./owtf.py
Traceback (most recent call last):
  File "./owtf.py", line 17, in <module>
    from framework.core impor

[2017-01-31 16:08] delta24 commented on #812
@benoitmaudet are you using the latest Kali rolling version?

[2017-01-31 17:42] delta24 commented on #807
@DePierre looks like we throw https://wiki.debian.org/DontBreakDebian out of the window here and IMO this is why it broke.

[2017-02-01 07:23] DePierre commented on #807
@delta24 Should we revert the commit then? Or say goodbye to Travis and stop running the functional tests?

[2017-02-01 14:47] delta24 commented on #807
@DePierre do the functional tests use any other tool than Skipfish?

[2017-02-01 17:04] DePierre commented on #807
@delta24 Yes. I believe that Arachni is used as well and maybe a couple others. I mean whatever the case is, the install **should** be working like it used to.

Do we need that commit? What does it provide? What wasn't working before? What has been changed?

[2017-02-01 20:32] delta24 commented on #807
I think we can safely remove that commit. The `pref.sh` file basically gives preferences to the Debian repository before Kali one. Can you make a pull request removing it - that would give us an idea how Travis responds?

[2017-02-02 23:28] mlinton commented on #812
I am also getting this same error - I have run pip install --upgrade pyopenssl and confirmed that I have pyopenssl-16.2.0 installed.

[2017-02-04 11:54] jack17529 opened #814 "pip 2 could not be installed in ubuntu."
When during installation this command is used-
pip2 install --upgrade -r /home/jack/owtf/install/owtf.pip

gives error-
IOError: [Errno 13] Permission denied: '/usr/local/lib/python2.7/dist-packages/test_cookies.pyc'

I searched inside /usr/local/lib/python2.7/dist-packages.
could not find test_cookies.pyc

I have no idea for the importance of test_cookies.pyc .

I am working on ubuntu 16.04

[2017-02-05 04:22] DePierre commented on #814
@jack17529 Hey there. The error message seems to be due to permission error (`Permission denied`) when running pip. Depending on your setup, you might need to run pip2 as root to have write permission in `/usr/local/lib/`.

Try running `sudo pip2 install --upgrade -r /home/jack/owtf/install/owtf.pip` and see it is successful.

Please re-open the issue if there is another error but the problem you

[2017-02-05 04:22] #814 closed

[2017-02-05 09:57] jack17529 commented on #814
@DePierre  how did you figured out that problem was in the pip2 install --upgrade -r /home/jack/owtf/install/owtf.pip

and not /usr/local/lib/python2.7/dist-packages/test_cookies.pyc

[2017-02-05 16:21] delta24 commented on #812
@mlinton @benoitmaudet how did you install Kali ? Did you use the Kali light VM? I think there is a similar problem with it.

[2017-02-05 16:37] benoitmaudet commented on #812
@delta24 I used this one : https://images.offensive-security.com/virtual-images/Kali-Linux-2016.2-vm-amd64.7z

[2017-02-06 01:40] DePierre commented on #814
@jack17529 by reading the error message :)

`Permission denied` means what it means. And based on your installation path (`/usr/local/lib/`), it was likely that pip was run with a low privileged user while the target installation path required root privilege to write to.

Did you solve the issue by the way?

[2017-02-06 05:50] delta24 commented on #812
@benoitmaudet @mlinton I downloaded the Kali Linux virtualbox image from the above link and upgraded the Kali installation using

[code]
and installed OWTF. I did not get any errors and OWTF starts up perfectly fine.
Please upgrade the Kali installation and try installing OWTF again.

[2017-02-06 05:50] #812 closed

[2017-02-09 02:32] hktalent commented on #516
# ./owtf.py
Traceback (most recent call last):
  File "./owtf.py", line 17, in <module>
    from framework.core import Core
  File "/usr/share/owtf/framework/core.py", line 21, in <module>
    from framework.http.proxy import proxy, transaction_logger
  File "/usr/share/owtf/framework/http/proxy/proxy.py", line 31, in <module>
    from socket_wrapper import wrap_socket
  File "/usr/share/owtf/fram

[2017-02-09 04:42] delta24 commented on #516
@hktalent Your Kali is not updated. This is not a problem with OWTF. Please refer to https://github.com/owtf/owtf/issues/812

[2017-02-09 05:16] hktalent commented on #812
do
apt-get update; apt-get upgrade;apt-get dist-upgrade;
but the same
# ./owtf.py
Traceback (most recent call last):
  File "./owtf.py", line 12, in <module>
    from framework.dependency_check import verify_dependencies
  File "/usr/share/owtf/framework/dependency_check.py", line 12, in <module>
    import pip
  File "/usr/lib/python2.7/dist-packages/pip/__init__.py", line 21, in <module>
    fro

[2017-02-09 11:21] hktalent commented on #516
Thanks @delta24
do
pip install virtualenv virtualenvwrapper
source '/usr/local/bin/virtualenvwrapper.sh'
echo 'source /usr/local/bin/virtualenvwrapper.sh' >> ~/.zshrc (or ~/.bashrc if use bash)
mkvirtualenv owtf -p /usr/bin/python2.7
apt-get update;apt-get upgrade;apt autoremove;apt-get update;apt-get dist-upgrade;
pip install -U --trusted-host pypi.douban.com -i http://pypi.douban.com/simple beau

[2017-02-09 14:41] delta24 commented on #516
@hktalent You do not need to do this manually. The installation script takes care of it. You just have to run `source ~/.$SHELLrc; workon owtf; ./owtf.py`

[2017-02-10 05:17] hktalent commented on #516
(owtf) root@kali:/usr/local/share/owtf# ./owtf.py
Current Path: ./owtf.py
Syntax: owtf.py [ options ] <target1 target2 target3 ..> where target can be: <target URL / hostname / IP>
                    NOTE: targets can also be provided via a text file

Examples:

Run all web plugins:                         owtf.py http://my.website.com
Run only passive + semi_passive plugins:             owtf.py

[2017-02-10 05:28] delta24 commented on #516
@hktalent please refer to https://github.com/owtf/owtf/issues/766 and ERROR message carefully.

[2017-02-10 06:56] hktalent commented on #516
@delta24
[*] OWTF Version: 1.0.1, Release: LionHeart (Beta)
[*] /usr/share/owtf/scripts/run_nikto.sh: 69: /usr/share/owtf/scripts/run_nikto.sh: Syntax error: Missing '))'

[2017-02-10 15:01] delta24 commented on #516
@hktalent which version are you using? OWTF stable is at 2.0a not 1.0.1

[2017-02-10 15:37] jack17529 opened #815 "NameError: name 'PROTOCOL_TLS' is not defined"
using python owtf.py gives this in my ubuntu 16.04

## Expected Behavior
should have started.

## Current Behavior
did not

[2017-02-10 16:53] delta24 commented on #815
@jack17529 can you provide the complete traceback?

[2017-02-10 17:23] jack17529 commented on #815
(owtf) jack@jack-Latitude-3460:~/owtf$ python owtf.py
Traceback (most recent call last):
  File "owtf.py", line 13, in <module>
    from framework.dependency_check import verify_dependencies
  File "/home/jack/owtf/framework/dependency_check.py", line 11, in <module>
    import pip
  File "/home/jack/.virtualenvs/owtf/lib/python2.7/site-packages/pip/__init__.py", line 21, in <module>
    from pip.

[2017-02-10 17:32] delta24 commented on #815
Duplicate of https://github.com/owtf/owtf/issues/812.
- Update your distro
- Update PyOpenSSL and cryptography libraries

[2017-02-10 17:32] #815 closed

[2017-02-12 16:39] #790 closed

[2017-02-17 16:32] delta24 opened #820 "SSL labs plugin reporter tool parsing error"
The reporting script used to parse the JSON returned by SSL Labs API returns an error.

## Possible Solution

The SSL Labs API is fast changing and they changed the structure of their API JSON output. The script needs some modification based on the changes to correctly output a nice report.

## Logs
[code]

[2017-02-17 16:36] viyatb opened #821 ""Select all" targets only gets the targets on the page (in a large scope)"
The select all targets functionality is broken in case of a large scope when only the targets visible on the page are selected.

## Logs
[code]

[2017-02-17 16:38] viyatb opened #822 "Filter work from the worklist ands delete all / pause all / resume all in the output"
A very useful and needed worklist improvement: It should be possible to filter + select all + delete all / pause all / resume all on the worklist. For example, if I want to delete all the "niktos" from the worklist I should be able to filter by "nikto", then "delete all selected" (or something like that)

If I "delete all" right now, I delete the entire worklist, which is not as useful.

[2017-02-17 16:40] viyatb opened #823 "Target export functionality broken"
The targets export functionality in the `ui_improvements` branch is broken.

Need to investigate more.

[2017-02-17 16:42] viyatb opened #824 "OWTF cannot find hoppy in a new fresh installation"
The hoppy plugin cannot find the installation in the OWTF root directory. Below is the stacktrace,
[code]

[2017-02-17 17:16] viyatb opened #825 "w3af patching script error"
OWTF patches the w3af console for a number of reasons like normalizing the User Agent string, etc. The Kali install script cannot find `w3af_console`.

[code]

[2017-02-17 18:02] supreet11agrawal commented on #824
@delta24 I am a first timer on GitHub and I am seriously looking forward to contribute. Can you please guide me?

[2017-02-17 18:05] delta24 commented on #824
@supreet11agrawal Try to installing OWTF on the latest Kali Linux and run `Plugin semi_passiveHTTP_Methods_and_XST@OWASP-CM-008.py`plugin to reproduce the issue. Then try to implement a fix.

[2017-02-17 23:05] DePierre commented on #824
@delta24 This is a won't fix if Hoppy SSL certificate is expired. We have to wait for them to fix their own shit.

Also starting adding this kind of wget option is IMO a bad idea.

[2017-02-17 23:06] delta24 commented on #824
@DePierre I agree - I contacted them about this via Twitter. Hopefully it gets fixed soon!

[2017-02-17 23:45] delta24 commented on #807
Closed in https://github.com/owtf/owtf/pull/818.

[2017-02-17 23:45] #807 closed

[2017-02-18 05:49] saganshul commented on #823
@delta24 I added 914 targets. Export functionality is working correctly.
I am not able to reproduce the error.

[2017-02-18 08:19] ritwickdsouza commented on #762
Is this fixed ? I can't seem to produce the error. I ran a plugin which takes time and still was able to abort the worker

[2017-02-19 18:49] delta24 commented on #823
@7a maybe this was a one-off event where the JS code responsible was not properly loaded in the browser.

[2017-02-19 19:30] saganshul commented on #821
**Missing screenshots:**

![screenshot from 2017-02-20 00-58-18](https://cloud.githubusercontent.com/assets/11960067/23105606/e1d1c63a-f707-11e6-85b0-2ebba45e1492.png)

![screenshot from 2017-02-20 00-58-35](https://cloud.githubusercontent.com/assets/11960067/23105607/e1d2a94c-f707-11e6-8739-c8dd6b49decb.png)

[2017-02-19 19:47] #809 closed

[2017-02-19 20:18] delta24 commented on #820
@7a I cannot reproduce the error  - maybe the JSON was not properly created by the tool (probably interrupted before it could write to a file).

[2017-02-19 20:18] #820 closed

[2017-02-19 21:40] delta24 commented on #743
@DePierre @BSec @7a can this be implemented as a Burp extension and import the results through the https://github.com/owtf/offline-http-traffic-uploader?

[2017-02-19 22:25] viyatb opened #829 "Integrate HTTP requests translator tool in OWTF"
Tool - https://github.com/owtf/http-request-translator

The feature should support:

* Single HTTP transactions
Have a button to "export HTTP request" , then show its relevant code.

* Multiple HTTP transactions
Same as with Single transactions, but letting the user "select a number of transactions" first.

The end result should something like: (although it has to be modified for the web interface

[2017-02-19 22:52] DePierre commented on #743
@delta24 No idea to be honest :/

[2017-02-20 14:41] jack17529 commented on #762
@delta24  I have already looked all the code ,can't find any problem with code. But I think can be a problem related to the api used.What to do now ?

[2017-02-20 17:55] saganshul commented on #829
I am starting working on it now.

[2017-02-20 20:29] jack17529 commented on #825
@delta24 please assign me this , I will start working with full intensity in 4-5 days.

[2017-02-20 21:18] delta24 commented on #825
@jack17529 The issue can be assigned only if you are a member of the organization. However you are free to work on it, and send a PR!

[2017-02-21 06:50] DePierre commented on #762
@jack17529 I am not convinced that the API is at fault here and I would find it more likely that the issue is in our multiprocess system.

It is possible that the `worker_manager.py` is not the culprit here. Because a worker can run a shell command (to run `w3af` for instance), it is possible that when trying to send a SIGINT the worker does not receive it because `w3af` is freezing.

[2017-02-22 05:45] melvinvarkey commented on #767
Hey i know this question is not valid here.... but still any of the post was able to solve my problem here,
Please anyone suggest me a solution for this

[2017-02-22 05:47] viyatb commented on #767
@melvinvarkey Try what the error message says. You need to start the PostgreSQL service and setup the OWTF user correctly.
`sh scripts/db_run.sh`
`sh scripts/db_setup.sh init`

[2017-02-22 05:50] melvinvarkey commented on #767
@viyatb

[2017-02-22 05:52] viyatb commented on #767
@melvinvarkey Please use the latest Kali version - it is Kali Rolling 2016.2.

[2017-02-22 10:30] jack17529 commented on #825
@viyatb ,please tell me how can someone become member?

[2017-02-22 12:06] DePierre commented on #825
@jack17529 When @viyatb mentionned "only if your are a member", it was meant only for github. Anyone can work on a fix but on github, only OWTF member crews can be assigned in the UI.

You are free to create a fix and open a pull request that references this issue ;)

[2017-02-23 02:15] jack17529 commented on #825
So is this the problem
![screenshot from 2017-02-23 07 43 17](https://cloud.githubusercontent.com/assets/15366183/23241889/01dc0a08-f99c-11e6-8861-3aa783cf2913.png)

[2017-02-23 05:30] viyatb commented on #825
@jack17529 Yes.

[2017-02-24 12:43] DarKnight24 opened #830 "Git version testing fails"
The owtf is not allowed to run from @@@RootDir@@@. Git version checker expects that owtf is running from its directory.

## Expected Behavior

Git version checker should test version irrespective of the directory owtf is called.

## Possible Solution

change the current working directory before calling command

## Logs

`fatal: Not a git repository (or any parent up to mount point /home)
Stopping

[2017-02-24 16:16] #830 closed

[2017-02-24 19:57] DePierre commented on #829
HTTP Request Translator is now available on PyPi: https://pypi.python.org/pypi/hrt/0.1.0

@saganshul Could you update OWTF's pip requirement accordingly?

[2017-02-24 19:58] saganshul commented on #829
@DePierre sure!

[2017-02-25 01:29] jack17529 commented on #823
@viyatb can you elaborate the issue and send the link of the code.

[2017-02-26 10:09] doglife007 opened #833 "in kali Linux 4.6.0-kali1-amd64 #1 SMP Debian 4.6.4-1kali1 (2016-07-21) x86_64 GNU/Linux"
Traceback (most recent call last):
  File "./owtf.py", line 13, in <module>
    from framework.dependency_check import verify_dependencies
  File "/root/Downloads/owtf/framework/dependency_check.py", line 11, in <module>
    import pip
  File "/usr/lib/python2.7/dist-packages/pip/__init__.py", line 21, in <module>
    from pip._vendor.requests.packages.urllib3.exceptions import DependencyWarning

[2017-02-26 12:13] DarKnight24 commented on #833
@doglife007 run `sudo pip install -U pyopenssl` to remove the error.

[2017-02-26 14:02] jack17529 commented on #833
We have already mentioned the previous requirements to install owtf. please check.
Please keep your kali updated and upgraded .

[2017-02-26 16:58] #833 closed

[2017-02-26 22:52] doglife007 commented on #833
my kali is all update & upgrade  but same to be problem whit  pyopenssl
i try   to remover the error whit sudo pip install -U pyopenssl but not work ...
pip install -U pyopenssl
Traceback (most recent call last):
  File "/usr/bin/pip", line 9, in <module>
    from pip import main
  File "/usr/lib/python2.7/dist-packages/pip/__init__.py", line 21, in <module>
    from pip._vendor.requests.packages.

[2017-02-27 03:44] DarKnight24 commented on #833
@doglife007 can you share complete logs using pastebin.

[2017-02-27 05:26] jack17529 commented on #833
@doglife007  check this please - https://forums.kali.org/showthread.php?35031-Python-AttributeError-module-object-has-no-attribute-SSL_ST_INIT

[2017-02-27 22:43] viyatb commented on #824
They fixed it! :)

[2017-02-27 22:43] #824 closed

[2017-02-28 00:05] DePierre commented on #824
Finally! It took them a while :/

[2017-02-28 00:40] viyatb commented on #823
Cannot reproduce. Closing.

[2017-02-28 00:40] #823 closed

[2017-02-28 12:07] doglife007 commented on #833
jack17529 in this post i only see update update upgrade  ... :)
and my Reading state information... Done

pip 9.0.1 from /usr/local/lib/python2.7/dist-packages/pip-9.0.1-py2.7.egg (python 2.7)

i give up !!  on owtf
Thanks for the replies
Once again, appreciate all the feedback.

[2017-02-28 15:01] viyatb commented on #833
@doglife007 did you do
`source .<shell>rc; workon owtf`? You have to manually switch on the OWTF virtualenv using `workon owtf` everytime you want to run OWTF.

[2017-02-28 20:24] doglife007 commented on #833
viyatb: workon seems to work  but don't really like it !!

[2017-02-28 20:27] viyatb commented on #833
@doglife007 There's no way around it. Kali Linux does not allow tools to modify the system Python environment.

[2017-03-01 23:42] viyatb commented on #821
Fixed in https://github.com/owtf/owtf/pull/827.

[2017-03-01 23:42] #821 closed

[2017-03-05 14:19] sachinkamath opened #836 "KeyError while installing - KeyError: 'WORKON_HOME'"
The installation of OWTF from ./owtf/owtf/install fails with a KeyError

## Current Behavior

Throws a `KeyError` :
<pre>
Traceback (most recent call last):
  File "install.py", line 307, in <module>
    installer_status_code = install(sys.argv[1:])
  File "install.py", line 211, in install
    setup_virtualenv()
  File "install.py", line 133, in setup_virtualenv
    if os.path.join(os.environ["WO

[2017-03-05 16:32] viyatb commented on #836
@sachinkamath you are not using the latest develop. This `    installer_status_code = install(sys.argv[1:])` was removed sometime back.

[2017-03-05 18:59] #836 closed

[2017-03-06 14:10] sachinkamath commented on #836
@viyatb Pretty sure I am on the latest develop :)

![screenshot from 2017-03-06 19-38-34](https://cloud.githubusercontent.com/assets/9546091/23613267/c25af198-02a4-11e7-9bb6-bc4c66d9a14c.png)

[2017-03-06 14:16] viyatb commented on #836
@sachinkamath you must've updated after this. The lines on your stacktrace do not exist in the latest develop.

[2017-03-06 14:35] sachinkamath commented on #836
@viyatb Yes. After I saw your message, I did update and had the same error. That's why I commented.

[2017-03-06 15:16] viyatb commented on #836
@sachinkamath can you post the stacktrace from the updated installation?

[2017-03-06 15:34] sachinkamath commented on #836
@viyatb, I pulled #837 from @DarKnight24 's repo and it seemed to have worked. Ran the install again after cleaning up my `.zshrc` and  `git reset --hard HEAD~1` and here is the stacktrace :

<pre>
Traceback (most recent call last):
  File "install.py", line 304, in <module>
    install(sys.argv[1:])
  File "install.py", line 214, in install
    setup_virtualenv()
  File "install.py", line 129, in

[2017-03-06 15:42] viyatb commented on #836
@sachinkamath that did not fix the installation. It simply skipped the `pip` dependency installation because the environment variable was not found.
I don't have access to an Arch installation but I don't understand why the environment variables are not being updated. There can be 2 reasons: either your .zshrc is doing something funny or there is a problem with Arch specifically (less probable).

[2017-03-06 15:51] sachinkamath commented on #836
@viyatb Ah, got it. Will dig in and let you know. Thanks :smile:

[2017-03-06 16:51] sachinkamath commented on #836
@viyatb Finally figured it out. Arch has python3 as the default Python interpreter so `virtualenv` was symlinked to the `python3-virtualenv`.

Not a big fan of python3 so the following fixed it:
<pre>
cd /usr/bin
ln -sf virtualenv2 virtualenv
</pre>

IMO, we should explicitly use `virtualenv2` instead of `virtualenv` in install.py.

[2017-03-06 18:17] viyatb commented on #836
@sachinkamath good idea. @DarKnight24 can you send a PR?

[2017-03-06 18:34] sachinkamath commented on #836
@viyatb @DarKnight24 Forgot one more thing. I had to change the [source line](https://github.com/owtf/owtf/blob/develop/install/install.py#L118) from `source /usr/local/bin/virtualenvwrapper.sh` to `source /usr/bin/virtualenvwrapper.sh` on Arch. We should also maybe check if `/usr/local/bin/virtualenvwrapper.sh` exists or not.

The no such file or directory can easily go un-noticed on stdout. If t

[2017-03-06 18:37] viyatb commented on #836
@sachinkamath that's a Arch specific thing afaik. Send a PR - @DarKnight24 can check if its valid!

[2017-03-07 18:03] DarKnight24 commented on #836
@sachinkamath What is the location of `virtualenvwrapper.sh` file in arch linux. Try `locate virtualenvwrapper.sh` to get it.

[2017-03-07 19:18] greenfreq opened #839 "Script installation of Httprint cant find tools/restricted/httprint"
Running Fresh installation of Debian 8.7 (7Mar2017)
After performing a git clone (without -b branch) and running the install/install.py  an error occurs stating that tools/restricted/httprint is missing and the script exists with:

OSError: [Errno 2] No such file or directory: '/home/sysadmin/owtf/tools/restricted/httprint'

## Expected Behavior
I presume that Httprint should be installed

## Curr

[2017-03-07 19:22] viyatb commented on #839
@greenfreq There have been some changes. Can you download the latest version from the develop branch? https://github.com/owtf/owtf/archive/develop.zip

[2017-03-07 19:37] greenfreq commented on #839
After renaming the old owtf and downloading the above develop.zip and running the install script no errors were identified; however, execution of owtf.py shows a misiing module named tornado.
Do you want a new issue entered?
<snip>
Traceback (most recent call last):
  File "./owtf.py", line 14, in <module>
    from framework.core import Core
  File "/home/sysadmin/owtf-develop/framework/core.py",

[2017-03-07 19:38] viyatb commented on #839
@greenfreq you need to run the install script again. There have been a ton of changes since the last release.

[2017-03-07 19:41] greenfreq commented on #839
@viyatb Not sure which install script you are refering to.  As I stated in my comment above, I moved the old git clone and downloaded the zip file and ran the install/install.py script from that dev version.  No error were reported during the install.

[2017-03-07 20:05] viyatb commented on #839
@greenfreq I meant the `install/install.py` script. As your installation traceback says, and the ![readme](https://github.com/owtf/owtf/blob/develop/README.md) says, you need to reload your script configuration and activate the OWTF python environment.
Do
`source .bashrc`
`workon owtf`.

This has been done to provide a clean Python environment for OWTF (and to support every Linux distribution).

[2017-03-07 20:16] greenfreq commented on #839
the source and workon commands appear to have done the trick

[2017-03-09 00:44] viyatb commented on #695
@saganshul there are a couple of bugs in the new interface:

- [ ] The filters do not work.
- [ ] The proxy transactions should ideally be colored when "selected" => highlight the row.
- [ ] The transactions view does not have pagination.
- [ ] Browse files do not give the correct path from the file server (assigned to me).

[2017-03-09 23:44] #839 closed

[2017-03-21 01:42] viyatb commented on #784
Most of the tools are included by Kali and can be upgraded using `apt-get dist-upgrade` or `apt-get upgrade`. Others are just hosted on external websites but are not updated as frequently.
IMO it is not the job for OWTF (+ discussion on https://github.com/owtf/owtf/pull/843)

[2017-03-21 01:42] #784 closed

[2017-03-21 10:43] DePierre commented on #784
@viyatb I agree with you. @DarKnight24 It is not OWTf's job to make sure that your distribution is up-to-date but the user's responsibility.

[2017-04-04 17:21] saganshul commented on #695
@viyatb In first point, which filters are you talking about?

[2017-04-04 17:49] viyatb commented on #695
@saganshul the advanced filters in the report.

[2017-04-07 07:24] CreativeWolf opened #846 "Unable to Add Workers"
## Expected Behavior
Add Worker should be able to add more workers

## Current Behavior
Throws Error

[code]

## Steps to Reproduce (for bugs)
1. Go to Workers - Try and Add Workers

## Logs
Please let me know which log files need to be posted

## Context
Unable to add workers

## Your Environment
* Installation method used: Git
* Version/branch used: Current
* Operating System and version (like K

[2017-04-07 21:04] viyatb commented on #846
@CreativeWolf can you provide UI logs from `/tmp/owtf`?

[2017-04-10 16:58] viyatb commented on #846
@CreativeWolf did you resolve the issue?

[2017-04-10 21:10] CreativeWolf commented on #846
@viyatb Heya, sorry wasn't able to spend time on this last few days.

Had done nothing after that but I was able to add 2 workers today right after starting owtf and right after trying to run a plugin, again tried adding workers, back to the same issue.

Here's log from ui_server.log - https://pastebin.com/KiSJrQ9z

[2017-04-10 21:25] viyatb commented on #846
@CreativeWolf from the log file, I can infer this:
The main problem I think are the PostgreSQL Python adapter "SSL" error which from https://devcenter.heroku.com/articles/postgres-logs-errors#pgerror-ssl-syscall-error-eof-detected is due to incorrect engine creation with multi-processing in the framework.

[2017-04-10 21:31] CreativeWolf commented on #846
@viyatb Is there something that I can do to fix this issue from my end? Any pointers please?

[2017-04-10 21:41] viyatb commented on #846
@CreativeWolf I don't think so. This is a problem we identified before we switched to using pooling in SQLAlchemy. I am reverting that commit to disable pooling.

[2017-04-10 22:20] viyatb commented on #846
@CreativeWolf fix has been pushed to develop in https://github.com/owtf/owtf/commit/f2b11188548832d1400ecb4a871f49b423d677f5. Let me know if you have any more problems.

[2017-04-10 22:20] #846 closed

[2017-04-21 12:51] nicolabressan opened #847 "Incorrect nikto ssl switch check"
The following part of run_nikto.sh script is used to check if website provides SSL to determine if -ssl switch for nikto should be used:

[code]

## Expected Behavior

-ssl switch should not be added while website doesn't support ssl on a specific port

## Current Behavior

testing the output of openssl s_client -connect for being greater of 15 lines to be sure that SSL is accepted on a port it's

[2017-04-21 14:32] DePierre commented on #847
@nicolabressan Thanks for reporting the issue. I totally agree with you: checking if the output is larger than 15 lines is not the way to go.

[2017-04-21 17:27] viyatb commented on #847
@nicolabressan @DePierre +1, this may been correct for when the script was written (~4 years ago!) and it has not been updated since.

@nicolabressan can you send a pull request?

[2017-04-21 18:42] nicolabressan commented on #847
@viyatb ok did it 👍

[2017-04-22 19:49] viyatb commented on #847
Fixed in https://github.com/owtf/owtf/commit/f2b2a3573a15af7e05b5b9e675c37fb61a2a45c8.

[2017-04-22 19:49] #847 closed

[2017-04-25 21:28] viyatb commented on #829
Fixed in PR https://github.com/owtf/owtf/pull/832.

[2017-04-25 21:28] #829 closed

[2017-05-04 23:24] csk opened #849 "Report enhancements - Pentext XML"
About "OWASP OWTF - Report enhancements" feature request. https://www.owasp.org/index.php/OWASP_Code_Sprint_2017#OWASP_OWTF_-_Report_enhancements

## Expected Behavior

Export a nice report with template, findings, and additional pentester's notes into multiple formats.

## Current Behavior

Currently the tool has a report plugin which show a javascript/html report showing a parsed plugin output.

[2017-05-05 16:49] viyatb commented on #849
Hey @csk, did you take a look at https://github.com/owtf/reboot/issues/17?
While Pentext sounds good, it might be difficult to integrate with OWTF as we are moving towards a full React.js based web interface.

[2017-05-05 18:34] csk commented on #849
Thx for the quick response! I am a bit confused about the owtt/reboot respository. It's like a full remake of owtf? Should this issue be part of owtf/reboot also?

I understand willing to move the frontend to React.js and the report stuff with it, but anyways there is a need of a standard xml format to export to and the frontend shouldn't have to do with it as the xml is build querying the DB. I a

[2017-05-05 18:40] viyatb commented on #849
Re: owtf/reboot repository is a place to write and discuss potential new ideas for OWTF (breaking new features).

Yes, I agree that XML would help in structuring the data from the DB into a nice report. Can you explain in a little bit more detail how you would integrate it with React based web interface? I was thinking in terms of having a separate "Report" builder where the user can have addition

[2017-05-05 19:11] csk commented on #849
For a pentest report, owtf still misses information like title, logos, version control, executive summary, conclusions, etc ... whatever section and subsections the pentester needs. OWTF will still need a web interface (React or not) so the user can write this part of the report and store it in the db (probably per session). I agree that markdown would be nice. The findings part of the report is g

[2017-05-05 19:29] viyatb commented on #849
@csk yes, exactly. This is why I said that we need to include a separate report builder to let user add  their own templates, and format the data according to their needs. I think Markdown wins in this case and then we can convert the Markdown markup to PDF or any other format for export.

[2017-05-08 12:38] jaylinski opened #850 "SQL exception in file-server"
I can't seem to get workers to pick up jobs from the worklist.

## Expected Behavior
Docker image works out of the box, workers pick up tasks from worklist.

## Current Behavior
Exceptions in file-server are thrown.
Workers are not picking up tasks from worklist.

## Steps to Reproduce (for bugs)
1. Build and start docker image as described in https://github.com/owtf/owtf-docker
2. Add target and

[2017-05-09 02:06] viyatb commented on #850
@jaylinski Thanks for reporting the issue! I am investigating whether the bug was introduced in part by me in f2b11188548832d1400ecb4a871f49b423d677f5.

[2017-05-09 21:11] jaylinski commented on #850
@viyatb Thanks! Anything I can help you with?

[2017-05-09 21:20] viyatb commented on #850
@jaylinski The core issue is that OWTF uses multiprocessing and SQLAlchemy+psycopg2 combination needs to be tweaked carefully to have deadlock free transactions. We used `NullPool` (which essentially means that there are no queues). We shifted to `QueuePool` a while back along with some fixes for multiprocessing.
We still had some problems due to deadlocks, so I reverted the codebase back to use N

[2017-05-13 19:12] saganshul commented on #695
@viyatb I checked advance filters are working correctly. Can you please specifically tell me which filter is not working?

[2017-05-13 20:06] saganshul commented on #695
@viyatb Also in sorting thing, on which basis should I sort?
We don't have pagination here because table contains all the transactions.

[2017-05-13 20:09] viyatb commented on #695
@saganshul
re sorting: Time
re Pagination: I think if we have lots of transactions, it would be better to have pagination like in the old UI.

re Advance filters: Let me confirm it again ;)

[2017-05-13 22:02] viyatb commented on #850
@jaylinski I can't reproduce this - more evidence that this is some race condition/wierd deadlock.
Can you try again and check if that error occurs?

[2017-05-14 09:48] jaylinski commented on #850
@viyatb :thinking: I just reproduced this on my Ubuntu 16.04 64bit machine. (So it is not a problem with macOS).

Like I said, I built a fresh docker-image via
[code]
As soon as I submit a task to the worklist, the exception occurs...

What host-system are you using to build and run the docker-image?

[2017-05-14 15:09] viyatb commented on #850
@jaylinski same Docker on macOS.

[2017-05-14 21:32] jaylinski commented on #850
@viyatb I debugged it further.

I built the image with commit 5f15a5c72cbf3103ccbf378a61d825dd4fe161f9 (the one before the db-pool change). Same problem.

The exception is thrown as soon as I press the "Run"-button in `/ui/targets/`. This request causes the exception: `http://localhost:8009/api/plugins/?group=web&group=network&_=1494790943076`.

There is also an exception entry in `ui_server.log`:

[2017-05-16 09:51] jaylinski commented on #850
@viyatb I guess something goes wrong while the image is built.

Could you please upload the latest release to the Docker Hub (https://hub.docker.com/r/owtf/owtf/tags/)? Thank you!

[2017-05-16 15:14] viyatb commented on #850
@jaylinski ok, let me try that :)

[2017-05-22 06:43] jaylinski commented on #850
@viyatb Thank you, please ping me when the upload is done. I'll give it a try. :)

[2017-05-23 01:08] viyatb commented on #850
@jaylinski I think the problem is with `ssl=true` in the `postgresql.conf`. I'll add it to the `postgres_entry.sh` tonight.

[2017-05-30 17:03] viyatb commented on #850
@jaylinski that did solved the problem. I haven't pushed out the built image yet, but you can use the Docker container which maps to the source on local disk as a workaround for now. The readme explains you the details.
Let me know if you have any problems with that.

[2017-05-31 19:41] Tikam02 commented on #516
same problem

[2017-05-31 19:47] Tikam02 commented on #516
i have fixed this issue

[2017-05-31 20:09] Tikam02 commented on #516
You have to Make a folder like i made Pentest folder in Desktop.Then run it by changing it into OWTF folder.then run it.
1) cd owtf
2)source ~/.bashrc; workon owtf
3)cd /root/Desktop/pentest; /root/owtf/owtf.py

It works 100%
![owtf1](https://cloud.githubusercontent.com/assets/10548085/26651598/d379b19e-466a-11e7-8240-2a44fca2504f.png)

[2017-06-03 20:15] Tikam02 opened #851 "Server Error : Internal Server Error.[Target Services Not running]"
I was Trying to run on different targets default 10 targets to execute.On default session.But it shows that internal server error.

Expected Behavior
It should run or execute on given targets and services but it shows internal server error.Also running on web or network services it shows nothing and all checked box were again unchecked.

 Current Behavior:
Internal Server Error:
![otfw2](https://c

[2017-06-04 17:18] jaylinski commented on #850
@viyatb Can confirm! :tada:

Looking forward for you pushing the fixed image. Thank you!

[2017-06-04 17:18] #850 closed

[2017-06-05 22:18] viyatb commented on #851
@Tikam02 can you provide the logs from `/tmp/owtf`?

[2017-06-05 22:30] #262 closed

[2017-06-06 06:51] Tikam02 commented on #851
ui_server.log

[I 170606 02:28:55 process:133] Starting 4 processes
[I 170606 02:29:40 web:2063] 302 GET / (127.0.0.1) 29.87ms
[I 170606 02:29:41 web:2063] 304 GET /ui/ (127.0.0.1) 182.44ms
[W 170606 02:29:43 web:2063] 404 GET /favicon.ico (127.0.0.1) 69.37ms
[I 170606 02:29:47 web:2063] 304 GET /api/update/ (127.0.0.1) 4451.70ms
[I 170606 02:29:58 web:2063] 304 GET /ui/targets/ (127.0.0.1) 88.53m

[2017-06-06 18:19] Tikam02 commented on #739
Yeah it has many essential features that can be implemented :

It seems like testssl.sh will  speed up the scanning process of targets and altogether scanning and testing process.

[2017-06-08 19:29] Tikam02 commented on #825
@jack17529 can  you please provide the log.

[2017-06-08 20:44] viyatb opened #852 "Add user login and signup handlers"
OWTF should provide authentication options for users to log in and securely run tests if OWTF is hosted on a public IP.

It is possible to use Tornado to provide authentication really easy as given on http://www.tornadoweb.org/en/stable/auth.html

[2017-06-08 21:41] Tikam02 commented on #852
Yeah like BEEF's  Authentication it will be more secure for users. Plus point it has many integrated Api's and other third party services which will be really great for implementing in Owtf.

[2017-07-06 13:47] Tikam02 commented on #851
I worked on this issue and now it is fixed.Actually there was a problem on scripts/db_run.sh, owtf was previously executing without running properly db that was causing problem in my environment.
Now its running properly with multiple workers and harvesting credentials along with all the .html and .css files.
![oetf-server-error-fixed](https://user-images.githubusercontent.com/10548085/27914034-96

[2017-07-06 16:33] viyatb commented on #851
@Tikam02 are you saying that the issue is resolved?

[2017-07-07 00:21] Tikam02 commented on #851
##Yes the issue is resolved.We can close it now.
###starting it was not connecting to internal db.It works fine now and workers  executing  it.
here is log file the ui_server.log

![final-server-log](https://user-images.githubusercontent.com/10548085/27937911-2ad81096-62d8-11e7-8a6b-e0ef46a03cfa.png)

[2017-07-08 00:00] Tikam02 commented on #387
Nope it starts normally and loads fast.

[2017-07-08 01:35] #851 closed

[2017-07-08 15:28] viyatb commented on #387
Closing an wont-fix for now. I experimented with the engine parameters and did not see a sufficient increase in startup time. The `poolclass`, `poolsize` and `max_overflow` parameters were tested. Most of the tweaking is hard because it introduces blocking mechanisms (leading to deadlocks) due to the use of Python's `multiprocessing` in OWTF.

[2017-07-08 15:28] #387 closed

[2017-07-08 16:10] viyatb commented on #264
NTML is rarely used in web applications as an authentication mechanism and Tornado does not support it out of box.

[2017-07-08 16:10] #264 closed

[2017-07-08 16:16] viyatb commented on #743
Closing as won't-fix because Burp does not provide a ReST API.

[2017-07-08 16:16] #743 closed

[2017-07-08 16:22] viyatb commented on #317
Closing this as not applicable in the new UI. (see https://github.com/owtf/owtf/tree/ui_improvements)

[2017-07-08 16:22] #317 closed

[2017-07-08 16:26] viyatb commented on #849
Closing as duplicate of https://github.com/owtf/owtf/issues/695.

[2017-07-08 16:26] #849 closed

[2017-07-08 16:31] viyatb commented on #749
Closing as duplicate of https://github.com/owtf/owtf/issues/695.

[2017-07-08 16:31] #749 closed

[2017-07-08 16:34] viyatb commented on #852
Added to epic issue https://github.com/owtf/owtf/issues/695.

[2017-07-08 16:34] #852 closed

[2017-07-08 16:37] viyatb commented on #769
This has been done in the `ui-improvments` branch! :)

[2017-07-08 16:37] #769 closed

[2017-07-08 16:47] #299 closed

[2017-07-08 16:52] viyatb commented on #226
Not applicable now - cannot reproduce. This works:
[code]

[2017-07-08 16:52] #226 closed

[2017-07-25 11:38] binaryAccess commented on #312
I just experienced the same issue and it was resolved by running /scripts/db_setup.dh from the root directory instead of the scripts directory

[2017-07-25 17:16] viyatb commented on #312
@binaryAccess Yes, this can happen if PostgreSQL is not running during the instance (or fails somehow) and the user is not created.

[2017-07-31 12:12] DePierre opened #862 "IndexError in /owtf/scripts/ssl/reporter.py"
Running the `Testing_For_Ssl-Tls` plugin throws an `IndexError` in /owtf/scripts/ssl/reporter.py

OWTF:
[code]

Setup:
[code]

Thanks @nico34 for reporting the issue

[2017-07-31 12:15] DePierre opened #863 "TypeError in Wapiti Unauthenticated plugin"
Running the `Wapiti_Unauthenticated` plugin throws a `TypeError` in wapitiCore/language/language.py

OWTF:
[code]

Setup:
[code]

Thanks @nico34 for reporting the issue

[2017-07-31 12:18] DePierre opened #864 "LoadError in Arachni_Unauthenticated"
Running the `Arachni_Unauthenticated` plugin throws a `LoadError ` in arachni.

OWTF:
[code]

Setup:
[code]

Thanks @nico34 for reporting the issue

[2017-07-31 12:29] DePierre opened #865 "Stored XSS in Worker Log"
There is a stored XSS when accessing the worker logs in the web UI. When you click on the worker log to see ALL lines, valid HTML/JS will not be escaped, leading to the XSS.

The following worker log contain a simple XSS creating a pop-up with 'VULNERABLE' in there:
[code]

IMO there is no impact due to the setup of OWTF running inside a container, the lack of session management, etc. But it shoul

[2017-07-31 18:05] viyatb commented on #865
@DePierre @nico34 Thanks for the report! I'll fix this today - should be simple case of sanitizing and escaping the log output before serving through the REST API.

[2017-07-31 18:23] viyatb commented on #862
@DePierre @nico34 Thanks for the report! I am looking at alternative ways to create a HTML report which does not involve OWTF maintaining the script since it breaks regularly.

[2017-07-31 18:25] viyatb commented on #864
@DePierre @nico34 Thanks for the report! I have noticed this issue only recently, so it must have been change in the arachni's CLI flags or configuration script. I'll have a look at this.

[2017-08-01 08:11] viyatb commented on #865
Should be fixed in develop.

[2017-08-01 08:11] #865 closed

[2017-08-01 10:16] Tikam02 commented on #862
The main Error is this :
[*] File "/owtf/scripts/ssl/reporter.py", line 13, in <module>
[*] if data[0]['status'] == 'ERROR':
[*] IndexError: list index out of range

but when running manually -- cd owtf_review/targets/http__192.168.1.59/partial/Testing_For_Ssl-Tls/active;/usr/bin/o-saft +cipher --force-openssl 192.168.1.59 --port 80

It gives warning on SSL version checks:

![ssl-tls](https://user

[2017-08-01 11:48] Tikam02 commented on #862
I think issue ia about the version problem.
Because in my system its not showing any error in reporter.py.
![ssl-tls1](https://user-images.githubusercontent.com/10548085/28823379-48375a22-768b-11e7-9058-16bab518ba79.png)

![ssl-tls-v](https://user-images.githubusercontent.com/10548085/28823522-fc3386b8-768b-11e7-8736-02ed36bb7486.png)

[2017-08-01 16:17] viyatb commented on #862
@Tikam02 it is the SSL labs reporting script which is failing not O-saft.
@DePierre ^

[2017-08-01 16:19] viyatb commented on #863
@DePierre @nico34 I cannot reproduce this. Maybe this is a language/locale problem (distro related)?

[2017-08-01 16:24] viyatb commented on #864
On a closer look, this has something to do with Ruby configuration on Kali. Seems like they broke it.

[2017-08-02 00:26] DePierre commented on #862
@viyatb No idea. I just pasted the logs from @nico34, hoping it would be enough to reproduce the error.

[2017-08-02 00:27] DePierre commented on #863
@viyatb No idea. IMO looking at the error, it's a Wapiti issue anyway and should be reported upstream.

[2017-08-02 00:27] DePierre commented on #864
@viyatb Do you know if they are going to fix it? Or should we wait for Arachni to fix it? Or something else?

[2017-08-02 00:50] viyatb commented on #863
@DePierre agreed. I'll do that.

[2017-08-02 02:06] viyatb commented on #864
@DePierre we report it upstream and wait.

[2017-08-02 09:13] Tikam02 commented on #864
I checked the files for errors for "require_relative" that's for path and top<required> i think that was correct.
and also checked for soltuions and here i got that it has some ruby files problem.
https://bugs.kali.org/view.php?id=3306

I think they also got same issues, but In Arachni it was closed.
https://github.com/Arachni/arachni/issues/227
https://github.com/Arachni/arachni/issues/874
https:

[2017-08-05 18:54] viyatb commented on #862
Closed in https://github.com/owtf/owtf/commit/90d18ea4252e5507e623acb0cdd76bbd03161a82.

[2017-08-05 18:54] #862 closed

[2017-08-10 20:51] DePierre commented on #863
As discussed, this issue is related to Wapiti and should be fixed upstream. Since Wapiti is abandoned, there is not much we can do, except recommending updating the Kali machine, hoping that it would fix the issue.

Closing.

[2017-08-10 20:51] #863 closed

[2017-08-15 15:49] viyatb commented on #46
Moved to https://github.com/owtf/community-plugins/issues/1.

[2017-08-15 15:49] #46 closed

[2017-08-15 15:50] viyatb commented on #59
Moved to https://github.com/owtf/community-plugins/issues/2.

[2017-08-15 15:50] #59 closed

[2017-08-15 15:51] viyatb commented on #62
Moved to https://github.com/owtf/community-plugins/issues/3.

[2017-08-15 15:51] #62 closed

[2017-08-15 15:52] viyatb commented on #348
Moved to https://github.com/owtf/community-plugins/issues/4.

[2017-08-15 15:52] #348 closed

[2017-08-15 15:54] viyatb commented on #677
Moved to https://github.com/owtf/community-plugins/issues/5.

[2017-08-15 15:54] #677 closed

[2017-08-15 15:55] viyatb commented on #678
Moved to https://github.com/owtf/community-plugins/issues/6.

[2017-08-15 15:55] #678 closed

[2017-08-15 15:56] viyatb commented on #739
Moved to https://github.com/owtf/community-plugins/issues/7.

[2017-08-15 15:56] #739 closed

[2017-08-21 03:26] Tikam02 commented on #825
@jack17529  i could not produce the same issue, it's working fine on my system, just check updates or do update your kali repository check it once.

![w3af2](https://user-images.githubusercontent.com/10548085/29502517-78f2c020-85e5-11e7-8968-13f72cd5bb1b.png)
![w3af](https://user-images.githubusercontent.com/10548085/29502518-79eb0eec-85e5-11e7-8d87-42778db37af2.png)

[2017-08-22 01:48] viyatb commented on #825
w3af-console was broken for some time before, but its fixed in the new version.

[2017-08-22 01:48] #825 closed

[2017-08-22 01:57] viyatb commented on #864
Closing as fixed upstream - https://bugs.kali.org/view.php?id=3306.

[2017-08-22 01:57] #864 closed

[2017-08-25 21:59] #310 closed

[2017-08-30 00:43] viyatb commented on #581
Merged in https://github.com/owtf/owtf/commit/520cdc01356be73a46a82db832ae04411aa36b7e.

[2017-08-30 00:43] #581 closed

[2017-09-06 23:00] peterpt opened #882 "rebuild setup"
I notice that even with most dependencies installed in my linux , OWFT still goes get those dependencies to install them .
You should build a setup based on detection .
This means that before downloading and installing tools (nikto , arachni , hooper , etc ....) , the setup script should check if those tools are already installed .
A simple

"which programexecutablebinary"
would be enough .
In cas

[2017-09-07 03:43] viyatb commented on #882
Hi @peterpt, thanks for trying out OWTF! Can you tell us what Linux distribution are you using?

[2017-09-07 19:00] peterpt commented on #882
My linux distribution is a kali wheezy migrated to Devuan Linux .
By the way , your hopper link is dead in your script , i had to look for that version on the web and install it manually .

[2017-09-07 19:18] viyatb commented on #882
@peterpt We support only Kali linux for out-of-box installation. Otherwise use Docker to run OWTF.
re hopper: are you talking about `hoppy` tool?

[2017-09-07 20:53] peterpt commented on #882
yes , hoppy tool .
I think that if your script detects the tools first will be better .
At the end after everything installed i got an issue on virtual environment , which tells me to edit .bashrc
and add something .
Well , something like that , i did not had much time to deal with that issue because i have been very occupied in last days .

[2017-09-07 20:58] viyatb commented on #882
@peterpt We are moving to a pip based installation. It will simplify the installation to a great extent. However the official supported distribution will Kali with Docker support for everything else.
If you want to try that (fair warning - maybe unstable), go to https://github.com/owtf/owtf/tree/develop.

[2017-09-07 21:01] peterpt commented on #882
Thanks , i  will surely test the developer version .

[2017-09-18 02:27] viyatb opened #883 "Convert complex configuration files to YAML"
The INI format is not every readable and there is no structure in the current configuration files. Converting them to YAML has several advantages:
- clean, simple markup
- structure with mappings and lists
- will remove much of the parsing logic in the config.py

[2017-09-27 21:44] #882 closed

[2017-09-27 21:47] viyatb opened #885 "REST API documentation in Sphinx style"
OWTF provides a nice REST API for clients to communicate with OWTF and build more tools on top of the framework. It would be nice if there is Sphinx style documentation for the API. Here are a few resources to get started,
* https://pythonhosted.org/sphinxcontrib-httpdomain/#sphinxcontrib-autohttp-tornado-exporting-api-reference-from-tornado-app
* http://kartowicz.com/dryobates/2016-10/sphinx-rest

[2017-09-28 18:45] viyatb opened #886 "Add features to manage and run tools for bug bounty programs"
While OWTF includes tests and plugins for pentesting, bug bounties is a complete different creature. It is possible to automate the hard work by adding features like,

* Manage subdomains for a target
* Report draft
* Notes, screenshots, #todo lists
* Run tools like Sublistr to add new subdomains
* Add cron or worker jobs using Celery, etc

There is a lot we can do in this space.

[2017-10-04 06:27] biggydbs commented on #883
I am willing to solve this issue.

[2017-10-04 18:58] viyatb commented on #883
@biggydbs welcome to OWTF! Have you gone through the codebase and determine what changes should be required? This is a pretty easy task,

- [  ] Convert existing files to YAML.
- [  ] Edit the https://github.com/owtf/owtf/blob/develop/owtf/config/config.py to parse it correctly and replace the Python `ConfigParser` (which is used for .ini files) with YAML parsing.

[2017-10-08 17:37] madgab commented on #885
I will take this!

[2017-10-12 17:32] kumarabd commented on #885
I will take this up!

[2017-10-15 11:12] menzow opened #889 "Which version to use for docker and which branch is used for development"
## Expected behavior:
A successful build when using docker. I would also expect the installation to run on a Ubuntu installation that taps the kali repositories.

## Current behavior:
All branches I've tested had one or more issues when building or running the docker image. I've tried following the instructions from `README.md`, [PR(s)](https://github.com/owtf/owtf/pull/884), and [Makefile](https:

[2017-10-15 13:34] viyatb commented on #889
Hi @menzow,

If you want to use OWTF for testing purposes, please use the master branch (stable). If you wish to send a PR or want to participate in the development, then focus on develop (and other branches).

Now for installation, if you have a VPS with Kali packages installed, it is trivial to install OWTF without Docker. If you want to run OWTF with Docker for testing purposes, use the instruc

[2017-10-15 16:06] menzow commented on #889
Hey @viyatb,

Thanks for your fast response. It answers my confusion about which branches are used for what purpose, thanks for that.

I've managed to do a clean install and resolve all dependency issues on `2.1.1-Beta` and `2.1a`. Both are a bit unstable, probably because of version mismatches. Could you tell me which version of Kali you use? I can use that as a reference point in resolving these

[2017-10-15 16:09] viyatb commented on #889
`develop` is the branch me and others are working on right now with changing OWTF to a Python package format. I think all PRs should go there so that it stabilizes and I can release it as soon as I get some time to fix everything up.

[2017-10-22 04:35] viyatb commented on #762
Resolved by 2b2bd2214e538c5e1ed269fb57b75f91dd200e8c.

[2017-10-22 04:35] #762 closed

[2017-10-22 04:35] #452 closed

[2017-10-22 04:36] viyatb commented on #316
Cannot reproduce in `develop` anymore.

[2017-10-22 04:36] #316 closed

[2017-10-22 04:38] viyatb commented on #418
https://github.com/owtf/owtf/commit/2b2bd2214e538c5e1ed269fb57b75f91dd200e8c and a19cb7d3da79e9e7bf64c87583b79e37f421ead7 should resolve this. I don't think there is a need to provide a UI option for this.

[2017-10-22 04:38] #418 closed

[2017-10-22 05:53] viyatb commented on #449
Closed in https://github.com/owtf/owtf/commit/f3f65ea91d3f73d34f3dac403c80d98683ea2d75

[2017-10-22 05:53] #449 closed

[2017-10-22 05:54] #889 closed

[2017-10-22 05:54] viyatb commented on #889
@menzow Let me know if you need to open this issue again.

[2017-10-22 05:56] viyatb commented on #439
https://github.com/owtf/owtf/commit/2b2bd2214e538c5e1ed269fb57b75f91dd200e8c and a19cb7d3da79e9e7bf64c87583b79e37f421ead7  should have fixed this by properly removing an child processes for the worker.

[2017-10-22 05:56] #439 closed

[2017-10-23 08:18] spinfoo opened #897 "lib64 and pycurl problems in OpenSuse... maybe other distros"
I got several errors when installing owtf from the github repository.

First, when I run owtf.py, python failed to import several modules as time module. It seemed an issue with the 32/64-bit libraries of the virtualenv environment.

Second I got this error when executing owtf.py:

`ImportError: pycurl: libcurl link-time ssl backend (openssl) is different from compile-time ssl backend (none/other)

[2017-10-23 15:43] csk commented on #897
I have being playing lastly a lot with owtf installations , mostly the develop branch . Can you tell step-by-step how did you install owtf si I can check if it also happens in other Linux distributions ?

[2017-10-25 12:50] viyatb commented on #897
Closing the issue as it is a distro specific issue.

[2017-10-25 12:50] #897 closed

[2017-11-05 01:35] zzhiqi54 opened #903 "[Errno 2] No such file or directory: '/root/.owtf/db.cfg'."
Traceback (most recent call last):
  File "install/install.py", line 136, in <module>              install_restricted_from_cfg(restricted_cfg)               File "install/install.py", line 85, in install_restricted_from_cfg                                                        install_in_directory(os.path.expanduser(cp.get(section, "directory")), cp.get(section, "command"))                    Fil

[2017-11-05 03:36] viyatb commented on #903
@zzhiqi54 what version of OWTF are you running?

[2017-11-07 16:57] viyatb opened #904 "Removing Core access to Plugins"
_From @tunnelshade on August 2, 2015 1:42_

Most of our plugins use core to do one or more of the following things
- Get information related to the target it is being run on
- Get resources for that particular plugin
- Get the plugin helper function that it uses

First two are easily available through the API and the plugin helper functions are something that only plugins need. So, I don't think t

[2017-11-07 16:57] viyatb commented on #904
_From @DePierre on August 2, 2015 8:11_

When I tried that last year (c.f. https://github.com/DePierre/owtf/tree/classful_plugin) the result was not as clean as I wished it would.

The major problem is that the definition of each plugin type is not precise. So for the reboot project we would need to have a clear scope defined for each type of plugins. Then we'll have a better view about how to wri

[2017-11-07 16:57] viyatb commented on #904
@DePierre can you re-push the `classful_plugin` tree to your fork?

[2017-11-07 16:58] viyatb opened #905 "Plugin files rearrangement and Classification"
_From @tunnelshade on August 2, 2015 9:50_

#### Rearrangement

I think it is better to use only one file for each plugin code i.e all the active, passive, semi passive, grep and external plugins for a single test code are present in same file. There are some really good benefits that are available through this.

For example, lets say we have our robots.txt plugin. Irrespective of the plugin type

[2017-11-07 16:58] viyatb commented on #905
Yes, +1
This could make the code substantially  easier to read, modify and also useful when writing custom plugins.

[2017-11-07 16:58] viyatb commented on #905
_From @DePierre on August 8, 2015 17:9_

Not sure about the classification but I agree about the "each type of one plugin into one file" idea, browsing the plugins is annoying already.

I think for the reboot we should first put aside the idea of "Active, Passive, Semi-Passive, Grep and External" at the early beginning. Instead, we should build the basic class (classes most likely) and see what it

[2017-11-07 16:58] viyatb commented on #905
_From @tunnelshade on August 8, 2015 18:56_

@DePierre The present classification is for the end user and it is perfect. What I am suggesting in Classification is the class hierarchy. All plugins will inherit from the same base class.
- There can be semi passive and active plugins which only run commands. (Something like whatweb in semi passive and arachni in active)
- As of now all plugins output

[2017-11-07 16:58] viyatb commented on #905
_From @DePierre on August 8, 2015 19:32_

@tunnelshade OK for the classification for the end users. The more I think about it, the more it is likely that the classes for the plugins won't match the classification for the end users.

Of course we will have one base class, but will it be enough for all plugins? It is likely that we will have several base classes for them, one dealing with asynchrono

[2017-11-07 16:58] viyatb commented on #905
_From @tunnelshade on August 8, 2015 19:34_

+1 on the context manager.

One base class should do only because we use multiple things in multiple places. Yes, we can never match the developer perspective classification with the end user classification

[2017-11-07 16:58] viyatb commented on #905
_From @DePierre on August 8, 2015 19:40_

I don't like how "we use multiple things in multiple places" sounds :D Sounds like a mess. I am scared that we will end up with one huge messy Base Class like PluginHelper in fact.

Yes I realized that dev classification cannot match user one.

[2017-11-07 16:58] viyatb commented on #905
_From @tunnelshade on August 8, 2015 19:44_

I too don't like the sound. But the problem is we run commands in all Passive, SemiPassive and Active. External only shows resources. But we do that in Passive plugins as well. Fittingly, passive plugins also runs some commands XD. The only different and unique thing here is `Grep`.

[2017-11-07 16:58] viyatb commented on #905
_From @DePierre on August 8, 2015 19:46_

@tunnelshade I guess that is downside of have a gap between the dev classification and the end-user one. But I strongly believe that not all plugins run the same kind of commands and we might extract an architecture pattern from that.

[2017-11-07 16:58] viyatb commented on #905
_From @tunnelshade on August 8, 2015 19:55_

Not much classification but How is this?
- Grep plugins will have a seperate base plugin
- External plugins will have a seperate base plugin which will let you draw resource lists
- Semi Passive, Passive and Active can use one base which inherits from External Base class XD

[2017-11-07 16:58] viyatb commented on #905
_From @DePierre on August 8, 2015 19:57_

@tunnelshade Truth be told, this might be a decent draft of the class architecture for the plugins haha

[2017-11-07 16:58] viyatb commented on #905
_From @DePierre on August 13, 2015 18:42_

End-User Plugin Classification first draft: https://github.com/owtf/reboot/wiki/End-User-Plugin-Classification

Contribution needed :)

[2017-11-07 16:58] viyatb commented on #905
_From @DePierre on August 13, 2015 19:4_

Also Developer Plugin Classification (draft) draft: https://github.com/owtf/reboot/wiki/Developer-Plugin-Classification

[2017-11-07 16:58] viyatb commented on #905
_From @marioskourtesis on August 17, 2015 9:25_

Hi,

@Tao, I believe that the plug-ins should return a dictionary that contains
lists rather than having a list which contains dictionaries.

On Thu, Aug 13, 2015 at 9:04 PM, Tao Sauvage notifications@github.com
wrote:

[2017-11-07 16:58] viyatb commented on #905
_From @DePierre on August 17, 2015 19:54_

@marioskourtesis I also have that feeling, especially since it would make searching for specific information easier. @tunnelshade would you have arguments to defend the _list of dicts_ approach? I am curious

[2017-11-07 16:58] viyatb commented on #905
_From @tunnelshade on August 18, 2015 0:37_

@DePierre Can you show me a sample of what you mean when you say a dict of lists? Do you mean the current list be put inside a dict with some metadata? I can tell why we are having dicts inside list now. As a sample

[code]

The list will control the order in which these UI elements are present. Each dict inside the list will have metadata which is used

[2017-11-07 16:58] viyatb commented on #905
_From @DePierre on August 23, 2015 20:47_

Just to sum up what has been said between @tunnelshade and I. The plugin should return a list of dictionaries where each dictionary represent some HTML results.
It could be the HTML response match or the output of a command.

While trying to convince him about using a dict of dicts, we would end-up with something like that:

[code]

It might look better a

[2017-11-07 16:58] viyatb commented on #905
_From @DePierre on August 23, 2015 20:56_

On another topic, I thought that we could have the command used by a plugin in the same directory as the plugin is stored. I think I have seen that in another security project (can't remember it for now).

The idea would be that instead of having all commands in a single file, where it is (at least for now with the custom configuration file that we have w

[2017-11-07 16:58] viyatb commented on #905
_From @tunnelshade on August 24, 2015 1:30_

The point of having all resources together and seperate from their corresponding plugins is to make them user editable from the interface some day. This being said, the current profile files need to be improvised which we will track as a seperate issue.

[2017-11-07 16:58] viyatb commented on #905
_From @DePierre on August 24, 2015 15:30_

@tunnelshade I don't see how it addresses my suggestion about the one-configuration-file-per-plugin thing.

[2017-11-07 16:58] viyatb commented on #905
_From @marioskourtesis on August 25, 2015 11:59_

About the plug-ins, I believe it would be better to return a dictionary
that specifies what are the returned data and everybody understand it with
the first look, rather than knowing by heart that the first element of the
returned list is the response and so on.

About the plug-in command, yes it would be much better to store it in the
plug-in fold

[2017-11-07 16:58] viyatb commented on #905
_From @tunnelshade on August 27, 2015 3:31_

@DePierre Having these commands distributed in multiple files, providing them in user interface for editing is a big task. I am still thinking about this.

@marioskourtesis +1 on being able to run plugin seperately

You don't remember what is the first element or second element of the list. It is not same for all the plugins. It can be opposite for two

[2017-11-07 16:59] viyatb opened #906 "Workers/Slaves Naming"
_From @tunnelshade on August 2, 2015 10:14_

As of now all the information related to a worker is in memory. Since we are planning for a distributed version, @DePierre has a way of exchanging information between **slave** and master node.

I also want us to pick the names carefully. i.e A single slave node can have multiple plugin processes running. So is the name **slave** intuitive? I have one s

[2017-11-07 16:59] viyatb commented on #906
_From @DePierre on August 2, 2015 16:49_

I wish to use Warcraft 3 unit names for the hierarchy mostly for fun. One possibility could be:
- Peon for the lowest element in the chain, i.e. the worker process
- Grunt for the element just above, i.e. worker manager
- Hero for the highest element, i.e. Master

[2017-11-07 16:59] viyatb commented on #906
IMHO, it would easy to remember something based on army ranks :P,
- Private - worker process
- Colonel - worker manager
- <s>General</s> Commander - master node

[2017-11-07 16:59] viyatb commented on #906
_From @tunnelshade on August 8, 2015 12:27_

Is "General" not too general? :P

[2017-11-07 16:59] viyatb commented on #906
_From @DePierre on August 8, 2015 17:2_

Let's keep the army out of the project.

[2017-11-07 16:59] viyatb opened #907 "Slave authentication"
_From @tunnelshade on August 7, 2015 2:35_

Planning on using client certificates to authenticate the slaves. It will be easier to generate certs for each slave and moreover tornado has inbuilt facility to specify client certs in http requests. Check [this](http://tornado.readthedocs.org/en/latest/httpclient.html#tornado.httpclient.HTTPRequest) on providing client key and cert in tornado

_Copied

[2017-11-07 16:59] viyatb commented on #907
+1 must have.
Or we can have an `agent` service that authenticates each slave to the master.

[2017-11-07 16:59] viyatb commented on #907
_From @DePierre on August 8, 2015 17:13_

We definitely need the advice of some crypto experts on this matter. It's way out of my league tbh and I don't want to blindly trust some student on that matter and see our architecture being insecure on our first release.

[2017-11-07 17:02] viyatb opened #908 "Proxy on Slaves"
_From @tunnelshade on August 8, 2015 7:4_

As we are planning for a distributed architecture, it is not really ideal to use only one proxy i.e on master. I suggest we put the proxy on the Slave and the Slave serves the bare minimum interface for the proxy features like interception. Once a plugin is done, or periodically all the HTTP transactions from slave are pushed to the master. This has some

[2017-11-07 17:02] viyatb commented on #908
_From @DePierre on August 8, 2015 17:16_

I agree with putting one proxy instance for each slave. In fact I don't really see how we can do otherwise.

@tunnelshade What's your fear about the http request cache? What does it mean?

[2017-11-07 17:02] viyatb commented on #908
_From @tunnelshade on August 8, 2015 18:50_

@DePierre If w3af and arachni are running on two seperate "Grunts", caches for these grunts are different. There will lots of repeated requests during crawling of both the tools.

[2017-11-07 17:02] viyatb commented on #908
_From @DePierre on August 8, 2015 19:26_

@tunnelshade So one solution would be creating a set of the http requests when polling the proxy cache of each peon. Or is the problem elsehwere? I am not sure to fully understand it.

[2017-11-07 17:02] viyatb commented on #908
_From @tunnelshade on August 8, 2015 19:28_

@DePierre That slows down the proxy. IMHO the way is to send one target plugins to one Grunt and if it is not available then only send it to other grunt.

[2017-11-07 17:02] viyatb commented on #908
_From @DePierre on August 8, 2015 19:36_

Yes that makes more sense indeed.

[2017-11-07 17:03] viyatb opened #909 "Replace plugins using Curl commands with Requester usage"
_From @tunnelshade on August 8, 2015 18:57_

I think it is better to use the requester module instead of curl and obviously for this the requester module has to be improvised.

_Copied from original issue: owtf/reboot#10_

[2017-11-07 17:03] viyatb commented on #909
_From @DePierre on August 23, 2015 21:6_

@tunnelshade Are you talking about the plugins running curl commands like OWASP-CM008? Or is it broader than that?

In a more general way, I think we should avoid as much as possible writing bash code within python.

[2017-11-07 17:03] viyatb commented on #909
_From @tunnelshade on August 24, 2015 1:23_

Plugins first, we use lot of curl commands, where as we should be doing it with our requester module

[2017-11-07 17:03] viyatb commented on #909
_From @DePierre on August 24, 2015 15:28_

I agree on that yes.

[2017-11-07 17:03] viyatb opened #910 "Headless Browser in requester"
_From @tunnelshade on August 8, 2015 19:26_

We have a simple requester as of now which is good for sending HTTP requests. It will be great to also have a headless browser factory inside the requester. The typical flow when requested for an authenticated browser instance
- The "Requester" module checks if there is any login parameters provided (i.e creds or script or whatever)
- Create a browser i

[2017-11-07 17:03] viyatb opened #911 "Unit Tests"
_From @DePierre on August 11, 2015 7:21_

We will need unit testing for the reboot project and we should start writing them as early as possible.

For unit testing, we could use:
- [unittest](https://docs.python.org/3/library/unittest.html) (python2 and 3)
  - Defines basic classes for unit tests
  - Can create Suites, has some basic matchers, etc.
- [PyHamcrest](https://pypi.python.org/pypi/PyHam

[2017-11-07 17:03] viyatb commented on #911
_From @tunnelshade on August 11, 2015 8:37_

+1 for unittest and nose modules

[2017-11-07 17:04] viyatb opened #912 "Redesign the cache store for the proxy"
_From @viyatb on August 13, 2015 9:33_

The current caching system is file-based which on tests having very large number of assessments choke up the host VM in terms of free space. Is it feasible to use datastores such as `redis` or `memcached`, which are primarily designed for cache systems?

_Copied from original issue: owtf/reboot#14_

[2017-11-07 17:04] viyatb commented on #912
_From @tunnelshade on August 13, 2015 13:4_

Since we are distributing proxies on the Grunts i.e slave machines, this is not a problem. Btw I recently reduced the required files for proxy 6 times.

[2017-11-07 17:04] viyatb commented on #912
Still wouldn't a non-file based cache system be more practical/fast? We could have `redis` as the cache store and we would have a separate process which loads the data into the `postgresql` db from the `redis` pipeline?

[2017-11-07 17:04] viyatb commented on #912
_From @tunnelshade on August 13, 2015 14:13_

Redis is a hard dependency. File system cache is really fast at our scale and there is no setup time. See the scale here.

[2017-11-07 17:04] viyatb commented on #912
I say this because of the problem when using proxy instances on the slave machines. We could really save some time for eg. when we run `arachni` and `w3af` on separate slaves - how will the file-based cache save from the unnecessary cache misses?

[2017-11-07 17:04] viyatb commented on #912
_From @tunnelshade on August 14, 2015 4:42_

Latency and ease of setup dude. As of now we do not need this. But definitely we should keep it on radar for future. Nice suggestion

[2017-11-07 17:04] viyatb opened #913 "Enhance the proxy to be modular and have interception/replay capabilities"
_From @viyatb on August 13, 2015 9:40_

The current implementation of the mitm proxy serves its purpose very well. Its fast but its not extensible. There are a number of good usecases for being extensible
- can be to intercept the transactions
- modify on the fly or replay transactions
- add additional capabilities to the proxy (such as session marking/changing) without polluting the main proxy co

[2017-11-07 17:04] viyatb commented on #913
_From @tunnelshade on August 13, 2015 13:41_

I wanted to open this issue, but I am glad that someone else did. There is no need to redesign anything, I will paste here the proxy arch for intercept and extension capabilities. Give me some time, I am actually experimenting

[2017-11-07 17:04] viyatb opened #914 "Roadmap for the distributed architecture implementation"
_From @viyatb on August 13, 2015 9:45_

This can be good place to discuss/debate the new distributed architecture and its following components:
- Core architecture (master, manager, slave)
- The intercomponent messaging framework - eg. RPC, JSON-RPC, etc
- Internal analytics/monitoring/profiling (new feature)
- Datastore

This could the starting point for the first draft. @marioskourtesis?

_Copie

[2017-11-07 17:04] viyatb commented on #914
_From @DePierre on August 13, 2015 14:31_

@delta24 well I think that such discussion is in fact taking place all over the GitHub issue webpage. In fact, each bullet point of your comment should be a standalone issue

[2017-11-07 17:04] viyatb commented on #914
I wanted this in one place so that @marioskourtesis can start fast from here in his core implementation + proposal instead of searching in multiple issues.

[2017-11-07 17:04] viyatb commented on #914
_From @DePierre on August 13, 2015 14:58_

@delta24 I think going through the list of open issues should be easy for @marioskourtesis to pick ideas.

What we could do with **this** issue to for @marioskourtesis to write here his plan or table of contents for instance. Should we rename the issue?

[2017-11-07 17:04] viyatb commented on #914
Yes, I had exactly that in mind. :)

[2017-11-07 17:04] viyatb opened #915 "Reporter service or any other equivalent"
_From @viyatb on August 13, 2015 9:49_

The current OWTF report is very interactive but it cannot be exported in its current form. A reporter service can be written (I think this was in the very early releases of OWTF) which exports a nice report with template, findings, and additional pentester's notes into multiple formats.

_Copied from original issue: owtf/reboot#17_

[2017-11-07 17:04] viyatb commented on #915
_From @tunnelshade on August 13, 2015 13:5_

+1. Yes, there was a way to export the report into pdf format, we will bring that back

[2017-11-07 17:04] viyatb commented on #915
_From @DePierre on August 13, 2015 14:30_

This is definitively a **must have**. A small set of export formats should be supported such as:
- HTML (pure static html here)
- PDF
- XML (for processing)
- JSON (for processing)

[2017-11-07 17:04] viyatb commented on #915
_From @marioskourtesis on August 17, 2015 9:33_

@ Tao, if we export a report in HTML then it can be converted to multiple
formats easily. We can make use of 'pandoc' for this task.

[2017-11-07 17:04] viyatb commented on #915
_From @DePierre on August 17, 2015 19:56_

@marioskourtesis I know from experience that dealing with HTML is a pain in the ass compared to XML for instance but if you have a nice idea in mind on how to _take a snapshot of the responsive report_ and make it static with no dependencies, I am listening :)

[2017-11-07 17:04] viyatb commented on #915
Currently in progress in the develop branch.

[2017-11-08 20:21] viyatb commented on #915
This is done and live on master.

[2017-11-08 20:21] #915 closed

[2017-11-18 18:19] viyatb commented on #903
Closing this issue since there is no response.

[2017-11-18 18:19] #903 closed

[2017-12-20 13:24] lianfeng30 commented on #767
python2 -m owtf

 _____ _ _ _ _____ _____
|     | | | |_   _|   __|
|  |  | | | | | | |   __|
|_____|_____| |_| |__|

        @owtfp
    http://owtf.org

[-] Loading config from: /Users/x/.owtf/conf/framework.cfg..
ERROR:root:Aborted by Framework: [DB] (psycopg2.OperationalError) FATAL:  role "owtf_db_user" does not exist

Run 'make db-run' to start/setup db

[2017-12-20 13:26] lianfeng30 commented on #712
python2 -m owtf

 _____ _ _ _ _____ _____
|     | | | |_   _|   __|
|  |  | | | | | | |   __|
|_____|_____| |_| |__|

        @owtfp
    http://owtf.org

[-] Loading config from: /Users/x/.owtf/conf/framework.cfg..
ERROR:root:Aborted by Framework: [DB] (psycopg2.OperationalError) FATAL:  role "owtf_db_user" does not exist

Run 'make db-run' to start/setup db

[2018-01-07 07:45] viyatb commented on #904
Done in https://github.com/owtf/owtf/tree/new-arch.

[2018-01-07 07:45] #904 closed

[2018-01-07 07:46] viyatb commented on #752
Fixed in https://github.com/owtf/owtf/tree/new-arch.

[2018-01-07 07:46] #752 closed

[2018-01-07 07:46] #912 closed

[2018-01-07 08:21] viyatb commented on #524
Closing this, as we don't have the resources to complete this task.

[2018-01-07 08:21] #524 closed

[2018-01-07 09:01] anantshri commented on #524
Why close. i would say keep it open may be someone some day might be interested.

[2018-01-08 05:46] Hamdisd opened #919 "Enhancement"
Dears,

I have tow questions, I will be glad to answer it.
1- any helpful link that guide us how to integrate OWTF with shodan and gource?
2- How to add customized python script to be ruining with the scanning?

Thanks

[2018-01-08 13:20] viyatb commented on #524
Right, I intend to move this issue to https://github.com/owtf/addons as soon as I implement a pluggable, external addon system.

[2018-01-10 09:15] ThOhT opened #920 "Plugin "Session Management Schema" stucking for hours in Workers"
I was running testing OWTF for the first time and runned all plugins over 22 IP's/domains. My workers stucked on this plugin and it's running for more than 8 hours and can't finishing it's work.

I tried to close workers, but didn't work.

I'm using Linux kali 4.13.0-kali1-amd64 #1 SMP Debian 4.13.13-1kali1 (2017-11-17) x86_64 GNU/Linux.
Instalation method:  wget -N https://raw.githubusercontent.c

[2018-01-10 09:26] viyatb commented on #920
Yes, that's a known problem. Try pressing Cntrl-C on the terminal and restarting OWTF. It should pick up the work from the worklist and resume.

[2018-01-11 17:23] dibrahim2050 commented on #516
Hi
Could anybody help me fixing this:

oot@kali:~# cd owtf/
root@kali:~/owtf# source ~/.bashrc; workon owtf
(owtf) root@kali:~/owtf# cd /root/Desktop/pentest; /root/owtf/owtf.py
The following python libraries seem missing :
	cookies,ipaddr,lxml,Markdown,pexpect,psycopg2,PTP,pycurl,pyOpenSSL,python-owasp-zap-v2.4,PyVirtualDisplay,six,selenium,SQLAlchemy,tornado

Haven't you run the install script?

[2018-01-11 17:46] viyatb commented on #516
which version of OWTF are you using?

[2018-01-19 10:39] D219 opened #921 "Uninstalling documentation?"
After installing OWTF, I've noticed that it use Kali's repository, which then tries to pull a lot of upgrade coming from it. However, it is inconvenient in my current setup.
I wanted to uninstall OWTF from my current partition, and reinstall it on a more standard debian, but I am surprised to see no documentation on how to uninstall.

As a last resort, I could make a list of all packages OWTF inst

[2018-01-19 13:32] viyatb commented on #921
Which platform are you using? We won't be supporting installation of miscellaneous tools on distros other than Kali linux. If you do not have a Kali VM/host, try running OWTF using the Dockerfile provided.

[2018-01-19 14:27] D219 commented on #921
Debian Jessie, I ve naively installed with ` wget -N https://raw.githubusercontent.com/owtf/bootstrap-script/master/bootstrap.sh; bash bootstrap.sh `, as recommended in https://owtf.github.io/#download
I ve succeeded in removing the third party tools and the Kali repo, if OWTF didn't installed elsewhere than it s own directory, and the calls to `apt install`, I should be fine :)

[2018-01-19 14:55] viyatb commented on #921
Ah, I see. I need to update the website (https://owtf.github.io/#download) to **not** recommend using the bootstrap script.

[2018-01-19 14:56] #921 closed

[2018-01-19 14:56] #920 closed

[2018-01-19 14:56] viyatb commented on #919
Plugins and external API for OWTF is on the roadmap.

[2018-01-19 14:56] #919 closed

[2018-01-19 15:23] D219 opened #922 "Install via docker, can't find waffit"
## Current Behavior
When using `make docker-build`, the script crash because the package `waffit` is not found

## Possible Solution
A workaround is to open Dockerfile.dev and comment out `waffit` from the list of package to install.

## Your Environment

* Installation method used: Docker
* Version/branch used: latest (master/b103adef5fa2efe4352d219829ca5aac5caf4b67)
* Operating System and versio

[2018-01-19 15:30] viyatb commented on #922
Closed in https://github.com/owtf/owtf/commit/7adf14bfd1e54c358f94b3c42735951cf91c9b99.

[2018-01-19 15:30] #922 closed

[2018-01-19 17:27] D219 opened #923 "ImportError at start, installed via docker"
Installed via docker, following exactly what is currently in the README. It does start, but crash immediately crash with a long stack trace.

## Logs

Bash history on the machine: https://ghostbin.com/paste/moxwy
Bash history in docker: https://ghostbin.com/paste/c24nm
Stack trace: https://ghostbin.com/paste/g58no

## Your Environment

* Installation method used: Docker
* Version/branch used: Late

[2018-01-19 18:32] viyatb commented on #923
@D219 somehow PostgreSQL in your container is not running. Try starting it manually by,
`service postgresql start`.

[2018-01-21 10:02] mzfr commented on #883
@viyatb  I am willing to solve this issue but i have few doubts:

1. Exactly which files do I need to convert ?
2. Which parser should I use for YAML parsing ?

[2018-01-21 15:26] viyatb commented on #883
OWTF has some miscellaneous configuration files at `https://github.com/owtf/owtf/tree/new-arch/owtf/data/conf.
re parser: The standard Python YAML library, PyYAML (https://pypi.python.org/pypi/PyYAML)

[2018-01-22 11:20] D219 commented on #923
I had to remove the package first, but owtf did started (and crashed because of a misconfiguration of Postgres). Currently redoing the installation from scratch to try properly.

[2018-01-22 15:08] D219 commented on #923
Okay, I finally got OWTF to start after manually creating the user and db (for some reason, `make db-run` don t detect the instance of postgres, and didn't create the user nor db).

However, the connection is reset when I try to open the link (127.0.0.1:8009), idem for port 8008 and 8010. I ll file a new issue for this.

[2018-01-22 15:08] #923 closed

[2018-01-25 14:17] sdcampbell commented on #903
Hi, I'm experiencing the same error. I'm on Kali Linux 2017.3. I used this command to install: pip install git+https://github.com/owtf/owtf#egg=owtf

Version: 2.3b0

[2018-02-07 16:19] zWaR opened #924 "How to install a plugin (specifically https://github.com/owtf/login-sessions-plugin) ?"
Hey there,

I am sorry if this question is not acceptable among the issues, but the truth is, I do not know where else to ask. I've checked the user documentation and your gitHub wiki and did not find documentation which would help me to install a plugin. There is pretty good documentation on how to use the installed plugins though ...

In particular I'd like to use https://github.com/owtf/login-s

[2018-02-07 19:29] viyatb commented on #924
Hi @zWaR, that specific is not functional  and cannot be integrated with OWTF in its current state. I suggest you use OWASP https://github.com/zaproxy/zaproxy as an proxy for OWTF (thus replacing the packaged OWTF proxy). ZAP's implementation is stable and works great.

[2018-02-08 13:04] zWaR commented on #924
@viyatb Thank you for your prompt reply! I'll checkout zaproxy!

[2018-02-08 13:04] #924 closed

[2018-02-18 19:39] janithmalinga opened #925 "TypeError: argument of type 'int' is not iterable"
I'm getting this error message when I try to install OWTF on my latest kali linux VM

OS details
Linux kali 4.14.0-kali3-amd64 #1 SMP Debian 4.14.12-2kali2 (2018-01-11) x86_64 GNU/Linux

Error message
Traceback (most recent call last):
  File "/root/Tools/owtf/owtf/install/install.py", line 136, in <module>
    install_restricted_from_cfg(restricted_cfg)
  File "/root/Tools/owtf/owtf/install/insta

[2018-02-18 22:04] viyatb commented on #925
Which OWTF version are you trying to install?

[2018-02-26 18:31] janithmalinga commented on #925
Hi viyatb,
I'm using the latest version on the github.
#git clone https://github.com/owtf/owtf.git

[2018-02-27 14:10] sharmamohit123 opened #926 "Improper orientation of page describing individual targets"
## Expected Behavior
Appeared page should completely fit into the screen and there should be no need to scroll until required.

## Current Behavior
After opening a target from the target page, the window that appears is not screen fit instead we have to
do unneccesary scrolling to see all the elements on the screen.

## Steps to Reproduce (for bugs)
1. Open the target page from the nav bar.
2. Sel

[2018-02-28 10:13] sharmamohit123 commented on #822
I would like to work on this issue.

[2018-03-01 16:11] fristonio opened #927 "Install Script: Installation script needs refactor."
There are few parts in installation script in `scripts/install.sh` which needs to be refactored
- [x] In `check_sudo` function rather than using timeout on `sudo` command we can directly check the `$EUID` for root invokation of script.
- [x] In `db_setup` function before creating the user and database we are not checking if the user and db already exist due to which error lines print out during in

[2018-03-03 19:58] fristonio commented on #910
I would like to work on this issue!
For what use cases are we planning to make use of headless browser in the requester module?

[2018-03-04 00:28] #925 closed

[2018-03-04 00:37] viyatb opened #931 "Update and complete Sphinx documentation"
OWTF uses Sphinx to generate internal API and user docs. Currently, the docs do not correctly reflect the current installation methods and vast changes to OWTF since the early releases.

The documentation lives under `doc` directory and can be generated using the Makefile - `make docs`.

[2018-03-04 17:07] fristonio commented on #931
@viyatb there are errors in sphinx doc build, It seems like modules have been changed a lot since the docs were written. I have added the latest installation instruction in #934 you can review them.
I will try to resolve the issues with the docs build process.

[2018-03-04 17:11] fristonio commented on #927
I think we can close this now :)

[2018-03-04 17:11] #927 closed

[2018-03-04 23:50] r8tor opened #935 "[develop] docker-compose fails to build webapp resulting in non functional UI."
## Expected Behavior

The system should build and run properly whenever  a new user clone the git repository and run the system using docker-composer up as described in the documentation.

## Current Behavior

When a user clone the git repository and run docker-compose up, the application seems to build properly, however it fails to load the UI when users try to access http://localhost:8009/ with

[2018-03-07 01:29] viyatb commented on #935
@r8tor thanks for the report. The UI in the develop branch should load but is broken since it is currently being ported to React (from the Tornado templates).

While the UI remains broken, the `index.html` file should be correctly generated by webpack. I'll look into it.

[2018-03-07 03:58] r8tor commented on #935
Hey Viyat,

Thanks for looking into to it and for maintaining such amazing software :-)

I hope I’ll have the chance to buy you a coffee(or tea) or a beer in a conference someday.

Cheers,
RT

[2018-03-07 15:20] fristonio commented on #935
@viyatb Can I try to fix this issue?

[2018-03-07 15:21] viyatb commented on #935
Sure, go ahead!  Thanks.

On Wed, Mar 7, 2018 at 10:20 Deepesh Pathak <notifications@github.com>
wrote:

[2018-03-08 23:03] fristonio opened #937 "Configure a proper production build for react."
When currently react web app is built in production mode console shows the following error:

### Steps to reproduce.
Run webapp in production mode.
- Go to `./owtf/webapp`
- Run `yarn prod` and `owtf`

### Screenshots
![image](https://user-images.githubusercontent.com/21292343/37181357-9c8ef368-2352-11e8-9937-53eb83888058.png)

[2018-03-09 04:48] saganshul commented on #935
@viyatb @fristonio There is not the only problem with docker configuration. There are a lot of problems with the installation script.  Look at this `ui_setup()` function at https://github.com/owtf/owtf/blob/develop/scripts/install.sh#L332 . Also to build for production we need to use `yarn run prod`. But it will not work. Because of command for `prod` contains `-p`
`"prod": "webpack --progress -p

[2018-03-09 05:49] saganshul commented on #937
Try, `yarn run prod` now.

[2018-03-09 05:58] fristonio commented on #935
I had this figured out and was about to make a PR :relieved: but its good that you did it. There are some more issues with the installation script as I discussed with viytab on slack. Also docker-compose.yml is not correct as it maps port 8080 to 8080 but owtf uses 8008 port. I will have it fixed and will make a PR. :)

[2018-03-09 06:00] fristonio commented on #937
OK, I should have mentioned that I have a patch for this. Thanks though for fixing. :)

[2018-03-09 06:11] viyatb commented on #935
@fristonio ah, I just noticed the `8008 -> 8080` typo. Send the PR ;)!

[2018-03-09 06:14] saganshul commented on #937
Oh! I thought you are suggesting that we should have production configuration. Never mind!

[2018-03-09 06:23] saganshul commented on #911
+1 for unittest and nose

[2018-03-09 15:30] fristonio commented on #937
Fixed by #938

[2018-03-09 15:30] #937 closed

[2018-03-09 16:38] viyatb opened #940 "OWTF does not exit cleanly with --nowebui"
OWTF previously (in the master branch) exits cleanly if the command line argument "--nowebui" is given. This flag is used by the WorkerManager in `https://github.com/owtf/owtf/blob/master/owtf/managers/worker.py#L172` to stop and exit if all plugins have been run.

In addition, OWTF will also exit cleanly if no work is specified as with flags like "--list-plugins". Ideally, OWTF should list the pl

[2018-03-09 16:44] viyatb opened #941 "Sentry integration with OWTF"
Sentry can be used to get automated bug reports from OWTF installations reducing the time and complexity of reporting bugs on the Github issue tracker. There is a big privacy concern here though: not all people want information from their installations being logged.

An ideal solution would be a flag in `settings.py` and an option for users to specify their own Sentry key if needed. Sentry's [sens

[2018-03-09 17:06] viyatb opened #942 "Better signal handling for main plugin system (workers), API, Proxy and File server."
OWTF uses Python's [multiprocessing](https://docs.python.org/2/library/multiprocessing.html) module to launch background processes like the `WorkerManager` and `TransactionLogger`. It also starts the proxy and the file server in background.

Currently,, pressing "Cntrl+C" on the console, OWTF tries stop all processes but sometimes zombie processes and background processes fail to exit cleanly. We

[2018-03-09 20:28] fristonio commented on #935
@viyatb I think we can close this now. :)

[2018-03-09 20:31] viyatb commented on #935
Closed in fc08d08e0b710b715d39e4044309f8a2ac4b95dc.

[2018-03-17 23:03] viyatb commented on #907
Not applicable anymore.

[2018-03-17 23:03] #907 closed

[2018-03-17 23:04] viyatb commented on #883
Fixed in https://github.com/owtf/owtf/commit/b133d0a141bbad3b8db6f5fbdafd4cedc2fe399c.

[2018-03-17 23:04] #883 closed

[2018-03-17 23:08] #935 closed

[2018-03-18 00:42] viyatb commented on #421
This has been fixed. The root cause are a few plugins which halt the execution of other plugins in the queue and OWTF loses all data for the halted plugin.

[2018-03-18 00:42] #421 closed

[2018-03-19 01:50] viyatb commented on #942
Most of this has been implemented inhttps://github.com/owtf/owtf/commit/78032bab33e772f74c7b6a5d0dc57289472e0e78. Needs more work on fine grained control over skipping plugins and signals for the API, web, proxy and file server.

[2018-03-19 01:51] viyatb commented on #940
Fixed in https://github.com/owtf/owtf/commit/78032bab33e772f74c7b6a5d0dc57289472e0e78.

[2018-03-19 01:51] #940 closed

[2018-03-19 02:29] #914 closed

[2018-03-19 02:38] viyatb commented on #722
Not applicable anymore.

[2018-03-19 02:38] #722 closed

[2018-03-19 02:44] #906 closed

[2018-03-19 02:44] #908 closed

[2018-03-19 04:43] viyatb opened #946 "Authentication handlers for API and web server"
OWTF should provide authentication options for users to log in and securely run tests if OWTF is hosted on a public IP.

For a barebones implementation, we need:

* API handlers for register, login and logout functionality.
* Tokens for OWTF REST API.
* A way for users to create API tokens.
* Users, APITokens models and integration with current DB schema.

Reference:
* https://github.com/jupyter/n

[2018-03-19 20:11] viyatb opened #947 "Separate API and web apps, and add API versioning using Tornado Router"
OWTF (develop branch) uses the same web server to serve the API calls and web interface (UI) requests. It is possible to separate the two into separate Tornado `Application` instances, with both using a `RuleRouter`.

It is also possible to use this router mechanism to support API versioning.

Reference:
* Tornado [`routing.Router`](http://www.tornadoweb.org/en/stable/routing.html#tornado.routing.

[2018-03-19 22:45] viyatb opened #948 "Port the custom console logs formatter to Python3"
OWTF uses a custom log formatter for colorizing and handling messages on various levels (on both console and file logs).
However, OWTF console logs on Python3 do not correctly use the formatters defined in https://github.com/owtf/owtf/blob/develop/owtf/utils/formatters.py.

### OWTF on Python2.7

<img width="576" alt="screen shot 2018-03-19 at 18 44 13" src="https://user-images.githubusercontent.c

[2018-03-20 01:25] viyatb opened #949 "Deprecate Python2 support and add Typing support for static type checking"
OWTF already supports Python 2.7 and 3.6 but works best on Python 2.7. None of the components need a major change.

We should also add Typing support to remove some bug classes.

[2018-03-20 01:38] viyatb opened #950 "Replace manage_workers callback in file/CLI server with asyncio/trollius"
The work (plugins to run) are populated in the worklist and `manage_workers` method in `WorkerManager` class is called periodically every 2s to poll and process plugins.
This means that we need a Tornado server running even in `nowebui` mode. This should be removed and a native (in place) periodic callback for the `manage_workers` can be implemented in the `WorkerManager` class.

This needs `async

[2018-03-20 13:01] viyatb commented on #695
Here are some of the things left to do in this issue:

- [ ] Design and refine page layouts (like replacing accordions to something more easier to navigate)
- [ ] New react components, and better styling (SCSS)
- [ ] tests (unit, functional)

[2018-03-21 21:06] viyatb commented on #948
Closed in https://github.com/owtf/owtf/commit/a8ef1e3eb577d3152b472a7d4aedc2bc31afd6cf.

[2018-03-21 21:06] #948 closed

[2018-03-21 21:40] fristonio opened #953 "OWTF does not exit cleanly when PostgreSQL server is not running."
owtf when run with PostgreSQL not running does not exit cleanly and prints sqlalchemy tracebacks.

## Expected Behavior
The correct behaviour should make owtf exit cleanly with an error log that postgres server is not running.

## Current Behavior
owtf prints Traceback to the console.

## Possible Solution
owtf should catch the exception raised by SQLAlchemy to print error that postgres server is

[2018-03-21 21:50] viyatb commented on #953
This should be caught at https://github.com/owtf/owtf/blob/develop/owtf/db/database.py#L43.

[2018-03-21 21:53] fristonio commented on #953
Yes, that would be the place I will create a pull request as soon as possible regarding the same :)

[2018-03-23 06:22] luky-chen commented on #592
i has one problem likes this.how  could i  solve it?  ps  tell me!

[2018-03-23 12:37] viyatb commented on #592
Have an alias in your `.bashrc` with something like `alias wget=wget --user-agent $@`

[2018-03-25 06:31] luky-chen commented on #592
something looks like no use。did you do it？

[2018-03-25 06:32] luky-chen commented on #592
otherwhise  its the problem of remote server。  while，thank you  all the time

[2018-03-26 00:53] viyatb opened #958 "Update plugins and add new tools from Kali Linux."
The bundled plugins with OWTF have not been updated for a long time. They need to be updated (versions, run scripts in `owtf/scripts`) and newer tools in Kali Linux from https://tools.kali.org/tools-listing should be supported.

[2018-03-26 01:00] viyatb commented on #35
@fristonio you should think about this and include a system to do this in OWTF! Will be nice feature addition :)

[2018-03-26 20:04] fristonio commented on #35
So we want a system in which we will launch tools not on the basis of the order in which they exist in database but on the basis of the output of other tools? Can you elaborate a little bit more on the expected end result of this feature?

[2018-04-01 13:36] fristonio opened #959 "Upgrade psycopg2 version to 2.7.4"
Currently psycopg2 in `requirements.txt` is using version 2.7.2 which has a known issue  in some distros.
https://github.com/psycopg/psycopg2-wheels/issues/2

This issue can be resolved by simply upgrading psycopg2 to version 2.7.4 and since this version upgrade is not conflicting we can do it.

## Your Environment

* Installation method used: `python setup.py develop`
* Version/branch used: devel

[2018-04-01 13:37] viyatb commented on #947
Closed in https://github.com/owtf/owtf/commit/f1b09f7d77ec3e2acad5d150508d7536bf20d2e0.

[2018-04-01 13:37] #947 closed

[2018-04-01 14:10] viyatb commented on #959
Closed in https://github.com/owtf/owtf/commit/d06b9f872e69b492126c2ed16b2b0a62d7bf7696.

[2018-04-01 14:10] #959 closed

[2018-04-01 14:40] viyatb commented on #926
Closed in favor of meta-issue #695.

[2018-04-01 14:40] #926 closed

[2018-04-01 22:10] viyatb commented on #885
Closed in https://github.com/owtf/owtf/commit/af7b361b86d19cc87b09109e9dc1a18d0a174ac0.

[2018-04-01 22:10] #885 closed

[2018-04-02 01:12] viyatb commented on #931
Closed in https://github.com/owtf/owtf/commit/af7b361b86d19cc87b09109e9dc1a18d0a174ac0, https://github.com/owtf/owtf/commit/549299e0cd143853a9a597331d94e4abf18da0c0 and https://github.com/owtf/owtf/commit/d4c411067522c8764d4c48e15f2e59ff067adc34.

[2018-04-02 16:47] viyatb commented on #354
Fixed in develop.

[2018-04-02 16:47] #354 closed

[2018-04-03 05:37] viyatb commented on #953
Closed in https://github.com/owtf/owtf/commit/d0f2958f1994afd5c71526c5fc648851184ac94f.

[2018-04-03 05:37] #953 closed

[2018-04-20 15:39] viyatb commented on #950
Closed with https://github.com/owtf/owtf/commit/271e3c69a0aba60ba7f75adff6b5ef309fe86720. Until Kali supports Python3 out of box, the workers can be polled using Tornado's `PeriodicCallback`.

[2018-04-20 15:39] #950 closed

[2018-04-22 11:37] hellochunqiu opened #972 "Exception during reset or similar"
## Expected Behavior## Current Behavior## Possible Solution## Steps to Reproduce (for bugs)1.2.3.4.## Logs## Context## Your Environment* Installation method used:* Version/branch used:* Operating System and version (like Kali, Debian, ArchLinux, etc):* pip/setuptools version:* sudo access:

[2018-04-26 20:29] BBQ2000 opened #973 "FATAL: password authentication failed for user "postgres""
I am attempting to install OWTF on Kali Linux (4.14.0-kali3-amd64) and upon running OWTF I get the error:

FATAL:  password authentication failed for user "owtf_db_user"

![image](https://user-images.githubusercontent.com/38767059/39330278-19ca2694-496f-11e8-8854-a16b4b15e56c.png)

## Expected Behavior

The behavior that is expected is for OWTF to run without the error

## Current Behavior

Curren

[2018-04-29 14:51] viyatb commented on #973
Please install OWTF (latest master branch) with `python setup.py install`.

[2018-04-29 14:51] #973 closed

[2018-05-05 18:13] viyatb opened #974 "Implement a CeleryWorker"
The workers in OWTF are basically separate processes forked from the main OWTF process and are used to process plugins. Currently OWTF only supports `LocalWorker`, meaning the worker would run on the same host as the framework.

In order to distribute the load of running plugins on separate machines/clusters, we can use Celery to spawn a worker and offload plugins to run to it.

[2018-05-05 18:23] viyatb opened #975 "Use the network scanner when running plugins for a target"
The network scanner bundled (https://github.com/owtf/owtf/blob/develop/owtf/net/scanner.py) is not being used in any code path by OWTF right now. There is already a function defined to run plugins for a list of targets by pre-processing them through the network scanner, https://github.com/owtf/owtf/blob/develop/owtf/plugin/runner.py#L509 but it is not being used.

We should bring back the `process

[2018-05-05 18:28] viyatb commented on #905
A checklist of things to do here:

- [ ] Refactor and finalize the plugin API (https://github.com/owtf/owtf/blob/develop/owtf/plugin/helper.py and https://github.com/owtf/owtf/blob/develop/owtf/plugin/params.py).
- [ ] Write a `BasePlugin`, and inherit to use more plugin types (`ActivePlugin, SemiPassivePlugin, GrepPlugin, NetworkPlugin, AuxPlugin, PassivePlugin, ExternalPlugin`).
- [ ] Modify and

[2018-05-05 18:31] viyatb commented on #910
Checklist of things to do:

- [ ] Write a `BaseRequester` class which other Requester types can inherit from.
- [ ] Refactor the current urllib and httplib based Requester to that design.
- [ ] Add 3 more Requester types - Pycurl based, urllib3, and a headless browser.

[2018-05-05 19:30] viyatb opened #976 "ZEST as a plugin"
_From @tunnelshade on August 31, 2015 7:5_

Currently Zest is part of the whole transaction infrastructure, which is a lot messy. So, appropriate changes will be done to support Zest like features as a plugin in future. The reason why ZEST is best placed as a plugin is
- Target specific (Work on only transactions of a target)
- Run only when user wants to

_Copied from original issue: owtf/reboot#

[2018-05-05 19:30] viyatb opened #977 "Evaluate the use of extracting URIs from different file inputs"
_From @viyatb on January 21, 2016 5:33_

Moved over from https://github.com/owtf/owtf/issues/468.

For example, we can extract extra URIs and hosts from a pcap or (Wireshark's pcap-ng) file.
A button to upload the file and extract all this relevant info will be a good way to go :)

_Copied from original issue: owtf/reboot#23_

[2018-05-05 19:31] viyatb opened #978 "Grab output from passive scans"
_From @viyatb on January 29, 2016 10:25_

@anantshri : For a large number of passive scan results we are providing a link what are the possible reason's we are not doing a scan and giving output in our own report.

I assume they might have some kind of rate limit for some sites but for a lot of others we should be able to get direct response or by leveraging something like Ghost.py a screenshot.

[2018-05-09 14:41] viyatb opened #979 "[refactor] Generate queries for model data"
To filter and output data according to user queries (on the web interface), there are separate `{model}_gen_query` methods in the respective manager modules (`owtf/managers`). There should a simple search query API around SQLAlchemy that allows for similar functionality without repeating code everywhere.

Flask-Restless (https://github.com/jfinkels/flask-restless/tree/master/flask_restless/search)

[2018-05-13 01:49] hellochunqiu commented on #972
Thank you

[2018-05-14 10:12] testingplusme opened #981 "Receives "Connection refused" when trying to launch OWTF with docker-compose"
I tried to install owtf by docker-compose. I tried on both systems. One it was my personal laptop which was windows second it was fresh instance from DigitalOcean.
Do you have any idea what I should do?
![image](https://user-images.githubusercontent.com/17097924/39991433-781aafce-5767-11e8-96b9-e3f1922c907d.png)

Ofc, I had PowerShell in administrator mode.
Cheers,
Michał

[2018-05-14 14:37] viyatb commented on #981
@testingplusme thanks for the report! - investigating it right now.

[2018-05-15 05:19] testingplusme commented on #981
@viyatb  Thanks 👍 I'm waiting for it, because I want to use it  :)

[2018-05-16 01:42] viyatb commented on #981
If you want to use the web interface, try using https://github.com/owtf/owtf-docker.

- `git clone https://github.com/owtf/owtf-docker`
- `cd owtf-docker; docker build -t <name> .`
- `docker run -it -p 8009:8009 -p 8008:8008 -p 8010:8010 <name>`

[2018-05-16 03:51] testingplusme commented on #981
Thank you @viyatb  cheers !

[2018-05-16 18:09] r3naissance opened #982 "After install, Python error - No such file or directory: '/usr/local/lib/python2.7/dist-packages/owtf-2.3.2-py2.7.egg/owtf/webapp/build/index.html'"
I had numerous errors when attempting to install, however, I was able to overcome some of them by changing version numbers of the pip requirements, specifically PyCurl. It also seems the environment for the various scripts is using sh as the shell but I get errors and it seems like it should be using bash. I had to change the scripts to use bash instead and everything installed correctly.

However

[2018-05-16 23:00] r3naissance commented on #982
@viyatb, thank you for the quick response. I appreciate your time to help out. I'll give it a shot. I didn't see any errors on build but I'll double check in either event.

[2018-05-17 19:25] oaldahir opened #983 "Kali Linux 2018.2 Fix for psycopg2 and pip"
When installing OWTF  2.1a, Release: Chicken Korma (Alpha) on Kali Linux 18.2 the following errors appear.

Error 1)

Traceback (most recent call last):
  File "./owtf.py", line 13, in <module>
    from framework.core import Core
  File "/root/bin/owtf/framework/__init__.py", line 4, in <module>
    from framework.dependency_check import verify_dependencies
  File "/root/bin/owtf/framework/depende

[2018-05-18 13:16] viyatb commented on #983
@oaldahir thanks for the report! Please use the latest master version of OWTF - `git clone -b master https://github.com/owtf/owtf; cd owtf; python setup.py install` or use the Docker image! - `docker pull owtf/owtf` and `docker run -it -p 8008:8008 -p 8009:8009 -p 8010:8010 owtf/owtf`.

[2018-05-18 13:16] #983 closed

[2018-05-18 15:31] r3naissance commented on #982
I did see this error on installing:

error upath@1.0.4: The engine "node" is incompatible with this module. Expected version ">=4 <=9".
error Found incompatible module

[2018-05-18 15:57] r3naissance commented on #982
Solved my issue. Edited owtf/webapp.yarn.lock with updated upath

[code]

[2018-05-19 03:05] r3naissance commented on #982
I abandoned the install via git clone && python setup.py install. I instead used the develop branch and used

`docker-compose up`

Now I'm getting this error:

[code]

[2018-05-19 13:54] viyatb commented on #982
@r3naissance I am still checking up on the `docker-compose` issue - I might not be able to push a fix before end of next week since I'm traveling. I've tested the Docker image and the web interface works perfectly.
`docker pull owtf/owtf` and `docker run -it -p 8009:8009 -p 8008:8008 -p 8010:8010 owtf/owtf`

[2018-05-19 14:46] r3naissance commented on #982
As always @viyatb, thank you for your time and effort!

[2018-05-19 15:29] r3naissance commented on #982
The reason I was attempting the git install method is because I would get an error running Arachni and Wapiti. The install would work and every other tool would work just not these two. Even though they are installed and configured as they are in the settings. Running them manually from the command line works...

[*] [*] Running: /usr/share/arachni/bin/arachni --http-user-agent="Mozilla/5.0 (X11;

[2018-05-19 20:28] viyatb commented on #982
@r3naissance thanks for the debugging this! I think the paths to the Kali tools have changed - I'll push a fix with the updates soon or you can send a PR!

[2018-05-20 03:14] guyenko opened #984 "Python setup.py install fails"
"Error: you need to install postgresql-server-dev-X.Y for  building  a server side- extension or libpq-dev for building a client-side application.
OS= Kali Linux
## Expected Behavior

It should install without any errors

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Logs

## Context

## Your Environment

* Installation method used:
Followed the instr

[2018-05-21 12:36] viyatb commented on #984
@guyenko `apt-get install postgresql-server-dev-<X.Y>` should let you build the Postgres driver.

[2018-05-21 12:36] #984 closed

[2018-07-05 12:56] lmcthbe opened #991 "owtf failed to start with "Error TypeError: main() takes exactly 1 argument (0 given)""
## Current Behavior

After installed owtf from git with no issues on Kali-rolling. owtf failed so start with errors

## Steps to Reproduce (for bugs)

1. git clone https://github.com/owtf/owtf.git
2.cd owtf
3.python setup.py install
4.owtf

## Logs

Traceback (most recent call last):
  File "/usr/local/bin/owtf", line 11, in <module>
    load_entry_point('owtf==2.3.2', 'console_scripts', 'owtf')()

[2018-07-09 15:08] viyatb commented on #991
@lmcthbe thanks for reporting this! Normally, during `python setup.py install`, the script in `bin/` directory should be used as the entrypoint. It seems that the `console_scripts` is overriding the `scripts` to be the entrypoint (https://github.com/owtf/owtf/blob/develop/setup.py#L99).

This should be an easy fix.

[2018-07-13 03:12] viyatb commented on #991
Fixed in https://github.com/owtf/owtf/commit/3b59f2ddfec36f8ca5b58deb85018de0bbacd137.

[2018-07-13 03:12] #991 closed

[2018-07-13 03:12] viyatb commented on #991
@lmcthbe please let me know if this worked for you.

[2018-07-13 16:35] viyatb commented on #982
@r3naissance https://github.com/owtf/owtf/commit/1f054ba83339eb85acb3d89e64b630ea3aedbaff should fix the Arachni path issues. Sorry for taking so long to get the fix out!

[2018-07-13 16:51] viyatb commented on #982
https://github.com/owtf/owtf/commit/2bf691481a4c9ef950371bf4af4462633499c91a should resolve the Wapiti locale issue. Thanks for reporting this!

[2018-07-13 18:31] #982 closed

[2018-07-19 16:48] lmcthbe opened #992 "owtf API/UI server not working"
owtf API/UI server not working

## Current Behavior

API/UI server http://ip:8009 return file not find

## Steps to Reproduce (for bugs)

1. Clone git repo
2. cd owtf
3. python setup.py install
4. owtf

[code]

5. Open browser to http://<ip>:8009

[code]

## Logs

[code]

## Your Environment

* Installation method used: git
* Version/branch used: latest
* Operating System and version : kali rollin

[2018-07-19 20:17] viyatb commented on #991
@lmcthbe that's weird. Can you `cd owtf/webapp` and do `yarn run` to regenerate the assets and see if it fixes the problem?

[2018-07-24 15:35] lmcthbe commented on #991
@viyatb I had to execute  /root/.nvm/versions/node/v10.7.0/bin/yarn run from /owtf/owtf/webapp and got this
yarn run v1.7.0
warning package.json: License should be a valid SPDX license expression
error There are no binary scripts available.
info Project commands
   - build
      NODE_ENV=production webpack --config webpack/prod.config.js --color -p --progress --hide-modules --display-optimization-

[2018-07-26 00:04] Dark056 opened #993 "Error on dependancies (Kali linux)"
I installed owrf and ran the ./owrf.py.

root@kali:~/owtf# uname -a
Linux kali 4.15.0-kali2-amd64 #1 SMP Debian 4.15.11-1kali1 (2018-03-21) x86_64 GNU/Linux

**Im fairly new to linux but here is the error im getting**
root@kali:~/owtf# ./owtf.py
Traceback (most recent call last):
  File "./owtf.py", line 12, in <module>
    from framework.dependency_check import verify_dependencies
  File "/root/o

[2018-07-30 18:52] ThOhT opened #994 "DB error when I try to run OWTF"
I installed the OWTF and when I try to run it, it gives me an error:
[code]
By the way, "scripts/db_run.sh" script doesn't exist.

I'm using Kali fully updated and cloned OWTF from Git.

[2018-07-30 21:00] ThOhT commented on #993
Did you try this command inside the owtf folder?
`pip install -r requirements.txt`

[2018-07-30 22:10] viyatb commented on #993
@Dark056 are you using an old version of OWTF? You should be using the latest develop branch.

[2018-07-31 03:11] 1522402210 opened #995 "Mac error"
Mac

install OK:

[code]

but,when i used ：

[code]

[2018-07-31 07:44] blshkv opened #996 "python3.6 incompatable code"
[code]

[2018-07-31 07:59] blshkv opened #997 "python3.6: ModuleNotFoundError: No module named 'urlparse'"
net-analyzer/owtf-2.4

[code]

I guess it must be something similar to the code owtf-2.4/owtf/proxy/transaction_logger.py:
[code]

[2018-07-31 20:03] viyatb commented on #996
Hi @blshkv! Thanks for the report. Do you want to fix the print statements and send a PR? It should be pretty easy to do :).

[2018-07-31 20:24] blshkv commented on #996
I hit it during installation and hit a next one later, issue #997. It may be more. So code ia clearly not compatible and it wasn't tested. Sorry, but I do not have time for such task.

[2018-08-01 06:10] viyatb commented on #996
Please use the develop branch to test -- the scripts are fixed in the branch (for eg. https://github.com/owtf/owtf/blob/develop/owtf/scripts/ssl/reporter.py#L29).

[2018-08-01 06:10] #996 closed

[2018-08-01 06:11] viyatb commented on #997
Please use the latest OWTF from the develop branch -- OWTF no longer uses the code you referenced.

[2018-08-01 06:11] #997 closed

[2018-08-01 06:12] viyatb commented on #993
Closing since this is related to an old OWTF release (not supported anymore).

[2018-08-01 06:12] #993 closed

[2018-08-01 06:14] viyatb commented on #995
You are using an old OWTF release, please pull the latest code from the develop branch.

[2018-08-01 06:14] #995 closed

[2018-08-01 10:16] blshkv commented on #996
Please cut a working release. I'm porting this tool to Pentoo Linux and need a stable release

[2018-08-01 20:24] viyatb commented on #981
https://github.com/owtf/owtf/commit/6ccfe39d00439b774e9c3e09fc590186e1e96fb3 should fix the port errors.

[2018-08-01 20:24] #981 closed

[2018-08-01 21:35] ThOhT commented on #994
See log attached.
[owtf-installation.txt](https://github.com/owtf/owtf/files/2251199/owtf-installation.txt)

I removed the ~/.owtf folder and installed again. Still not working and show the same error.

[2018-08-01 21:42] viyatb commented on #994
You did not remove `/home/diego/.owtf` - you need to remove it for a clean install. Also are you running it inside a Docker container (I can see that in the logs)? If so, use the Docker-Compose setup instead of using just the Dockerfile. The Docker-Compose method will setup PostgreSQL for you in a separate container.

[2018-08-02 06:24] viyatb commented on #992
I can reproduce this error - this occurs when you run `python setup.py install` right? I was doing `python setup.py develop` which actually symlinks the package files to the actual directory. The fix here is to generate the built assets to `$HOME/.owtf`.

[2018-08-02 13:56] lmcthbe commented on #992
@viyatb Yes, I was running python setup.py install. So by doing a git pull, and re-running the setup install it should be OK ?

[2018-08-02 14:13] lmcthbe commented on #992
@viyatb  index.html has been created however postgres db was not created and the following error occured at startup

:~/owtf# owtf
[-] Could not create database engine - Exception occured
(psycopg2.OperationalError) FATAL:  password authentication failed for user "owtf_db_user"
FATAL:  password authentication failed for user "owtf_db_user"

[2018-08-02 18:15] viyatb commented on #992
This should be fixed by creating a new virtualenv and removing existing `~/.owtf` and then installing OWTF using `python setup.py install`. If you still have problems with setting up the database, head over to the README - I've added instructions to manually set up the database.

[2018-08-02 18:15] #992 closed

[2018-08-02 21:11] lmcthbe commented on #992
@viyatb Fetch the latest repo 5 mn ago and finally I got the UI to work

[2018-08-02 22:04] viyatb commented on #992
Thanks for the report and verifying that the fix worked!

[2018-08-06 23:22] guyenko opened #998 "Aborted by framework: Files required for SSL MiTM are missing. Please run the install script"
While running owtf, the process stops with the error:

Aborted by Framework: Files required for SSL MiTM are missing. Please run the install script.

## Expected Behavior

The process starts without error.
## Current Behavior

It fails
## Possible Solution

Based on historical data. This issue is due to not having a certificate. I followed the instructions provided

openssl genrsa -des3 -our ~/.ow

[2018-08-15 14:30] paralax opened #1000 "KeyError seen with results for Qualys SSL Labs (unchecked error)"
## Expected Behavior

graceful execution and error handling

## Current Behavior

unhandled KeyError encountered in Qualys SSL Labs output

## Possible Solution

don't assume key existence at /owtf/owtf/scripts/ssl/reporter.py:30 _or_ handle KeyError exception more gracefully

## Steps to Reproduce (for bugs)

1. scan a site with a bunch of SSL/TLS errors
2. look at Qualys results

## Logs

traceb

[2018-09-06 04:35] notwhy opened #1001 "i could not use worker and worklist and run plugin not work."
## Expected Behavior

i can see and use worker and worklist
## Current Behavior

i could not use worker and worklist and run plugin not work.

## Steps to Reproduce (for bugs)

i donot know how to reproduce this . so i make a gif to easily see my problem.
https://ws1.sinaimg.cn/large/006tNbRwgy1fuzntkxhvdg31am0k2kjq.gif

## Logs

i could only see exception in /owtf_review/logs/MainProcess.log . an

[2018-09-07 04:06] viyatb commented on #1001
Please use https://github.com/owtf/owtf/releases/tag/v2.4 for a working web interface. The web interface in the develop branch (latest) is undergoing a refactor.

[2018-09-07 08:37] notwhy commented on #1001
I use https://github.com/owtf/owtf/releases/tag/v2.4 for a working web interface
unfortunately. i met another problem.

root@kali:~/owtf-2.4# python -m owtf
[-] Loading config from: /root/owtf-2.4/owtf/data/conf/framework.cfg..
ERROR:root:Aborted by Framework: Config file not found at: /root/owtf-2.4/owtf/conf/general.cfg

I use command locate resources.cfg  and found its in /root/owtf-2.4/owtf/da

[2018-09-08 15:35] jakobsn commented on #1001
Hello, I am having a similar issue. In addition I realized that after relaunching OWTF the tests could be seen in the logs, but not in the dashboard. Additional tests added after relaunch are moved to the worklist, however they are not moved further to workers until application relaunch. Something strange is also that even when OWTF-2.4 is launched it states version 2.3b in the log as seen below.

[2018-10-18 14:19] black-snow opened #1002 "Improve installation / run for Windows users"
Hi,

I'm bound to MS Windows (work PC) and trying to get owtf up and running. Sadly the docs seem somewhat incomplete in how to do so.

The **github readme** *Requirements* section mentions kali and macOS. If I only read this I'd think that there was no way to run owtf on Windows except via a kali VM. Then there's some installation information that does not apply and then it finishes with

Surely

[2018-10-18 14:40] black-snow commented on #1002
Even more instructions: http://docs.owtf.org/en/latest/installation/methods.html

[2018-10-18 14:40] black-snow commented on #1002
Installation inside WSL fails with another error.

[2018-10-18 14:43] black-snow opened #1003 "Installation fails with python3.7 inside WSL"
[code]

Is python3.7 not supported?

[2018-10-22 16:39] viyatb commented on #1002
I don't think Windows will ever get native support. You can either install in inside the embedded bash shell in Windows 10 (with Unix like tools installed).

[2018-10-22 16:42] viyatb commented on #1003
I found a reference to a similar error at https://stackoverflow.com/questions/51165585/pip3-install-pyyaml-failed-python3-7-macos-high-sierra. You might also need `libyaml` (which provides Python bindings) to install `PyYaml` correctly.

[2018-10-22 16:42] #1003 closed

[2018-10-23 15:53] black-snow commented on #1002
@viyatb Thanks for the reply. So what's the deal with the docker stuff?

[2018-10-25 09:09] black-snow commented on #1003
I manually pip installed pyyaml but the outcome is the same. I wonder why most packages still don't work with python 3.7 ... sure, it's still kinda new but not THAT new ...
I guess there ain't much that you could do except switching to another yaml lib that (the pypi package) runs fine on 3.7+

I'll fallback to a VM then, thanks.

[2018-11-04 23:30] viyatb commented on #998
What OWTF branch are you using?

[2018-11-04 23:31] viyatb commented on #1000
I think Qualys changed their API `json` output - this should be easy to fix.

[2018-11-25 22:19] viyatb commented on #1002
@black-snow if you can't run `make`, try running the `docker-compose` command manually,

 `docker-compose -f docker/docker-compose.dev.yml up`

[2018-11-25 22:19] #1002 closed

[2019-01-05 04:52] ankitkataria commented on #979
Hey @viyatb ! I'm an open source enthusiast and would really love to make my first contribution to the project. Could I work on this issue?

[2019-01-06 11:47] mzfr commented on #998
@viyatb I am having the same problem. I am trying to setup a develop environment.
I am using the `develop` branch. I ran the installation script and when I did `python -m owtf` I am getting:
[code]

[2019-01-06 20:06] viyatb commented on #998
@mzfr if you are on develop branch, you should be able to do `python setup.py install; owtf`. Let me know if that works.

[2019-01-07 11:07] Mipam commented on #992
Could I ask you for favour? How could I do the steps mentioned above? I have the same problem. WHen I ran sudo ./bootstrap.sh I obtained an error "python: can't open file 'install/install.py': [Errno 2] No such file or directory".

[2019-01-07 16:19] mzfr commented on #998
@viyatb I tried the method you suggested and I am still having the same issue.

[2019-01-08 06:02] viyatb commented on #979
@ankitkataria yep, welcome to OWTF! Let me know if you have any questions :)

[2019-01-22 05:24] hktalent opened #1005 "sed: can't read /etc/locale.gen: No such file or directory The command '/bin/sh -c sed -i -e 's/# en_US.UTF-8 UTF-8/en_US.UTF-8 UTF-8/' /etc/locale.gen && locale-gen' returned a non-zero code: 2"
[code]

[2019-01-22 08:12] hktalent commented on #1005
fixed:
[code]

[2019-01-23 14:10] #1005 closed

[2019-02-06 15:04] fuzzy17 opened #1009 "install error"
root@debian:~# pip install git+https://github.com/owtf/owtf#egg=owtf
Collecting owtf from git+https://github.com/owtf/owtf#egg=owtf
  Cloning https://github.com/owtf/owtf to /tmp/pip-install-ptwe_oeq/owtf
Collecting Markdown==2.6.9 (from owtf)
Collecting PTP==0.4.2 (from owtf)
Collecting PyVirtualDisplay==0.2.1 (from owtf)
Requirement already satisfied: PyYAML==3.13 in /usr/local/lib/python3.5/dis

[2019-02-06 20:01] fuzzy17 commented on #1009
python and pip seem to be messed up.  Reinstalled them.

[2019-02-06 20:01] #1009 closed

[2019-02-22 17:40] kj0317 opened #1010 "Page is under construction"
## Expected Behavior
cd /path/to/pentest/folder ; owtf (in python2.7 virtualenv)

         _____ _ _ _ _____ _____
        |     | | | |_   _|   __|
        |  |  | | | | | | |   __|
        |_____|_____| |_| |__|

            @owtfp
        http://owtf.org
        Version: 2.4.0

[+] Loading /home/kj0317/.owtf/conf/framework.yaml..
[+] Loading /home/kj0317/.owtf/conf/general.yaml..
[+] Loading re

[2019-02-24 19:58] guyenko commented on #998
Has this been addressed?

[2019-03-03 11:33] dr3dd589 opened #1012 "gives an error if the current session is deleted without changing it."
- [x] bug
If we are using a current session and unfortunately deleted this without changing session then this gives an error.
## Expected Behavior

## Current Behavior

## Possible Solution

we should make a default session so that if any session is deleted then it automatically set to default session.

## Steps to Reproduce (for bugs)

1. make a new session.
2. use this session .
3. delete this s

[2019-03-03 13:21] viyatb commented on #1012
This is fixed in the latest commit (https://github.com/owtf/owtf/commit/22b7dfb9d7bed5716b01da28c74b425835f85879).

[2019-03-03 13:21] #1012 closed

[2019-03-03 13:22] viyatb commented on #1010
We are still in the process of porting over pages from mixed Jinja templating to pure React - keep an eye out!

[2019-03-03 13:22] #1010 closed

[2019-03-03 13:29] #941 closed

[2019-03-03 13:30] #942 closed

[2019-03-03 14:41] viyatb commented on #1001
I'll open this there are any outstanding problems - to run OWTF in its latest state, run `python setup.py develop` and `owtf`. Make sure the PostgreSQL database is up by running `make startdb` (it requires ` docker` to be installed).

[2019-03-03 14:42] #1001 closed

[2019-03-03 16:31] viyatb commented on #979
Fixed by using `sqlchemy_mixins` - can now use Django ORM like queries!

[2019-03-03 16:31] #979 closed

[2019-03-03 16:32] viyatb commented on #998
This should be fixed in the latest develop. Can you try again?

[2019-03-03 16:34] viyatb commented on #695
Closing this meta issue in favor of smaller feature requests in the web interface.

[2019-03-03 16:34] #695 closed

[2019-03-11 15:05] ThunderSon opened #1013 "Docker setup doesn't assign workers to any job in the worklist"
## Expected Behavior
After adding jobs from target tab, items get added in the worklist and the targets get updated.
Workers should grab the items and start applying the rules on the given target.

## Current Behavior
After adding the targets, the items get added to the worklist. Workers stay idle and don't pick up any task to work on.

## Steps to Reproduce (for bugs)
1. Follow the docker steps t

[2019-03-11 15:09] 9r0x commented on #975
GSoC applicant here. Would like to work on this issue.

If I understood correctly, the original `process_plugins` has been renamed to `process_plugin_list`, so we can call this function instead?

[2019-03-11 16:44] 9r0x opened #1014 "Failed to launch on Kali Linux"
After cloning the repo, starting the server manually, and `python setup.py develop`, `owtf` command is reporting error.

## Expected Behavior
Running properly

## Current Behavior
Not running and error is reported

## Possible Solution
run `python setup.py develop` again and see two lines of error:
[code]
[code]

Not sure if this is the problem.
Also, could be a database related problem since the

[2019-03-12 05:18] EddieIvan01 commented on #1014
I got this issue as well, and  no solution has been found since yesterday.

[code]

[2019-03-12 07:25] Ashishen opened #1015 "The targets are getting refreshed/deleted on restarting the docker container"
The targets are getting refreshed/deleted on restarting the docker container

## Expected Behavior
The owtf container should persist the targets, the history of the plugins tested on the targets, etc even after restarting the container.

## Current Behavior
The sessions created in the target, the targets and the plugin history tested on the targets getting refreshed on restarting the docker contai

[2019-03-12 17:17] viyatb commented on #1015
Thanks for the report! You'll need to add attach a volume to persist data on your host - it should be as simple as adding something like
[code]

to the `docker/docker-compose.yml` file.

[2019-03-13 06:01] johnbowdenatfacet opened #1016 "OS X failing - no "plugins" relation"
I have cloned the repo run the `make startdb` successfully and now trying to install owtf with `python setup.py develop` with the following output:
[code]

and with python3 (installed via brew):
[code]

## Expected Behavior
install script should run.

## Current Behavior
getting above errors.

## Possible Solution
?

## Context
Just trying to get OWTF running, I do have a Kali VM, but failing run

[2019-03-13 06:53] johnbowdenatfacet commented on #1016
I managed to get pip3 installed and dependencies for the setup script.  When I run owtf i get the following:
[code]

[2019-03-13 07:27] johnbowdenatfacet commented on #1016
Getting somewhere, now i get the following from owtf:
[code]

[2019-03-18 16:35] viyatb commented on #1014
@9r0x @EddieIvan01 thanks for the report! I'll look into this tonight. In the meantime, can you try running the PostgreSQL database in a Docker container (`make startdb`)?

[2019-03-18 17:56] 9r0x commented on #1014
@viyatb I still see the same issue after switching to the PostgreSQL database in a Docker container.

[2019-03-21 19:08] propmasterb commented on #1014
Good afternoon.  I've been trying to get OWTF running in the 2019.1 Kali VM and I am experiencing the same error message when attempting to launch owtf.  I tried multiple times, starting with a fresh VM each time and I keep encountering the same error.

[2019-03-21 20:00] viyatb commented on #1014
can you list what steps you followed and the logs from `owtf_review` directory (if any)? I am able to run OWTF with Postgres in a Docker container on macOS. I'll check on Kali.

[2019-03-22 13:16] propmasterb commented on #1014
Thanks!  Here's the steps I followed:
Downloaded and ran the latest Kali VM (2019.1 64-bit).
Cloned OWTF git repository.
Started and configured Postgresql database per the instructions at the top of this page.
Ran Python setup.py develop
Attempted to run owtf - notified of missing dependencies.
Installed all missing dependencies (pip install XYZ)
Ran "pip check owtf" to verify all dependencies met

[2019-03-22 15:36] propmasterb commented on #1014
OK - update.  I tried installing owtf on Kali 2018.2 (an older VM image I had on-hand) following the same steps and I got the same error.  I will note that there were significantly fewer dependency issues (on the 2019 Kali, many of the requirements were a version or two older than what was present in Kali).

However, I decided to start over in another fresh Kali 2019.1 64-bit VM with Docker.  I in

[2019-03-22 19:35] propmasterb commented on #1013
I'm having the same issue.  I'm running OWTF in Docker loaded on Kali Linux 2019.1.  I can launch OWTF through Docker, access the web interface and add targets (I added a local web application and OWASP's Juice Shop).  When I select a plugin from the targets tab and hit "run", i receive the confirmation message "Yup! Selected plugins launched, please check worklist to manage :D"

In the Worklist t

[2019-03-22 21:47] viyatb commented on #1013
@propmasterb can you paste the logs or paste them in a pastebin and link them here? They are stored in `owtf_review/logs` directory.

[2019-03-25 10:15] sachinkamath commented on #1014
I was trying to setup OWTF on Arch Linux (blackarch, specifically) and came across the same bug, Is there a migration script available anywhere?

[2019-03-25 10:21] sachinkamath commented on #1014
Nothing in debug logs in `owtf_review`

Please find some info below :

[code]
The docker version of psql is running just fine.

[code]
Pip does not report any errors as well

Now when I try to run OWTF, I get the following error:

[code]

[2019-03-25 17:14] viyatb commented on #1014
@sachinkamath can you try using Kali 2018 version? I haven't tested this in latest one. It should work on macOS as well.

[2019-03-27 10:15] sachinkamath commented on #1014
@viyatb I don't have access to Kali right now. Let me try a VM.

But I don't see why the operating system is a dependency here. It looks like the table schema is not being populated somehow.

[2019-03-27 15:41] ZBCMars commented on #975
Hi there,
I'm Mars Zhang, a student currently working on GSoC projects.
I have already reproduce the process_plugin_list function and scanner.py and I am wondering if anyone is working on this issue? If not, I will take it. Thanks.

[2019-03-27 15:53] viyatb commented on #1014
I don’t think you need Kali to test it out. I’m trying to make OWTF to be
available on all platforms through Docker.

On Wed, Mar 27, 2019 at 03:15 Sachin S. Kamath <notifications@github.com>
wrote:

[2019-03-27 16:58] sachinkamath commented on #1014
@viyatb I was going through the installation steps and saw that there is no configuration being done for database. I don't see any migrations happening in postgresql here.

Also noticed that there is no configuration file for database in `~/.owtf/` folder as well. Am I missing something?

[2019-03-28 03:44] viyatb commented on #1014
@sachinkamath I removed the automated database script stuff from the install script since it did not work on other platforms and it was more of PITA to maintain it.
You can always use PostgreSQL in a Docker container by running `make startdb`. In the default configuration, it should automatically work.

[2019-03-28 04:17] viyatb commented on #1016
This should be fixed in https://github.com/owtf/owtf/commit/79d955694859036e194f90b6e0f594a84ae0114e. `git pull origin develop && python setup.py develop` should fix existing installations.

[2019-03-28 04:17] #1016 closed

[2019-03-28 04:19] viyatb commented on #1015
I added the Docker volume for PostgreSQL support in https://github.com/owtf/owtf/commit/79d955694859036e194f90b6e0f594a84ae0114e. All PostgreSQL data is saved in `${HOME}/.owtf/data`.

`git pull origin develop && python setup.py develop` should fix existing installations.

[2019-03-28 04:19] #1015 closed

[2019-03-28 04:20] viyatb commented on #1014
This should be fixed in https://github.com/owtf/owtf/commit/79d955694859036e194f90b6e0f594a84ae0114e. `git pull origin develop && python setup.py develop` should fix existing installations. There was a regression in a previous commit which introduced some refactoring in the database session handling.

[2019-03-28 04:20] #1014 closed

[2019-03-28 04:27] viyatb commented on #1013
Restarting OWTF should also work - kill all OWTF processes by `ps -ef | grep "owtf" | xargs kill -9 ` and restart OWTF.

[2019-03-28 04:28] #1013 closed

[2019-03-28 04:40] viyatb commented on #998
@guyenko let me know if this issue still persists on a clean installation of OWTF on Kali 2018.

[2019-03-28 04:40] #998 closed

[2019-03-29 06:17] sachinkamath opened #1018 "Python 3.7 support broken"
I am using the python 3.7.2 version on Arch Linux and one of the pinned dependencies of OWTF, `pexpect` throws an error.

## Current Behavior

[code]

## Possible Solution

On some digging, I found that this issue was fixed in the [upstream](https://github.com/pexpect/pexpect/blob/c741080a46445e5b2dec037c4856617f679d4546/pexpect/spawnbase.py) from `async=True` to `async_=True`. I manually updated

[2019-03-29 06:19] sachinkamath commented on #1018
Can confirm the fix works on Python 3.7

[code]

[2019-03-29 06:20] sachinkamath commented on #1014
@viyatb Thanks!! That fixed it :dancer:

[2019-03-29 21:00] viyatb commented on #1018
Merged the fix.

[2019-03-29 21:00] #1018 closed

[2019-04-03 03:17] diofeher commented on #949
typing is in the standard library since 3.5. We may need something like typing; python_version < '3.5'

[2019-04-03 23:27] diofeher opened #1021 "Typing on python3.7.2 error"
Traceback (most recent call last):
  File "/Users/diofeher/.virtualenvs/owtf/bin/owtf", line 7, in <module>
    exec(compile(f.read(), __file__, 'exec'))
  File "/Users/diofeher/workspace/owtf/bin/owtf", line 7, in <module>
    from owtf.core import main
  File "/Users/diofeher/workspace/owtf/owtf/__init__.py", line 4, in <module>
    from typing import Any, NamedTuple
  File "/Users/diofeher/.vir

[2019-04-04 01:02] viyatb commented on #1021
@diofeher thanks for the reporting this issue! Let me look at it tonight.

[2019-04-04 02:58] diofeher opened #1022 "Modal is closing if selecting "All" option"
If you try to select "All" option in "Run" modal on targets screen, the modal closes. Other options work fine.

## Current Behavior
![2019-04-03 23 53 53](https://user-images.githubusercontent.com/161360/55526592-162cc400-566c-11e9-81ab-723c711b97a3.gif)

## Expected Behavior
Return the list with all options in the modal after selecting `All`

## Steps to Reproduce (for bugs)
1. Go to targets and

[2019-04-04 04:06] viyatb commented on #1022
Can you paste the JavaScript console errors when you do that?

[2019-04-09 17:12] jstourac opened #1023 "Docker image creation fails with various errors"
I am not able to successfully generate docker image for owtf project from v2.5.0 tag. I suspect that I may have been doing something very wrong as I ran into a sequence of problems...

## Expected Behavior

Docker image successfully created and owtf running and prepared for use.

## Current Behavior

Various errors occur during the docker image build

## Possible Solution

1. locale problem:

My w

[2019-04-09 17:21] jstourac commented on #1023
Finally image is successfully build, it can be run by `make docker-run` although when running `owtf`, it has a version dependency problem:
[code]

I must be doing something in a wrong way, I suppose :)

[2019-04-16 00:59] blshkv opened #1024 "proxy: SSL_connect returned=1 errno=0 state=error: wrong version number"
Hi I'm running the current release 2.6.0 and getting the following error:
[code]

Would you have an idea what's wrong?
Could it be because I use the latest dev-libs/openssl-1.1.1b library?

[2019-04-19 16:16] ZBCMars commented on #1024
Hi,
I think this error is pertaining to the SSL Version. Maybe you can update (or re-install) your ruby. If it does not work, these error may be that the client was attempting to establish a handshake with SSL3 while the server was configured to be TLS. Or there may be an error occurred at the protocol level. You can either try to chang the client to TLS or the server to SSL3. Or Call SSL_get_erro

[2019-04-20 02:42] blshkv commented on #1024
I think it is the second case. What would be the fix?

[2019-05-29 11:33] bobekebob opened #1026 "owtf API and UI server fails to start"
## Expected Behavior

## Current Behavior

owtf execution stops at :

        |     | | | |_   _|   __|
        |  |  | | | | | | |   __|
        |_____|_____| |_| |__|

            @owtfp
        http://owtf.org
        Version: 2.6.0

[+] Loading /home/martin/.owtf/conf/framework.yaml..
[+] Loading /home/martin/.owtf/conf/general.yaml..
[+] Loading resources from: /home/martin/.owtf/conf/resourc

[2019-05-31 07:45] mokkastecher commented on #1026
I have the same Problem. Atm. it is impossible to run OWTF in an Docker Container or directly on Kali Linux.
[code]

Directly in Kali Linux:
`/opt/owtf/owtf/webapp/node_modules/node-sass: Command failed.
Exit code: 1
Command: node scripts/build.js`

[2019-05-31 07:45] mokkastecher commented on #1023
Exactly the same Problem here:

`Step 21/26 : ADD docker/wait-for-it.sh /usr/bin/wait-for-it.sh
ERROR: Service 'owtf' failed to build: ADD failed: stat /var/lib/docker/tmp/docker-builder575999474/docker/wait-for-it.sh: no such file or directory`

[2019-06-03 08:22] msayyad opened #1028 "error install [setuptools.sandbox.UnpickleableException]"
`oot@kali:~/owtf# python setup.py install
/usr/lib/python2.7/distutils/dist.py:267: UserWarning: Unknown distribution option: 'test_requires'
  warnings.warn(msg)
running install
running bdist_egg
running egg_info
writing requirements to owtf.egg-info/requires.txt
writing owtf.egg-info/PKG-INFO
writing top-level names to owtf.egg-info/top_level.txt
writing dependency_links to owtf.egg-info/depende

[2019-06-03 20:13] viyatb commented on #1024
Can you use the stable openssl version and see if it fixes the error?

[2019-06-03 20:51] viyatb commented on #1023
I'll look into this today/tomorrow.

[2019-06-05 09:09] blshkv commented on #1024
I'm not sure what is the "stable version" for you. 1.1.0 will be EOL in September. 1.1.1 is stable.
So please try with 1.1.1 too.

[2019-06-07 19:42] hecabena commented on #1028
You may be missing some packages, try running

`sudo apt install libcurl4-openssl-dev libssl-dev`

[2019-06-10 20:45] puckk commented on #1026
Same here.

[2019-06-14 06:54] mokkastecher commented on #1026
Now after your Update it is Possible to start the OWTF Webui, but now i get a new error. The Pages Worklist, Workers and Login doesn't work. I get the message: Page is under construction.

[2019-06-26 00:09] mmaruf212 commented on #998
Getting the same issue for OWTF version 2.6 in Kali linux running in AWS EC2 instance

[+] Loading /usr/local/lib/python2.7/dist-packages/owtf-2.6.0-py2.7.egg/owtf/data/conf/framework.yaml..
[+] Loading /usr/local/lib/python2.7/dist-packages/owtf-2.6.0-py2.7.egg/owtf/data/conf/general.yaml..
[+] Loading resources from: /home/ec2-user/.owtf/conf/resources.cfg..
[+] Loading framework please wait..
[

[2019-06-27 13:18] lijodigiledge opened #1031 "is there any document to understand the expected output of particular plugin like "not found" for some semi passive plugin"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Logs

## Context

## Your Environment

* Installation method used:
* Version/branch used:
* Operating System and version (like Kali, Debian, ArchLinux, etc):
* pip/setuptools version:
* sudo access:

[2019-07-02 11:48] mokkastecher opened #1032 "Page under is under constr"
Hi,

## Current Behavior
Webfronet doesnt work. When i go on Targets and Workes i got the Message: **Page is under construction.**

## Your Environment
* Installation method used: I installed OWTF with the manual on https://github.com/owtf/owtf
* Version/branch used: Version 2.60
* Operating System and version (like Kali, Debian, ArchLinux, etc): Kali 2019.2
* pip/setuptools version: newest form k

[2019-07-03 00:25] viyatb commented on #1032
Please use the develop branch from Git. We are actively working on the new frontend there.

[2019-07-03 00:25] #1032 closed

[2019-07-03 00:27] viyatb commented on #1028
I am closing this since this does not directly relate to OWTF. I would recommend making sure you have all the pre-requisites for installing `pycurl`.

[2019-07-03 00:27] #1028 closed

[2019-07-25 19:22] AInteriorB commented on #1026
Same here

[2019-07-25 19:23] AInteriorB commented on #1023
News?

[2019-08-10 07:50] Hax0rG1rl commented on #1023
Do you have any news / workable workaround regard this matter? Thanks!

[2019-09-09 14:46] vertrost commented on #1023
Any updates?

[2019-09-09 17:56] viyatb commented on #1023
I'll look into this if I get some time this week.

[2019-09-17 00:33] mehran-01 opened #1040 "Foreign key associated with column 'command_register.plugin_key' could not find table 'plugins'"
I still can not run owtf on Kali, I tried both ways(running through docker and without it).
At last step when run owtf getting an error as below. Any idea?
## Expected Behavior
Run OWTF on Kali

## Current Behavior

sqlalchemy.exc.NoReferencedTableError: Foreign key associated with column 'command_register.plugin_key' could not find table 'plugins' with which to generate a foreign key to target co

[2019-09-26 20:09] CypherAlmasy commented on #1040
I ran in to this as well.  I did a bisect and tracked the issue down to [this commit](https://github.com/owtf/owtf/commit/aa264dca55f4374dd372b8664fe62c75082179ca).  It looks like an unintended side effect from the added import in owtf/api/handlers/misc.py.  I can try to muddle through a PR later to fix it, though someone more familiar with the codebase than I am would probably be able to fix it m

[2019-10-18 16:34] secureonelabs commented on #1040
Same issue here as mehran-01. Any ETA on a fix?

[2019-10-23 15:13] jumson commented on #1040
Same issue, with Kali, using default branch, and then a new VM with ubuntu 19.04. Tried both the Docker and the Manual way of PostreSQL, same error:

[code]

[2019-10-31 12:46] sonawanesarvesh commented on #1040
Hi
i tried both docker and git clone installation on Kali 2019.3 and Kali 2018.4 both version but i am always failing with same error -  (MainProcess.log is also empty)

sqlalchemy.exc.NoReferencedTableError: Foreign key associated with column 'command_register.plugin_key' could not find table 'plugins' with which to generate a foreign key to target column 'key'

[2019-11-13 06:03] naveenrajamannar opened #1041 "Unable to install OWTF"
Hi,

I use Kali, I did sudo apt-get update and sudo apt-get upgrade and tried installing owtf
but getting the following error udo pip install git+https://github.com/owtf/owtf#egg=owtf
[sudo] password for testengkali:
Collecting owtf from git+https://github.com/owtf/owtf#egg=owtf
  Cloning https://github.com/owtf/owtf to /tmp/pip-install-ro_ui8/owtf
Requirement already satisfied: Markdown==2.6.9 in

[2019-11-14 07:01] naveenrajamannar commented on #1009
Hi @fuzzy17 did re-installing the python fix this issue? I am facing the same issue, shall I use sudo apt-get purge python && sudo apt-get install python2.7.
Thanks.

[2019-12-12 13:01] DonaldTsang opened #1042 "Question: Comparison/Compatibility between this and Twint"
What are the basic differences between this repo and Twint's API-free scraping?

[2020-01-17 14:53] smogg commented on #1040
Same problem here ✋

[2020-01-27 21:05] smogg opened #1044 "OWTF (run from docker image) hangs after a few plugins"
**tldr;**
Running the docker image from https://github.com/owtf/owtf-docker; the app generally hangs and never completes the full scan after a few plugins

## Expected Behavior
The app should continue scanning according to the worklist, or at least log what's happening

## Current Behavior
After selecting a bunch of plugins, some of them generate a report. At some however, everything hangs and one

[2020-02-12 00:55] blshkv commented on #1021
https://github.com/owtf/owtf/issues/949

[2020-02-19 02:49] jandress commented on #1040
Same issue here. Is this project dead?

[2020-02-23 14:16] smxdevsix commented on #1041
Hi @naveenrajamannar,

Do you still face this issue?

[2020-02-23 17:35] NishealJ commented on #1040
Hi @smogg, @jandress,

 For a temporary run please goto` owtf/models/command.py` and replace  `plugin_key = Column(String, ForeignKey("plugins.key"))` this with   `plugin_key = Column(String)`

Also, take a look at the same in this PR #1045

Let me know if that works!

[2020-03-23 16:57] mircealungu commented on #1044
same problem when running with OS X as host.

[2020-03-29 15:37] #1040 closed

[2020-03-29 17:22] viyatb commented on #1042
Twint is only for Twitter. The purpose of the tools are entirely different.

[2020-03-29 17:22] #1042 closed

[2020-04-17 09:49] synthet1c-info opened #1056 "Could not find a version that satisfies the requirement sqlalchemy_mixins==1.1"
sudo pip install git+https://github.com/owtf/owtf#egg=owtf

-- snip --
Collecting SQLAlchemy==1.1.13
  Using cached SQLAlchemy-1.1.13.tar.gz (5.2 MB)
ERROR: Could not find a version that satisfies the requirement sqlalchemy_mixins==1.1 (from owtf) (from versions: 0.1.3, 0.1.4, 0.1.6, 0.1.7, 0.2, 0.2.1, 0.2.2, 0.2.3, 1.0, 1.0.1, 1.2.1)
ERROR: No matching distribution found for sqlalchemy_mixins==1.

[2020-04-23 22:37] Ashrith-Shetty opened #1057 "Manual Installation when setup.py is run"
On running python setup.py develop a ModuleNotFoundError is thrown.
We have to manually install the following Modules Tornado, PyYAML, Six.
This issue is present in both manual and docker installation process

## Expected Behavior

The installation of all the required dependencies is done automatically.

## Current Behavior

Requires the user to manually install some of the modules.

## Possible S

[2020-04-24 10:16] Ashrith-Shetty opened #1060 "Scan Results for Target not being Displayed"
When trying to see the scan results for a Target." Something went wrong, please try again!" Message is being displayed.
Request URL:http://localhost:8009/api/v1/targets/1/poutput/names/
Request Method:GET
Remote Address:127.0.0.1:8009
Status Code: 500 Internal Server Error

## Expected Behavior

Get Scan Results for a target

## Steps to Reproduce (for bugs)

1. Install OWTF
2. Add Target and sele

[2020-04-26 20:00] Ashrith-Shetty opened #1062 "Outputs to plugins not being displayed"
The output on running the plugin is not being displayed.
Eg:- On trying to access output of browser fingerprinting on this endpoint` /api/v1/targets/4/poutput/?plugin_code=OWTF-IG-004` Internal Server Error is being Displayed.

## Expected Behavior

On running the plugins, the output for the target needs to be displayed.

## Steps to Reproduce (for bugs)

1. RUN OWTF
2. Select Plugin.
![Screenshot

[2020-04-30 19:53] OxMarco opened #1063 "sqlalchemy_mixins outdated requirement"
Upon installation on kali linux ARM version.
Cloned the repo, installed _tornado_ via _pip3_ and then run the setup command.
Here's the error:

`Could not find suitable distribution for Requirement.parse('sqlalchemy_mixins==1.1')`

[2020-05-16 12:35] optimostech commented on #1023
Hi any update??

[2020-05-22 05:14] flamecopper opened #1064 "Error while executing from OWTF"
[INFO] [2020-05-22 13:10:56,426] [File 'blocking_shell.py', line 167, in shell_exec_monitor] - ------> Execution Start Date/Time: 22/05/2020-13:10
[INFO] [2020-05-22 13:10:56,426] [File 'blocking_shell.py', line 168, in shell_exec_monitor] -

[2020-05-29 07:35] bowojori7 commented on #1023
Any updates sir?

[2020-07-15 10:22] Ashrith-Shetty opened #1067 "Error on Running OWTF-CM-003 Infrastructure Configuration Management"
On Running OWTF-CM-003 Infrastructure Configuration Management, File "HTTP-Traceroute.py" throws various errors.

1. NameError: name 'urllib' is not defined
2. AttributeError: type object 'Request' has no attribute 'build_opener' etc

[2020-07-15 16:41] Ashrith-Shetty opened #1069 "All plugins are running irrespective of the selected plugin"
On selecting Eg:- OWTF-CM-003, all the plugins are running instead of the selected plugin.

## Expected Behavior

Select a particular plugin only that particular plugin should run.

## Steps to Reproduce (for bugs)

1.Start OWTF Framework.
2.Select a particular plugin to run.

[2020-07-16 10:15] Ashrith-Shetty opened #1071 "SSLSocket does not have a public constructor error in python3.7"
## Steps to Reproduce (for bugs)

1. Run browser fingerprinting plugin.

## Logs

http://pastie.org/p/3tqckq4JejjI7sjhllASol

[2020-07-16 15:43] Ashrith-Shetty opened #1073 "Python packages do not support python3.7"
Some of the python packages mentioned below do not officially support python3.7.
tornado==5.1.1
psycopg2-binary==2.7.4
SQLAlchemy==1.1.13
requests==2.18.4

[2020-07-24 14:52] Ashrith-Shetty opened #1076 "Error on running some plugins"
## Expected Behavior

1) OWTF-CM-001
[code]
Report is not being generated on ActiveSSLCmds.

2)OWTF-PTES-009
`python /usr/share/doc/python-impacket-doc/examples/samrdump.py` Not found

## Steps to Reproduce (for bugs)

1.RUN plugin OWTF-CM-001 and OWTF-PTES-009

[2020-07-31 15:03] Ashrith-Shetty opened #1079 "Output for Passive Plugins"
Output not being displayed for Passive Plugins

## Expected Behavior
See the links for resource list for passive plugins.

## Current Behavior

No output being displayed

## Steps to Reproduce (for bugs)

1. Select any run any passive plugins

[2020-08-20 17:01] Robigus92 opened #1081 "OWTF Installation guides do not work"
I am not able to install OWTF. I have tried to install it on Kali Linux 2020.2.

The guidelines that I tried are two:

- https://owtf.github.io/#download

- The "Installation" section from https://github.com/owtf/owtf

It is looks like these guidelines are old and not tested.

An example of error I get on Kali Linux when i run the "python setup.py install" is:
"**encoding is an invalid keyword arg

[2020-08-21 09:14] Ashrith-Shetty opened #1082 "Enhancement - Plugin to check for Subdomain Takeover"
Subdomain Takeover being a very common vulnerability exploited these days, adding a plugin to detect this vulnerability would be very beneficial to users.

[2020-08-21 10:03] Ashrith-Shetty opened #1084 "Issues in the running Passive Plugins which use shodan and censys"
This issue is because both Shodan and Censys have updated their domain name and query parameters.

[2020-08-31 11:25] Ashrith-Shetty opened #1086 "Enhancement - Check for Public/ Open Amazon S3 Buckets"
Check if the domain has open Amazon S3 buckets to prevent information disclosure.

[2020-10-08 03:08] mariogd opened #1094 "db_setup.sh is broken on Kali Linux"
1) sh scripts/db_setup.sh
scripts/db_setup.sh: 8: s/\./ /g: not found

## Expected Behavior
DB Setup should run

I could be mistaken, but perhaps the sed statement isn't compatible with gnu sed syntax?

## Current Behavior
Prevents DB init post-install
## Your Environment
Latest up-to-date kali install
python3

[2020-10-19 18:10] bernardofsr commented on #1081
Install using Python2.

`python2 setup.py install`

And if get more errors, install scripts and requirements using python2 too.

[2020-12-07 07:38] EXTREMOPHILARUM opened #1096 "Unable to view logs on the Worker Panel and the Dashboard"
The System logs being generated by the workers in the background are not accessible through the frontend.

## Expected Behavior
The logs should be visible as shown in the image below.

![image](https://user-images.githubusercontent.com/22239978/101320903-8270b980-388a-11eb-9d20-f01d8728b446.png)

## Current Behavior

![image](https://user-images.githubusercontent.com/22239978/101320951-92889900-38

[2020-12-18 19:48] scotmatson commented on #998
Just encountered this issue in latest Kali release, 2020.4

Couldn't run the `python setup.py develop` command without first installing missing dependencies `curl-config` and `psychopg2` and now receiving this error when running owtf.

Recommended Docker installation hangs on execution leaving both paths to installation effectively broken.

[2021-01-07 07:17] EXTREMOPHILARUM opened #1101 "Https repository while building the docker image."
By default, the Kali docker image base that is used to make the owtf docker image uses the Kali HTTP repository Kali has supported HTTPS repository since April 2017. We can change this by simply adding a few lines to the Docker file.

## Context

The ISP's in my area block the Kali repo when using HTTP by either completely denying serving the request or by throttling the connection and giving less

[2021-01-10 13:27] NishantPuri99 commented on #949
Hi I want to know what this issue is. Can I try it out and get some help in starting it?

[2021-01-10 13:28] NishantPuri99 commented on #975
Hi can I still try this issue out?

[2021-01-23 10:19] sharmamohit123 commented on #1094
@viyatb pls close this issue

[2021-01-23 10:21] sharmamohit123 commented on #1086
@viyatb pls close this issue

[2021-02-24 01:43] darkshredder opened #1102 "Docker Build failing"
## Expected Behavior
The command `make compose` should run successfully.

## Current Behavior
When we run `make compose` some error are being show and the command terminates with error.

## Possible Solution
The error is because the current dockerfile base image has python3.9 installed instead of python3.8.
This can be resolved by changing line `RUN python3 -m virtualenv --python=/usr/bin/python3.

[2021-03-05 00:57] #1102 closed, assigned to nobody

[2021-03-11 05:17] amanpro30 commented on #946
Hello @viyatb, I would like to take up this issue.

[2021-03-13 09:48] amanpro30 commented on #1063
@viyatb Are we good to close this issue as sqlalchemy_mixins is up to date.

[2021-03-16 19:15] sharmamohit123 opened #1106 "[Easy Fix] Frontend issues"
1.Breaking GIFs in Dashboard.

![imageedit_12_3503635619](https://user-images.githubusercontent.com/31919606/111366698-daa12e00-86b9-11eb-9011-189d57e6ca78.png)
2. In the Report page, the Side panel should fit the screen vertically.

![imageedit_10_4381262128](https://user-images.githubusercontent.com/31919606/111366393-6f575c00-86b9-11eb-9861-8e527ccc3e31.gif)
3. When no Plugin is running, the er

[2021-03-17 02:49] prince-7 commented on #1106
I would like to work on this. please assign

[2021-03-17 06:57] sharmamohit123 commented on #1106
Sure @prince-7. Please go ahead.

[2021-03-17 14:36] prince-7 commented on #1106
Please check the PR

[2021-03-19 11:15] amanpro30 opened #1109 "Universal Search in Plugins modal"
Just like we have universal search in worklist page to search by Actions, Target, PluginGroup, etc., We can add a similar search bar to search whatever Plugins we want to add.

## Expected Behavior
![image](https://user-images.githubusercontent.com/37950602/111771023-2aa60d80-88d1-11eb-802b-e04abc5a85bd.png)

## Current Behavior
![image](https://user-images.githubusercontent.com/37950602/111771092

[2021-03-19 11:15] amanpro30 commented on #1109
I would like to take up this issue.

[2021-03-21 18:03] amanpro30 opened #1111 "Add SSL Support for API/WebUI"
The current version of OWTF is missing the SSL (HTTPS) for our API service. Tornado is already supporting SSL.

## Possible Solution
When using the SSL for non-production applications or other experiments we can use a self-signed SSL certificate. Though the certificate implements full encryption, visitors to our site will see a browser warning indicating that the certificate should not be trusted.

[2021-03-23 12:51] AkikoOrenji commented on #1044
Same problem here with running on Docker Desktop latest on Windows 10 and a git pull just from yesterday.  Various other problems in addition to the hangs and plugins not working.....

Even though some tests which do complete says Successful when you click Browse everything points to http://127.0.0.1:8010/null/

![image](https://user-images.githubusercontent.com/30274508/112146565-d764ef80-8c2f-11

[2021-03-23 16:32] Krshivam25 commented on #975
Hi, I would like to work on this. Can you suggest me a path to get started.

[2021-03-25 04:07] amanpro30 opened #1114 "Clickjacking on WebUI/API"
## Expected Behavior

Clickjacking should not happen on main webUI of OWTF.

## Current Behavior

Able to load the domain into iframe.

![image](https://user-images.githubusercontent.com/37950602/112417725-2dc85000-8d4e-11eb-992e-fc9b64f8f5b6.png)
## Possible Solution

Add X-Frame-Options: SAMEORIGIN to the response headers

## Steps to Reproduce (for bugs)

1. Load the attached HTML file
2. Obser

[2021-03-25 04:08] amanpro30 commented on #1114
I would like to work on this issue

[2021-03-25 15:43] amanpro30 opened #1115 "Server error while adding multiple targets"
## Expected Behavior
We should be able to add multiple targets for running plugins and there shouldn't be any server error.

## Current Behavior
Server error is coming. (Unable to add Error).

![image](https://user-images.githubusercontent.com/37950602/112501210-0eadda80-8daf-11eb-9374-36645032cb0d.png)

[2021-03-25 15:44] amanpro30 commented on #1115
I will work on this issue.

[2021-03-25 19:21] amanpro30 opened #1118 "Export not working for exporting report"
The export report should be able to export the report in a JSON format file.

## Expected Behavior
Able to download the file without any issues.

## Current Behavior
Not downloading. Showing a blank page.

## Possible Solution
The API is there for generating the report for a target. We need to pack data in a JSON downloadable file.

## Steps to Reproduce (for bugs)
![image](https://user-images.git

[2021-03-25 19:27] amanpro30 commented on #1118
I would like to take up this issue.

[2021-03-28 15:58] amanpro30 opened #1120 "Issues in some Subdomain Takeover Plugin"
Some Subdomain Takeover APIs are not working.

## Current Behavior
![image](https://user-images.githubusercontent.com/37950602/112758495-5b422180-900c-11eb-8ee0-3d90a07682b0.png)

## Possible Solution
Making required changes to the plugins.

[2021-03-28 18:10] amanpro30 opened #1122 "Error in PluginNameOutput API"
PluginNameOutput is giving Internal Server Error

## Expected Behavior
JSON containing result of the plugin output on the target.

## Current Behavior

![image](https://user-images.githubusercontent.com/37950602/112762574-ed065a80-901d-11eb-85ab-20db07b0d9ef.png)

[2021-03-28 23:11] Rohan-Salwan opened #1123 "owtf required old requirements in python 3.8.5"
## Current Behavior
ERROR: owtf 2.6.0 has requirement psycopg2-binary==2.8, but you'll have psycopg2-binary 2.8.6 which is incompatible.
ERROR: owtf 2.6.0 has requirement SQLAlchemy==1.3.0, but you'll have sqlalchemy 1.4.3 which is incompatible.
ERROR: owtf 2.6.0 has requirement future==0.16.0, but you'll have future 0.18.2 which is incompatible.
ERROR: owtf 2.6.0 has requirement cffi==1.14.1, but

[2021-04-01 21:25] #1120 closed, assigned to nobody

[2021-04-01 21:26] #1114 closed, assigned to nobody

[2021-04-01 21:28] #1115 closed, assigned to nobody

[2021-04-02 12:08] Udbhavbisarya23 opened #1126 "Broken Link on help page"
The Release Notes link in the OWTF Help Links is broken
## Expected Behavior

On click of the link, the user should be redirected to the release notes page or the link should be removed
## Current Behavior

Currently, we are redirected to a dead link
![OWASP_Issue_1_a](https://user-images.githubusercontent.com/43880582/113413604-aa0b0500-93d8-11eb-809c-4554d3883d2e.png)
![OWASP_Issue_1_b](https://

[2021-04-02 12:08] Udbhavbisarya23 commented on #1126
I would like to take up this issue

[2021-04-03 17:34] Udbhavbisarya23 commented on #1126
I have created a pull request, please let me know if there any changes to be done

[2021-04-09 18:32] hansikaSAXENA23 commented on #1106
Is this issue resolved? If not then I would like to work on this. @sharmamohit123

[2021-04-11 13:28] amanpro30 opened #1131 "Tabnabbing in OWTF Dashboard"
## Expected Behavior

Tabnabbing in the help menu in OWTF Dashboard. Since tabnabbing can only happen in older version of firefox and chrome. New versions of browser have already fixed this issue. So there is a risk when OWTF is going global and some victims still may use the older version of browser.

## Possible Solution

Adding rel="noopener noreferrer" directive in all the anchor tags will fix

[2021-04-11 13:29] amanpro30 commented on #1131
I will like to work on this issue.

[2021-04-11 16:13] amanpro30 opened #1133 "Unable to create issue from 'Report Errors on GitHub' on Dashboard"
When trying to create errors from 'Report Errors on GitHub' button on dashboard, it is taking to the null page.

## Expected Behavior

Should be able to redirect to page where users can create issue on github.

## Current Behavior

![image](https://user-images.githubusercontent.com/37950602/114311957-82b9e380-9b0e-11eb-9968-332b011b189d.png)

## Possible Solution

Fixing the github_issue_url assoc

[2021-04-11 19:20] amanpro30 commented on #1133
I would like to work on this issue.

[2021-04-22 19:49] EXTREMOPHILARUM opened #1134 "Frontend stuck at "Loading application"."
The Latest version of node i.e. v16.0.0 is not supported by the node-saas package. This is resulting in the application frontend not loading.

## Expected Behavior
The page should load normally like the image below.
![image](https://user-images.githubusercontent.com/22239978/115780148-70755a80-a3d6-11eb-9413-e4eb1c9f2510.png)

## Current Behavior
Currently, the page is stuck at the loading page.
!

[2021-05-11 15:55] robindhondt95 opened #1140 "Installing framework problems + launching scans does not work"
## Expected Behavior

Installing the framework without any installation errors
Launching vulnerability scans without any issues, and receiving reportation on them.

## Current Behavior

I run into many different problems while installing this framework (dependencies, database,...), not 1 guide is there to find on the internet, which causes 0 issues when installing.

When finally able to install (w

[2021-05-23 13:23] rahultalekar commented on #1134
i am also getting same error is there any solution ? i have already tried the possible solution but it didn't work

[2021-05-23 19:08] EXTREMOPHILARUM commented on #1134
Hi @rahultalekar,
Can you please specify what you have tried?

[2021-05-24 04:17] rahultalekar commented on #1134
hi @EXTREMOPHILARUM,
i rebuild the node-sass also install nodejs version 15. but i am getting still same error. my current node-saas version is @6.00. can you provide your solution step by step here ?

[2021-05-25 19:16] EXTREMOPHILARUM commented on #1134
Hi @rahultalekar,
If you are trying to install on your base system, uninstall the previously install latest version, then run the script, and if you are doing it in docker, rebuilding the image should solve it.

[2021-05-26 09:19] rahultalekar commented on #1134
hi @EXTREMOPHILARUM , yes i have tried to rebuild the image but its not working can you provide step to rebuild image, it will be very helpful

[2021-05-30 15:16] rahultalekar commented on #1134
@EXTREMOPHILARUM hey build is not working can you provide steps ? is workaround worked for you ?

[2021-05-30 15:28] EXTREMOPHILARUM commented on #1134
Hi @rahultalekar, Contact me on the OWASP slack or telegram. My handle is @EXTREMOPHILARUM.

[2021-06-03 15:58] rahultalekar opened #1143 "port 8010 is not #exposing unable to view outputs"
i have installed owtf using docker but whenever i start the owtf its does not exposing the 8010 port so thats why i am getting 404 error. is there any one that facing the same problem and also provide the solution . i have check the docker-compose.dev.yml file in that file there is 8010 port is present.
![Screenshot (327)](https://user-images.githubusercontent.com/32674792/120675170-7751bb80-c4b2-

[2021-06-14 09:11] tarunkant commented on #1134
I am also having the same problem

[2021-06-14 09:18] EXTREMOPHILARUM commented on #1134
You can check [this](https://github.com/owtf/owtf/pull/1135) PR.

[2021-06-16 07:26] cybersecpwn commented on #994
I am getting this error

[-] Could not create engine - Exception occured
(psycopg2.OperationalError) FATAL:  password authentication failed for user "owtf_db_user"
FATAL:  password authentication failed for user "owtf_db_user"

(Background on this error at: http://sqlalche.me/e/e3q8)

[2021-06-16 08:26] cybersecpwn opened #1146 "DB Error"
I am getting this error

[-] Could not create engine - Exception occured
(psycopg2.OperationalError) FATAL: password authentication failed for user "owtf_db_user"
FATAL: password authentication failed for user "owtf_db_user"

(Background on this error at: http://sqlalche.me/e/e3q8)

[2021-06-22 13:06] mwager opened #1149 "Export report functionality is not working after fresh installation (develop branch)"
After fresh docker based installation as documented in the README:

[code]

The app is running and working, but the "export report" functionality on the Report page is not working as the following folder is empty:

`owtf/webapp/src/containers/Report/templates`

JS Code tries to import the directory to create the menu items:

https://github.com/owtf/owtf/blob/develop/owtf/webapp/src/containers/Repo

[2021-06-24 17:40] EXTREMOPHILARUM commented on #1134
PR merged closing issue.

[2021-06-24 17:40] #1134 closed, assigned to nobody

[2021-07-13 21:49] #1131 closed, assigned to nobody

[2021-07-13 21:50] #1133 closed, assigned to nobody

[2021-07-13 21:54] #1109 closed, assigned to nobody

[2021-07-14 15:00] blshkv opened #1155 "requirements: uuid"
Hello, I'm trying to figure out why do you need uuid package. It is VERY old (2007) and does not support python3.
https://github.com/owtf/owtf/commit/554d45571dc17c1dbd402bb895b2075bc79c28bc#diff-0940fec0afe21798f617cc4522db676f15769ae28a72992b8d19216ef7b1c3b5

[2021-07-14 17:48] EXTREMOPHILARUM commented on #1146
Hi @cybersecpwn,
how did you create the db?

[2021-08-13 01:48] #822 closed

[2021-08-21 17:36] #1076 closed, assigned to nobody

[2021-11-04 14:43] EsharkyTheGreat opened #1169 "Syntax Error in uuid package while running OWTF"
## Expected Behavior

OWTF binary to run properly
## Current Behavior

Syntax Error in uuid package
![image](https://user-images.githubusercontent.com/75795114/140333829-f527ac1a-52f2-43cb-a222-2eda08f54538.png)

## Possible Solution

## Steps to Reproduce (for bugs)

1. `sudo python3 setup.py install`
2. `owtf`

## Logs

## Context

trying to run owtf for the first time

## Your Environment

* In

[2021-12-17 12:38] AmeliaYeah opened #1170 "Password is marked as "insecure" even though it fits all the requirements."
## Expected Behavior
Upon signing up on the OWTF web interface, the password used (32 characters generated from a password manager with all possible characters) should be marked as secure and should allow me to create an account.

## Current Behavior
I am essentially locked out of the site since any and all passwords (even if they logically fit the requirements to be deemed "secure") are denied an

[2022-04-14 05:54] gaurav884 opened #1179 ""Login required" while reloading even if Logged in."
Loss of state while reloading.
## Expected Behavior
The page should be reloaded without any errors.

## Current Behavior
Whenever we reload a page, "Login Required" and "Page not found" are shown(even if we are logged in).

## Possible Solution
I think the state is lost during the reload of the page which causes this error.

## Steps to Reproduce (for bugs)

![OWASP_OWTF_ERROR](https://user-images

[2022-04-19 10:48] gaurav884 opened #1180 "Overflow of text"
Overflow of text for long urls.

![Screenshot from 2022-04-19 15-58-00](https://user-images.githubusercontent.com/57193590/163987663-2e6202c4-1b09-465b-b664-0d9be441f543.png)

![Screenshot from 2022-04-19 15-58-41](https://user-images.githubusercontent.com/57193590/163987697-2130949f-68d2-4aad-9a98-f28fd56088d7.png)

[2022-05-05 14:18] BSec commented on #735
I would still say this kind of option would make the tool more desired by community.

[2022-05-11 22:30] jerobar opened #1183 "Docker build fails due to Python version (3.10 vs. 3.9)"
When installing with ```make compose``` the docker build fails with error:

```FileNotFoundError: [Errno 2] No such file or directory: '/usr/bin/python3.9'```

I believe it's because ```apt-get -y install python3``` in the Dockerfile installs python 3.10. I (naively) tried just modifying the Dockerfile to create and activate the virtualenv with ```--python=/usr/bin/python3.10``` (on line 45) but i

[2022-05-13 10:22] gcc-compiled commented on #1183
I am getting the same fail on step 20:
`Step 20/29 : RUN python3 -m virtualenv --python=/usr/bin/python3.9 $VIRTUAL_ENV
 ---> Running in 8c79a75c86ff
FileNotFoundError: [Errno 2] No such file or directory: '/usr/bin/python3.9'
The command '/bin/sh -c python3 -m virtualenv --python=/usr/bin/python3.9 $VIRTUAL_ENV' returned a non-zero code: 1
ERROR: Service 'owtf' failed to build : Build failed
make

[2022-05-15 09:28] #1180 closed, assigned to nobody

[2022-05-31 14:05] leo-mercier opened #1185 "make compose error"
I'm trying to install owtf for 1 day. I'm unable to make compose. I need OWTF for my certification course.

here is the output of the error:

![image](https://user-images.githubusercontent.com/50695235/171192810-fe1f8edd-1a41-46ce-8d12-8efd5efb1cf4.png)

[2022-05-31 14:07] leo-mercier commented on #1185
i have tried on 3 diferent linux system

[2022-06-02 18:54] mrchainman commented on #1183
I created a Fork which fixes the Dockerfile here https://github.com/mrchainman/owtf/
I will make a PR, in the meantime you can use my version.

[2022-06-02 18:55] mrchainman commented on #1185
I created a Fork which fixes the Dockerfile here https://github.com/mrchainman/owtf/
I will make a PR, in the meantime you can use my version.

[2022-06-11 08:56] gaurav884 opened #1187 "[Auto-Generated] Bug report from OWTF"
{"  File \"/bin/owtf/lib/python3.9/site-packages/owtf-2.6.0-py3.9.egg/owtf/workers/local.py\", line 45, in pseudo_run    self.plugin_handler.process_plugin(session=self.session, plugin_dir=plugin_dir, plugin=plugin)","  File \"/bin/owtf/lib/python3.9/site-packages/owtf-2.6.0-py3.9.egg/owtf/plugin/runner.py\", line 439, in process_plugin    output = self.run_plugin(plugin_dir, plugin)","  File \"/b

[2022-06-11 08:57] #1187 closed, assigned to nobody

[2022-06-28 15:23] #1185 closed, assigned to nobody

[2022-08-10 12:54] sebix opened #1203 "Running with Docker compose: No such file or directory: '/root/.owtf/build/index.html'"
## Expected Behavior
http://0.0.0.0:8009/ presents an interface

## Current Behavior
[code]
## Possible Solution

## Steps to Reproduce (for bugs)
Follow https://github.com/owtf/owtf#running-as-a-docker-container
1. git clone https://github.com/owtf/owtf
2. cd owtf
3. make compose

## Logs
`/tmp/owtf/ui_server.log` has just the same error message as above

## Context
Trying to run the application.