[2015-06-29 14:41] gaurav281195 commented on #474
yes @tunnelshade i have tried what @delta24  suggested.
still i am getting the error.
Error: You need to install postgresql-server-dev-X.Y for building a server-side extension or libpq-dev for building a client-side application.               ---------------------------------------- Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-z44nJ1/psycopg2

[2015-06-29 15:28] tunnelshade commented on #474
Please use the following commands and let me know

[code]

[2015-06-29 15:55] gaurav281195 commented on #474
still problem not solved.

[2015-06-29 23:59] tunnelshade commented on #474
Oops, you also have to have libpq-dev
[code]

[2015-06-30 05:50] #414 closed

[2015-06-30 18:34] DePierre commented on #439
@delta24 Have you been able to reproduce this bug in a fairly stable way? Would you have any recommendations to share with us in order to reproduce such behavior?

[2015-06-30 19:39] DePierre commented on #441
@delta24 @7a I do not think that the fix is as simple as moving DirBuster toward the end of ``framework/config/web_testgroups.cfg``. In fact, I don't think that there is a nice way to fix such issue.

The only fix that I have found and tested is fucking ugly in the way that OWTF tests for the hardcoded keycode of DirBuster plugin. Look at this:

[code]

Please tell me that there is a better way! @

[2015-07-01 00:16] tunnelshade commented on #441
@DePierre Yes, there is a better way. I will push it soon.

[2015-07-01 04:14] delta24 commented on #439
I only posted this from the @7a 's testing doc, please forward it to him xD.

[2015-07-01 19:52] 7a commented on #444
Confirmed as lack of indexing, adding the following index eliminated ALL CPU spikes "idle in transaction", "SELECT", etc.

```n```
Name	Definition	Constraints	Clustered?	Actions	Comment
transaction_id_idx	CREATE INDEX transaction_id_idx ON transaction_grep_association USING btree (transaction_id)

[2015-07-02 05:40] sukudo opened #481 "Getting error while running plugins. Error "Oops! Server replied: Bad Request""
Hi Team,

While running the plugins against a target in the tool, I am getting 'Oops! Server replied: Bad Request'. Not really sure, what is the issue.

Could you please help.

Here is the screenshot for refernece:
![owtf error](https://cloud.githubusercontent.com/assets/13011937/8470580/b85c35ee-205b-11e5-9b92-848f0aed1e8a.png)

Thanks,
Sushil

[2015-07-02 06:45] DePierre commented on #481
@sukudo Would it be possible to copy-paste the logs from ``/tmp/owtf/ui_server.log``?

[2015-07-02 07:38] DePierre commented on #474
During installation process using the ``bootstrap.sh`` script on develop branch, I got the following errors:

[code]

The installation process continued and successfully finished. I run Skipfish against localhost when the installation completed and no error showed up.
@tunnelshade Any idea about these error messages?

[2015-07-02 07:53] delta24 commented on #474
This is caused by bugs from setuptools, try doing this: `pip install wheel`

[2015-07-02 08:08] DePierre commented on #474
Installation successful on the latest Kali64 ISO on my setup.

[2015-07-07 21:50] 7a commented on #439
Some bugs will only happen sometimes, especially when multiple processes
are involved :)

In this case, this was on a large assessment with 60+ targets. This means
there is a likely occasional race condition bug that might be around the
code that determines whether a subprocess has finished or not.

Imho, a possible way to approach this would be to review the affected code
and its surroundings, se

[2015-07-16 15:43] anantshri opened #485 "Tool Suggestion: GIT/SVN/Mercurial extraction"
If .git or .svn etc are found we can look at getting data or atleast metadata out of it.

Tools that can be integrated.
https://github.com/evilpacket/DVCS-Pillage
https://github.com/anantshri/svn-extractor (self-promotion on this one)

[2015-07-16 15:46] DePierre commented on #485
Worth adding to the plugins IMO. @7a @tunnelshade what do you guys think?

[2015-07-17 00:11] tunnelshade commented on #485
Yes definitely @DePierre . Thanks for the suggestion @anantshri

[2015-07-17 13:38] tunnelshade commented on #472
Fixed in 6cc46f099b68f8997daf328e691b37869e6302d6

[2015-07-17 13:38] #472 closed

[2015-07-26 08:57] DePierre commented on #481
@sukudo I would like to know if you were still willing to share the log files to help us investigate?

[2015-07-26 08:59] DePierre commented on #473
@delta24 Is this issue closed thanks to your commit?

[2015-07-26 09:01] DePierre commented on #476
@delta24 @tunnelshade Any fix on its way? Where are we standing here?

[2015-07-26 09:04] DePierre commented on #468
@delta24 I like that idea ♥ Might not be a priority but it would be nice to that feature implemented one day.
Do you know any interesting python project to parse pcap files? AFAIR last time I tried to parse a pcap, it was kind of a pain in the ass.

[2015-07-26 09:06] DePierre commented on #469
Updated the issue title to emphasize on the msfcli deprecation warning in @GautamAnghore's screenshot.

[2015-07-26 09:14] DePierre commented on #461
@tunnelshade Can we close this then? Since using OWTF's proxy settings allows scanning I2P websites.

[2015-07-26 09:28] DePierre commented on #449
@marioskourtesis hahaha, I wanted to investigate if it would fail sometimes or all the time but the root of that bug is even funnier.

From the [plugin file](https://github.com/owtf/owtf/blob/develop/plugins/web/semi_passive/Session_Management_Schema%40OWTF-SM-001.py) itself:
[code]
In fact it hasn't been working since ever, like before 2012 maybe...
@7a @tunnelshade Would you have some informatio

[2015-07-26 09:30] DePierre commented on #449
Also, funny thing is that I can't even stop the worker assigned to that plugin...

[2015-07-26 09:32] DePierre commented on #441
@tunnelshade Do you have any updates on your fix?

[2015-07-26 09:33] DePierre commented on #444
@tunnelshade Should we include such fix? What are the side effects?

[2015-07-26 11:18] tunnelshade commented on #444
Yes, indexing will solve this for now as Abe suggested. Add indexing to the column of the transaction_grep_association table

[2015-07-26 11:20] tunnelshade commented on #461
Yep. @kurtcoke Please reopen if you have any queries on this

[2015-07-26 11:20] #461 closed

[2015-07-26 11:21] tunnelshade commented on #476
@DePierre Trying to find ways to fix this. We cannot control the comment size, so we have to find a hack

[2015-07-26 11:44] DePierre commented on #476
@tunnelshade If the problem only happens when inserting these comments into the database, we could simply split/slice them before into chunks? And then add one chunk at a time. Is that possible?

[2015-07-26 12:04] delta24 commented on #473
Yes

[2015-07-26 12:14] tunnelshade commented on #441
@DePierre The best way is to

+ Add Many to One relationship between TestGroup and Plugin model
+ Add an autoincrement integer column to TestGroup
+ Move bruteforcing test group to bottom of the file
+ GetAll in plugin_manager.py returns a query, change that to query.order_by using the foriegn key test group id

[2015-07-27 06:21] delta24 commented on #468
Need to do some research on that one :)

[2015-07-27 15:36] calibersecurity commented on #399
Built OWTF on top of latest Kali repo's, looks like Rapid7 pulled MSFCLI out so now all the metasploit funcitons in OWTF have stopped running since MSFCLI is no longer found:

 The utility msfcli is deprecated!                      *
[!] *            It will be removed on or about 2015-06-18                 *
[!] *              Please use msfconsole -r or -x instead                  *
[!] *  Detai

[2015-07-27 15:39] DePierre commented on #469
Clone of #399

[2015-07-27 15:39] #469 closed

[2015-07-27 15:40] DePierre commented on #399
@calibersecurity We are working on that issue and it should be fixed quickly I hope.

[2015-07-28 11:19] DoomTaper opened #491 ""msfcli" no longer in metasploit"
![screenshot from 2015-07-28 12 49 21](https://cloud.githubusercontent.com/assets/10975138/8930118/038e0752-34f9-11e5-8a25-5349e2efec31.png)
In a new update of kali msfcli has been removed (refer https://community.rapid7.com/community/metasploit/blog for more info), so all metasploit plugins are showing "/bin/sh: 1: /opt/metasploit/apps/pro/msf3/msfcli: not found".

[2015-07-28 11:24] DePierre commented on #491
Duplicate of #399

[2015-07-28 11:24] #491 closed

[2015-07-28 22:48] 7a commented on #476
Wouldn't full text indexing solve the problem + be more appropriate for
responses? Take a look at the error message :)

Consider a function index of an MD5 hash of the value, or use full text
indexing
On 26 Jul 2015 13:44, "Tao Sauvage" <notifications@github.com> wrote:

[2015-07-28 22:48] 7a commented on #449
Agreed, the approach described in that plugin makes sense however! any
takers? :)
On 26 Jul 2015 11:30, "Tao Sauvage" <notifications@github.com> wrote:

[2015-07-28 22:48] 7a commented on #461
Can we make it more intuitive? Maybe we need a quick how to page to point
our users to? :)
On 26 Jul 2015 13:20, "Bharadwaj Machiraju" <notifications@github.com>
wrote:

[2015-07-28 22:48] 7a commented on #485
Yes please, any takers? :)
On 17 Jul 2015 02:11, "Bharadwaj Machiraju" <notifications@github.com>
wrote:

[2015-07-29 04:28] #441 closed

[2015-07-29 05:50] delta24 commented on #476
full text indexing for responses  (because their raw size is unpredictable) is way to go IMHO :)

[2015-08-06 12:10] DoomTaper opened #494 "url check not working properly"
I am on kali
When i run the command  "./owtf.py http://example.com"
it gives me ip of example.com lets say x.x.x.x
now if I run the command "./owtf.py https://example.com"
it was able to resolve the host and gives me the same ip but it shouldn't do that as https://example.com doesn't exist.
while in the framework if i write to add "example.com" without checking which one (http or https) exists it

[2015-08-07 18:13] DoomTaper opened #496 "Error in handling special characters in url"
If we write any special character in the url (lets say # ) "add target" button doen't work even after I refresh it.

![screenshot from 2015-08-07 19 35 52](https://cloud.githubusercontent.com/assets/10975138/9142537/4dec1e98-3d0e-11e5-926c-11bf6dd818f7.png)

![screenshot from 2015-08-07 19 36 07](https://cloud.githubusercontent.com/assets/10975138/9142547/63f48446-3d0e-11e5-93ce-34457dfc7909.png)

[2015-08-08 16:49] DePierre commented on #496
@DoomTaper Hi there. I tried to add the target 'http://example#.com' and the 'Add Targets' button is working fine. It still works after trying to add the target, when refreshing the page, when switching back and forth between tabs.

Have you install the develop branch? Could you let us know what commit you are at? You can find the hash by ``cd``ing into ~/owtf and execute ``git log -1``.

[2015-08-08 20:40] DoomTaper commented on #496
I was not on develop branch. After installing devlop branch as i run ./owtf.py I got the error stated below

Traceback (most recent call last):
  File "./owtf.py", line 300, in <module>
    main(sys.argv)
  File "./owtf.py", line 263, in main
    ComponentInitialiser.initialisation_phase_1(root_dir, owtf_pid)
  File "/root/Desktop/owtf_develop/owtf/framework/dependency_management/component_initial

[2015-08-08 20:41] tunnelshade commented on #496
Clean up your db schema. Use scripts/db_setup.sh

[2015-08-08 20:44] DoomTaper commented on #496
Ya it is working now!! but can you brief me about the error

[2015-08-08 23:49] DoomTaper opened #499 "url encoding not working on command line interface"
After running command "./owtf.py http://www.hygeiabeauty.com/brystforstørrelse.html"
I got the error
"UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 46"

but If I run  "./owtf.py http://www.hygeiabeauty.com/brystforst%F8rrelse.html"
plugins are working fine

[2015-08-09 00:45] DoomTaper commented on #499
If I run "./owtf.py http://www.hygeiabeauty.com/brystforstørrelse.html" again then rather than showing
"target already exists in db"
prior error of adding same target occurs
"sqlalchemy.exc.IntegrityError: (raised as a result of Query-invoked autoflush; consider using a session.no_autoflush block if this flush is occurring prematurely) (IntegrityError) duplicate key value violates unique constrain

[2015-08-15 10:15] DoomTaper commented on #499
The problem I am getting is how to filter targets only from sys.argv. The reason I want to filter sys.argv rather than using url_parser of cli_options.py is that after using url_parser the url
" http://www.hygeiabeauty.com/brystforstørrelse.html " becomes " http://www.hygeiabeauty.com/brystforst\xc3\xb8rrelse.html" , now due to \x in url, quote() function is unable to encode it.
I am still working

[2015-08-15 11:03] DePierre commented on #499
@DoomTaper the error should be fixed thanks to 82ada63. I leave the issue opened until I have your confirmation that the bug is gone.

Thanks ;)

[2015-08-15 11:09] delta24 commented on #499
Yes, `utf-8` decoding should fix this :+1:

[2015-08-15 11:30] DoomTaper commented on #499
Yes! It's working now. Thanks! :) :+1:

[2015-08-15 12:14] #499 closed

[2015-08-15 13:46] DoomTaper opened #503 "Command Execution possible using '&' character in argument"
If I run command:-
./owtf.py http://127.0.0.1/&mkdir killer
then I am able to make a directory "killer" in owtf folder

I have found two solutions yet but they are client-sided
1. give argument containing & in quotes
     e.g. ./owtf.py "http://127.0.0.1/&mkdir killer"
2. use a \ before &
     e.g.  ./owtf.py http://127.0.0.1/\&mkdir killer

[2015-08-15 14:25] DePierre commented on #503
@DoomTaper This looks like genuine shell command. If you are in your console and you type:
[code]
You will see 'hello' in your console. I think you misinterpreted the behaviour here.

[2015-08-15 14:25] #503 closed

[2015-08-15 16:34] DoomTaper commented on #503
what if a url contains '&' in it e.g. http://www.website.com?optionone=one&numbertwo=two

[2015-08-15 16:46] DePierre commented on #503
@DoomTaper Then you put it between quotes like:
[code]

This is not a command injection. If you are writing stuff into your terminal, it will try to execute your commands, that is expected behaviour.

A command injection would be when entering "http://www.website.com?optionone=one&numbertwo=two" into the WebUI Add Target and it would execute a bash command.
In your case, this is simply how your te

[2015-08-15 16:58] DoomTaper commented on #503
@DePierre Thanks! :)

[2015-08-19 20:14] DoomTaper opened #506 "Not giving alternative ips"
If I run ./owtf.py for those domains having multiple ips (lets say google.com) then it is not showing them, just taking a single ip

[2015-08-19 20:19] DoomTaper commented on #506
By using getaddrinfo() instead of gethostbyname() we have two advantages
1. get multiple ips if one has so
2. it supports ipv6 as well

[2015-08-20 01:18] tunnelshade commented on #506
We don't use that multiple IPs, but we have the all the IPs resolved. See [here](https://github.com/owtf/owtf/blob/master/framework/config/config.py#L358). `alternative_IPs` consist of all other IPs. It is already there, but we are not making use of this information

[2015-08-20 01:18] #506 closed

[2015-08-20 13:54] DoomTaper commented on #506
"alternative_IPs" consist nothing when I run owtf.py for say google.com

[2015-08-22 04:01] macubergeek opened #509 "owtf install on Kali2 fails - cryptography"
Ran the installer script on kale and install failed:

  Found existing installation: cryptography 0.9.3
    Not uninstalling cryptography at /usr/lib/python2.7/dist-packages, owned by OS
  Running setup.py install for cryptography

    Installed /tmp/pip-build-UP8H5r/cryptography/cffi-1.2.1-py2.7-linux-x86_64.egg
    Traceback (most recent call last):
      File "<string>", line 1, in <module>

[2015-08-22 06:29] delta24 commented on #509
Are you using a pre-built VMware image for Kali 2.0? There have been some `setuptools` problems reported for it.

[2015-08-22 14:06] macubergeek commented on #509
No I built the VMware image myself from iso

[2015-08-22 14:08] delta24 commented on #509
Can you give the `setuptools` version from your VM? `pip show setuptools`

[2015-08-22 14:12] macubergeek commented on #509
ok here it is:

root@kali2:~/Desktop# pip show setuptools
---
Name: setuptools
Version: 18.2
Location: /usr/local/lib/python2.7/dist-packages
Requires:
root@kali2:~/Desktop#

[2015-08-22 14:19] delta24 commented on #509
Can you check this fix https://github.com/byt3bl33d3r/MITMf/issues/159?

[2015-08-22 14:23] macubergeek commented on #509
Didn't work
I tried that last night. There is no requirements.txt file in the version of owtf I pulled down with git.

[2015-08-22 14:27] macubergeek commented on #509
there is an install/owtf.pip file which lists the dependencies but cryptography isn't in there. btw python-cryptography is already installed in Kali2

[2015-08-22 16:11] delta24 commented on #509
Yes, no requirements.txt file. But I meant this:
`pip uninstall cryptography`
`apt-get install python-cryptography`

[2015-08-22 20:26] macubergeek commented on #509
pip uninstall doesn't work:

Traceback (most recent call last):
  File "/usr/local/bin/pip", line 9, in <module>
    load_entry_point('pip==7.1.1', 'console_scripts', 'pip')()
  File "/Library/Python/2.7/site-packages/pip-7.1.1-py2.7.egg/pip/__init__.py", line 217, in main
    return command.main(cmd_args)
  File "/Library/Python/2.7/site-packages/pip-7.1.1-py2.7.egg/pip/basecommand.py", line 182,

[2015-08-22 20:29] macubergeek commented on #509
pip uninstall cryptography doesn't work on Kali2
root@kali2:~# pip uninstall cryptography
Not uninstalling cryptography at /usr/lib/python2.7/dist-packages, owned by OS

[2015-08-22 20:42] macubergeek commented on #509
don't know if this helps but:
root@kali2:/opt/gitlist# pip freeze | grep crypto
cryptography==0.9.3
pycrypto==2.6.1
pycryptopp==0.6.0.1206569328141510525648634803928199668821045408958

[2015-08-22 20:48] macubergeek commented on #509
don't know if this helps but:
root@kali2:/opt/gitlist# pip freeze | grep crypto
cryptography==0.9.3
pycrypto==2.6.1
pycryptopp==0.6.0.1206569328141510525648634803928199668821045408958

So the python cryptography module is already installed so when I go to install owtf it craps out because it's already there. So why can't owtf just use whats there already?
Looks like owtf installer script in Kali2

[2015-08-23 06:27] delta24 commented on #509
Looks like Kali issue/feature - they have `chown` the packages directory so that it doesn't break the other tools.
Let me see and come up with a new installation method, preferably using `virtualenv` :)

[2015-08-28 02:45] BrianHoldsworth opened #510 "Using a remote server"
Unless I am overlooking some bit of configuration, it is not possible to utilize OWTF on a remote server. The access to the file storage, which is normally assigned to port 8010, only seems to work for localhost:8010 i.e. you have to have a local OWTF server.

This seems like a shortcoming if you want to share a server with a small workgroup as a collaboration aid during testing.

Additionally, th

[2015-08-31 13:56] 7a opened #512 "[develop] crash after install on latest kali: column test_groups.priority does not exist"
I just did the following on an old Kali VM:
apt-get update; apt-get upgrade; apt-get dist-upgrade

Then did:
cd /root/owtf_develop/install
python install.py

Everything seemed to work OK on the installer, but when trying to run owtf I got this:
NOTE: I suppose the database schema has changed, the installer should take this into account and upgrade or prompt the user to upgrade the DB structure, in

[2015-08-31 14:55] 7a opened #513 "[develop] cannot launch any web plugins..."
When I select plugins to be launched in groups or individually the scan does not start...
The worklist is populated with work, but the workers do not pick up this work, there is no text being displayed on the OWTF terminal, etc. :(

[2015-08-31 15:26] 7a opened #514 "[develop] broken cookie parser"
plugin: Web_Application_Fingerprint/semi_passive

[!] unknown Cookie attribute: 'expires=Fri'
[!] unknown Cookie attribute: 'unrecognized'
[!] unknown Cookie attribute: 'expires=Fri'
[!] unknown Cookie attribute: 'unrecognized'

But wait, it is even more broken than that:

Testing For Cross Site Flashing (web/passive) __________
[!] unknown Cookie attribute: 'expires=Fri'
[!] unknown Cookie attrib

[2015-08-31 15:44] DoomTaper commented on #512
duplicate of #496 .

[2015-08-31 15:48] #512 closed

[2015-08-31 18:37] 7a opened #515 "[develop] plugin getting stuck stops the whole scan..."
The following plugin got stuck, with no output on the CLI, stopping the whole scan, I am amazed precisely *this* plugin can get stuck, can someone please take a look?

Plugin: Spiders Robots And Crawlers (web/semi_passive)

[2015-08-31 18:53] 7a commented on #444
Can somebody *please* add this to the DB init scripts? the index is *still* missing on develop and the spikes are therefore happening.

Simply create a btree index on the transaction_id column of the transaction_grep_association table, as above, and the spike is gone, as I troubleshooted and fixed 2 months ago above! :)

NOTE: This takes *forever* using the postgress DB UI, if using phppgadmin, yo

[2015-08-31 22:46] marioskourtesis commented on #514
I had experienced something similar in the past.

[2015-09-01 02:52] delta24 commented on #514
@7a,  @marioskourtesis : definitely the cookie parser, looks like it doesn't take the edges cases **or** it is too strict in handling. I had a talk with the developer and she told me that an override class which accepts non-RFC cookies is the way to go.

[2015-09-01 12:25] dkorzhevin opened #516 "OWTF develop branch install error in Kali Linux 2.0"
Hi,

I'm using Kali Linux 2.0 x86_64

I tried to install OWTF develop branch using official install script:
[code]
and meet next errors:
[code]

[2015-09-01 13:16] dkorzhevin commented on #516
Same, when I tried to install OWTF 1.0.1 Lionheart:

[code]

[2015-09-01 13:18] dkorzhevin commented on #516
When trying to start:

[code]

[2015-09-01 14:06] delta24 commented on #516
Hi @dkorzhevin, we are aware of installation issues in some Kali 2.0 images. The Kali people probably changed the permissions on  `usr/lib/python2.7/dist-packages/` dir so that the bundled tools do not break because of the dependencies. We are working on a solution; it should be available soon.

BTW which image did you used? I personally used the Kali 2.0 Virtualbox image x86_64 and faced no probl

[2015-09-01 14:24] dkorzhevin commented on #516
Hi delta24

This is Kali Linux x86_64 installed on my notebook, not a virtualbox or vmware image.

If you need any info regarding installed packages, etc - please let me know - I will add more info.

[2015-09-02 18:42] DoomTaper commented on #516
I got this error and found out that it's because the command in install.py `"sudo pip2 install --upgrade pip"` will not upgrade pip and will show an error something like **"Not uninstalling pip at /usr/lib/python2.7/dist-packages, owned by OS"** in kali 2.0 so instead we should use the command `"sudo pip2 install --upgrade --force pip"`.

[2015-09-03 18:39] 7a commented on #516
@dkorzhevin: Could you please try what Ankush is suggesting and let us know
how that works? Thank you!
On 2 Sep 2015 20:42, "Ayush Singh" <notifications@github.com> wrote:

[2015-09-04 07:13] 7a commented on #510
Hi Brian, I believe you can charge the listening IP to the host you are
using, if you do that, I would personally white-list client IPs on a need
to connect basis.

Let us know how this works out for you please :)
On 28 Aug 2015 04:45, "Brian Holdsworth" <notifications@github.com> wrote:

[2015-09-04 14:27] BrianHoldsworth commented on #510
When you say "change the listening IP", are you referring to the "SERVER_ADDR" value in the "framework_config.cfg" file? I currently set this to 0.0.0.0, so that owtf listens on the correct IP and the UI works fine. It's when you want to access file on the FILE_SERVER_PORT (8010, by default) that the browser client decides it should route the request to "localhost".

[2015-09-06 17:25] dkorzhevin commented on #516
# grep -i -R "pip2 install" owtf/
owtf/install/install.py:        self.run_command("sudo -E pip2 install --upgrade -r %s"%(requirements_file))

I changed line:

sudo -E pip2 install --upgrade -r %s"%(requirements_file))

to:

sudo -E pip2 install --upgrade --force -r %s"%(requirements_file))

but this doesn't help me:

----------------------------------------
  Can't roll back cryptography; was no

[2015-09-06 17:37] dkorzhevin commented on #516
I did:

# sudo pip2 install --upgrade --force pip
Downloading/unpacking pip
  Downloading pip-7.1.2-py2.py3-none-any.whl (1.1MB): 1.1MB downloaded
Installing collected packages: pip
  Found existing installation: pip 1.5.6
    Not uninstalling pip at /usr/lib/python2.7/dist-packages, owned by OS
Successfully installed pip
Cleaning up...

Full output of install:

https://dpaste.de/VOHA

[2015-09-06 17:41] dkorzhevin commented on #516
[code]

[2015-09-08 22:12] 7a commented on #510
Bharadwaj, can you chime in here?
On 4 Sep 2015 16:27, "Brian Holdsworth" <notifications@github.com> wrote:

[2015-09-10 05:25] tunnelshade commented on #510
Hey, @BrianHoldsworth Ideally both file server and ui run on same interface. The redirection should be happening which seems buggy in this case. Please provide the following information so that debugging will be easier for us

+ Which plugin did you run?
+ What link is failing?

[2015-09-22 18:41] anantshri commented on #329
With this new patch : https://github.com/rbsec/sslscan/issues/62 I think sslscan is making a big case to be added in owtf. Do check the performance improvement stats i posed on the linked issue.

[2015-09-23 05:14] mrtunglx commented on #452
Auto Bypass Google's reCaptcha (Captcha V2)
Only 10$ for imacros code or 15$ full setup any site!
Paypal or Bitcoin.
Video demo: https://www.facebook.com/lamborghini0000000/videos/149454865395433/
Contact: https://www.facebook.com/lamborghini0000000
Thanks!

[2015-09-23 05:15] mrtunglx opened #517 "Auto Bypass Google's reCaptcha (Captcha V2)"
Auto Bypass Google's reCaptcha (Captcha V2)
Only 10$ for imacros code or 15$ full setup any site!
Paypal or Bitcoin.
Video demo: https://www.facebook.com/lamborghini0000000/videos/149454865395433/
Contact: https://www.facebook.com/lamborghini0000000
Thanks!

[2015-09-23 16:44] delta24 commented on #517
Looks like spam :P

[2015-09-23 16:44] #517 closed

[2015-09-23 21:16] DePierre commented on #517
I reported the account to GitHub.

[2015-09-24 01:22] mrtunglx commented on #517
Not Spam!

[2015-09-24 04:00] delta24 commented on #517
@mrtunglx: then you don't post any buy / suspicious links because well they look pretty much like spam

[2015-09-24 17:57] 7a commented on #329
Aren't we running sslscan already via TLSed? :)
On 22 Sep 2015 20:41, "Anant Shrivastava" <notifications@github.com> wrote:

[2015-09-24 18:21] anantshri commented on #329
Ah interesting, that brings the next part. Not sure if TLSSLed has kept track on sslscan but the sslscan now being shipped with kali is a different one (rbsec/sslscan) and hence could be doing things differently. So i suppose there might be a change of parsing to fail now.

[2015-09-27 17:31] dkorzhevin commented on #516
Guys, can you please tell - are you have any update about this problem?

[2015-09-28 05:22] tunnelshade commented on #516
Hey @dkorzhevin Are you trying **develop** branch?

[2015-10-04 06:59] DoomTaper commented on #516
@dkorzhevin have you tried `easy_install --upgrade pip` ?

[2015-10-09 13:21] dkorzhevin commented on #516
Now I'm trying to install version 1.0.1

Upgraded pip:

[code]

[2015-10-09 13:27] dkorzhevin commented on #516
After upgrading pip I ended with:

[code]

[2015-10-09 13:28] dkorzhevin commented on #516
After this steps OWTF still doesn't works:

[code]

[2015-10-09 17:28] DoomTaper commented on #516
@dkorzhevin have you done `sudo apt-get update` and `sudo apt-get upgrade`? If you are still getting *ImportError: No module named setuptools_ext* then try to upgrade **cffi** by using **pip** and rerun the install script

[2015-10-21 09:10] delta24 commented on #516
@dkorzhevin  Until the complete install script is ready with the virtualenv stuff, you can follow these steps to install OWTF successfully.
You need to have `pip`  installed.

[code]

You will see something like this: `(owtf)~/owtf/install %`
This says a virtualenv named "owtf" is active. You can now run the install script.
You can deactivate the env by running: `deactivate`

But whenever you want

[2015-10-21 10:51] dkorzhevin commented on #516
Thank you

I will try and let you know how it works

[2015-10-21 10:59] delta24 commented on #496
Closing as duplicate issue is closed...

[2015-10-21 10:59] #496 closed

[2015-10-21 11:01] delta24 commented on #509
Duplicate #516

[2015-10-21 11:01] #509 closed

[2015-10-21 11:11] #473 closed

[2015-10-21 11:16] delta24 commented on #409
Closing subset of #516

[2015-10-21 11:16] #409 closed

[2015-10-21 16:50] delta24 commented on #222
Still relevant?

[2015-10-22 12:03] SpoonBoy opened #519 "install/install.py skip sudo password"
I just recently cloned the owtf project on a Kali Sana, and was asked to run the following command : `python2 install/install.py`
I did so, but I forgot I was running it with a non-sudoer user.
So, I just `Ctrl+C` and the script kept on downloading the requirements.

[code]

[2015-10-22 12:39] delta24 commented on #519
Hi, you need `sudo` to install some system and python packages. But the installer can proceed without that step. This behaviour is intended because some may already have the dependencies satisfied.

[2015-10-22 17:49] 7a commented on #222
If you can MiTM https connections using OWTF and your browser, I believe it
should be fixed and can be closed.
On 21 Oct 2015 18:50, "Viyat Bhalodia" <notifications@github.com> wrote:

[2015-10-29 13:45] arunk-s commented on #412
@7a, Can you point me to the direction where changes would be required. I think I should start with this one.

[2015-10-30 07:57] 7a commented on #412
Take a look at other external plugins, I believe around
plugins/web/external, there is a framework API that you can use to generate
the link, easy :) *hugs*
On 29 Oct 2015 14:45, "Arun Sori" <notifications@github.com> wrote:

[2015-10-30 07:57] 7a commented on #519
Would it make sense for the installer to be smart enough to handle this
alone? :)
On 22 Oct 2015 14:39, "Viyat Bhalodia" <notifications@github.com> wrote:

[2015-10-30 09:18] SpoonBoy commented on #519
when a user sends  `SIGINT`  he just wants the program to stop, regardless of dependencies already installed or not.

[2015-10-30 10:46] tunnelshade commented on #412
Hey @arunk-s . Have a look at https://github.com/owtf/owtf/pull/162

[2015-11-25 08:34] rakarivaldi opened #520 "Pip Import Error Kali Install"
I have this error, what should I do?
![error](https://cloud.githubusercontent.com/assets/16013343/11392096/ecebe27c-9389-11e5-8773-0b1d0ea8582a.jpg)

[2015-11-25 09:29] DoomTaper commented on #520
Take a look [here](https://github.com/owtf/owtf/issues/357)!

[2015-11-27 15:27] delta24 opened #521 "Error calling make_dirs when a long URL is passed"
[code]

Required files and folders not created as a result.

[2015-11-28 14:08] maximumgr commented on #516
To fix issue use: easy_install --upgrade cryptography

And after that install other missing python libraries, with the same command (easy_install --upgrade)

[2015-12-04 04:13] delta24 opened #523 "Add https://censys.io/ to the passive search"
From the website,

It is an open source project by University of Michigan and University of Illinois Champaign Urbana that can replaced Shodan for free searches. - @7a

[2015-12-04 15:39] anantshri opened #524 "Use a vulnerability database to provide more info in the report."
Can't think of any specific use case however we might want to have a look at it for our own tool: https://github.com/vulndb/data

[2015-12-06 03:56] delta24 commented on #523
Basic domain passive search implemented, closing...

[2015-12-06 03:56] #523 closed

[2015-12-06 03:59] delta24 opened #525 "Unable to open directory from browser"
Reproduce
---
When you pass an OWTF target containing especial URL characters such as "?" on the file browser (i.e. "Browse Files" button) on any plugin, this fails to load because these characters are not urlencoded, hence the browser interprets them and OWTF fails to open the relevant directory.

Fix
---
Calling the relevant url encoding function will fix this problem, for example using `encodeU

[2015-12-06 08:04] delta24 commented on #524
I think we can use it for displaying info wherever we have "Intended to show info in future" (in the plugins"

[2015-12-06 08:07] delta24 commented on #521
Most of the OSes have a 255 char limit on file/folder name. Maybe the temporary file being created violated that and hence the error.

To mitigate that, we can either check len(path_name) and handle it or just truncate it everytime path_name[:255]

[2015-12-06 09:05] delta24 commented on #494
`http` and `https` are just protocols. The hostname will be resolved to the ip of the webserver. :)
Even if your website doesn't have a SSL certificate, the ip of the webserver will still remain the same.

[2015-12-06 09:07] delta24 commented on #444
Confirmed from @7a : the last referenced commit fixes the problem :)

[2015-12-06 09:07] #444 closed

[2015-12-06 09:17] delta24 commented on #412
Closing as fix merged in the develop branch.

[2015-12-06 09:17] #412 closed

[2015-12-06 09:29] #222 closed

[2015-12-06 09:33] delta24 commented on #464
I think this is because passive means that no traffic from the testing PC to the target. IMHO this is what @7a said in his initial OWTF presentations: that even before the go-ahead is given, the pentester can do valuable recon. (hence no direct traffic to the target is generated from the pentester's server.)

[2015-12-06 09:38] anantshri commented on #464
I am not asking to send traffic to target but rather send traffic to somethings like shodan etc and get the details instead of just providing links.

May be at this point we can look at including recon-ng (if not done already) and poll its output for final report.

[2015-12-06 10:01] delta24 commented on #456
Fixed in 77859e5 (tested, please check!)

[2015-12-06 10:01] #456 closed

[2015-12-06 10:14] delta24 commented on #426
Indexing?

[2015-12-06 10:40] delta24 commented on #349
Done in https://github.com/owtf/owtf/commit/a2c2fdef27b92c04f514c531d7f071b7a7b0aff7.

[2015-12-06 10:40] #349 closed

[2015-12-06 10:42] delta24 commented on #438
Duplicate of https://github.com/owtf/owtf/issues/444, fixed in 3aa0722

[2015-12-06 10:44] delta24 commented on #437
IMO duplicate https://github.com/owtf/owtf/issues/444

[2015-12-06 10:47] delta24 commented on #413
Easier solution would be add this to the install script :) .

[2015-12-07 05:55] tunnelshade commented on #464
Hey guys, I think screenshots can be the way to go because scraping becomes very difficult. And screenshots will help a lot especially when something like google search, it can be easily spotted if there are any results.

[2015-12-07 07:38] anantshri commented on #464
exactly some might have anti automation etc. But whatever can work, taking a screenshot of the page would be simplest way to give actionable visual intel. It would not be of much use to machines as in parsable output but atleast before clicking on the link person would have an idea that this is what they can expect.

[2015-12-07 09:18] delta24 commented on #464
Yes, then this is feasible using PhantomJS.  :+1:

[2015-12-07 14:02] #413 closed

[2015-12-07 15:42] delta24 commented on #516
Hey @dkorzhevin,  recent commits resolve all the installation errors (at least on lastest updated Kali 2.x)
https://github.com/owtf/owtf/commit/fb72333d6ae7645837e09db86cc3cc5cc51a0a91
https://github.com/owtf/owtf/commit/7ac6d90274cca85c6342edfc422743b023995abc

Can you try the installing again by `git clone https://github.com/owtf/owtf` and running `python install/install.py`?

[2015-12-07 15:45] delta24 commented on #474
Resolved in https://github.com/owtf/owtf/commit/fb72333d6ae7645837e09db86cc3cc5cc51a0a91 https://github.com/owtf/owtf/commit/7ac6d90274cca85c6342edfc422743b023995abc.

[2015-12-07 15:45] #474 closed

[2015-12-07 15:46] delta24 commented on #520
@rakarivaldi Did you try what @DoomTaper suggested?

[2015-12-07 15:47] delta24 commented on #520
Seems to be resolved in the issue referenced.  Please do `pip install -U pip`.  Closing for now...

[2015-12-07 15:47] #520 closed

[2015-12-07 15:53] delta24 opened #526 "Increase proxy CA security"
@7a: 1024 RSA is pretty bad as a key, we should use 4096 or 8k:
[code]

[2015-12-07 15:55] #526 closed

[2015-12-08 04:42] delta24 commented on #458
The input style pagination plugin is outdated and not compatible with the datatables version we are using.    http://stackoverflow.com/questions/28181468/datatables-pagination-plugin-for-input-not-working

[2015-12-08 06:17] delta24 opened #527 "Workers do not pick items from worklist"
@7a : The workers do not pick up the work in the work list on first run. I reported this before, still happening, this is pretty bad because you could be creating more work in the middle of a scan and the workers should be able to pick up new work automatically

I think Control + C on the terminal will work, trying <-- that works, but still, users should not need to do that, we should pick up new

[2015-12-08 06:32] tunnelshade commented on #527
The process that happens here

+ When a new work is added it is stored in the worklist table
+ The FileServer actually polls for free workers and if there are any then get the work and give it

The problem might be that some worker might be struct on some work. Then this is difficult to solve. Can you reproduce and try @delta24

[2015-12-08 06:37] tunnelshade commented on #458
Then you can maybe write a custom input and bind it to DataTables. The REST API uses **limit** get parameter to specify the number of returned records.

[2015-12-08 07:12] delta24 commented on #527
@tunnelshade, to reproduce: Add a target and select say 2 groups of plugins: external, passive. I observed no direct activity on the console, and the `Worker-1` was idle.

[2015-12-08 08:55] tunnelshade commented on #527
Please do the following things for debugging

+ Check if the periodic callback is happening (this actually polls the workers)
+ Check if the workers are visible as idle to this callback (Workers are different process and this callback happens in a different process)
+ Check if worklist is returning work

The error here is actually due to a failed db commit. Might be while saving work?

[2015-12-09 04:33] delta24 commented on #256
Closing this as we have a third party library doing this for us, https://github.com/owtf/owtf/tree/develop/framework/http/cookies which is a much better parser than the old python standard module

[2015-12-09 04:33] #256 closed

[2015-12-09 04:35] delta24 commented on #428
This is not `tornado` but the cookie parser library. I am referencing this as a duplicate of a more recent issue #514

[2015-12-09 04:57] delta24 opened #528 "Proxy errors (silent) in logs"
I observed some proxy error (occurring multiple times) when combing through the logs files,

[code]

@tunnelshade?

I think that this block of code

[code]
has a bug when Exception occurs and there is no `response` object. See https://github.com/owtf/owtf/blob/develop/framework/http/proxy/proxy.py#L196

[2015-12-09 05:27] tunnelshade commented on #528
@delta24 Just check if there is a response object so the if condition turns out

[code]

As this should be a performance required code, assign response to None in the Exception block

[2015-12-09 05:35] delta24 commented on #528
ok, I'll set the `response` object to be `None` in the exception block :+1:

[2015-12-09 06:17] #528 closed

[2015-12-09 09:13] dkorzhevin commented on #516
Thank you, delta24 - I will try

[2015-12-09 10:04] #293 closed

[2015-12-09 12:16] delta24 opened #529 "Passive google searches should use @@@domain@@@ instead of @@@host_path@@@"
@7a : Google Searches should use the domain and not the path of the url. There was a user requests many moons ago about respecting the path in google searches, but generally that will almost never be the desired google search especially now that Google are firing CAPTCHAS like never before.
For this reason, Google searches should never use the url path anymore and should use instead the domain, wh

[2015-12-09 12:20] #529 closed

[2015-12-10 06:20] #514 closed

[2015-12-10 06:20] #428 closed

[2015-12-10 16:17] delta24 commented on #525
The previous fix included using `quote_plus` from the urllib library. But it encoded '/' also, which resulted in bad links in the directory listing.
@DePierre thoughts on this?

[2015-12-10 16:32] DoomTaper commented on #525
@delta24 have you tried using `safe` parameter of quote_plus like this `quote_plus(item, safe='/')` ?

[2015-12-10 16:36] DoomTaper commented on #494
@delta24 didn't it should check if domain is speaking https and then add it to db ?

[2015-12-10 16:40] delta24 commented on #525
No, that looks doable. Let me try :)
Thanks @DoomTaper!

[2015-12-10 17:24] delta24 commented on #494
Yes, that is a separate issue. See https://github.com/owtf/owtf/issues/108.

[2015-12-10 18:10] DoomTaper commented on #494
Got it! :+1:

[2015-12-10 18:10] #494 closed

[2015-12-10 21:17] 7a commented on #494
Originally, the idea was that:
1) If OWTF is given urls this is a web assessment
2) If OWTF is given domain names, this is 1st a network assessment: OWTF
should port scan the targets, figure out which ports speak http or https,
then run a web assessment on those

Not sure about how smoothly this works right now, looking forward to your
test results! :)
On 10 Dec 2015 17:36, "Ayush Singh" <notifica

[2015-12-11 04:49] delta24 commented on #467
Closing as already in https://github.com/owtf/reboot issues

[2015-12-11 04:49] #467 closed

[2015-12-11 08:35] delta24 commented on #192
@marioskourtesis: Any addition feasible for this issue? I think that the docker image covers this (You just need to `docker pull owtf/owtf` and you have a fully functional OWTF installation.)

[2015-12-11 09:14] delta24 commented on #31
Right now the web interface shows the status of the your local copy of OWTF wrt the latest commit in upstream.

As the update cannot be done when running the web interface, I think this resolves this issue. When in the reboot, the core framework and the web interface are disjoint, there can be further improvement.

[2015-12-11 09:17] delta24 commented on #226
@Sentient07, @7a: still the case?

[2015-12-11 10:45] #352 closed

[2015-12-11 14:46] DoomTaper commented on #226
@delta24 Ya! it's still there and I found out that we have made that plugin only for http (Take a look into [requester.py](https://github.com/owtf/owtf/blob/develop/framework/http/requester.py)) and when I print the output of `http_transaction` variable in [Spiders_Robots_and_Crawlers@OWTF-IG-001.py](https://github.com/owtf/owtf/blob/develop/plugins/web/semi_passive/Spiders_Robots_and_Crawlers%40O

[2015-12-12 03:14] delta24 commented on #310
@tunnelshade Can this be done using a separate AsynHTTPClient to send the replay request instead of the requester object?

[2015-12-12 03:50] #438 closed

[2015-12-12 04:36] #427 closed

[2015-12-12 09:33] tunnelshade commented on #310
@delta24 Make sure you attach to the server tornado event loop so that you can write back response when the thing is done!

[2015-12-12 10:25] delta24 commented on #310
ok :)

[2015-12-12 14:20] #426 closed

[2015-12-12 14:27] delta24 commented on #403
@marioskourtesis: The cookie parsing fix is in the develop branch and the indexing error is because the sometimes the response.body is too large to be stored in postgres. More relevant issue is here  #476.

[2015-12-12 14:27] #403 closed

[2015-12-13 07:11] delta24 commented on #513
Duplicate. More specific issue #527.

[2015-12-13 07:11] #513 closed

[2015-12-13 07:13] delta24 commented on #430
Closing as this was an old pip error. :)

[2015-12-13 07:13] #430 closed

[2015-12-13 08:11] DoomTaper commented on #525
@delta24 Is this issue resolved?

[2015-12-13 08:36] delta24 commented on #525
nope, go ahead. :)

[2015-12-13 10:07] delta24 commented on #423
Cache files? I think @tunnelshade commited a fix to drastically reduce the proxy cache?

[2015-12-13 13:01] tunnelshade commented on #423
@delta24 Yes

[2015-12-13 15:37] delta24 commented on #423
So, is this resolved?

[2015-12-13 18:09] tunnelshade commented on #423
@delta24 I think log files thing can be still optimised. That can be looked into

[2015-12-16 17:48] sealmindset opened #531 "Missing libraries"
Okay managed to get OWTF installed using the bootstrap script.  No errors reported after installing.  However, when attempting to execute, it reports that psycopg2, pycurl and six are missing. So, I checked if python is reporting any issues with the libraries.  All three  libs appear to be okay, ie no errors.  Even ran both variations of the install script, still reports them missing.

Also, the d

[2015-12-17 02:56] delta24 commented on #531
Did you use latest OWTF (develop branch)?

[2015-12-27 20:26] offsecguy commented on #474
Hi,

I am getting below error when i run pip install wheel. I am using Kali linux 2.0 64bit OS.

root@kali:~/tools/owtf/install# pip install wheel
Traceback (most recent call last):
  File "/usr/bin/pip", line 9, in <module>
    load_entry_point('pip==1.5.6', 'console_scripts', 'pip')()
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 356, in load_entry_point
    return get_distrib

[2015-12-28 13:06] dkorzhevin commented on #516
Hi

I can confirm, it works for me now:

'''
Successfully installed EasyProcess-0.2.1 PTP-0.3.0 SPARQLWrapper-1.7.6 backports.ssl-match-hostname-3.5.0.1 certifi-2015.11.20.1 cryptography-1.1.2 enum34-1.1.2 ipaddress-1.0.15 keepalive-0.5 pyparsing-2.0.6 s
etuptools-18.7.1
[*] Running following command
sudo sh /root/owtf/scripts/db_setup.sh init

------------------------- OWTF Database Helper Script

[2015-12-29 05:55] delta24 commented on #516
Nice - thanks for checking!

[2016-01-01 17:01] offsecguy commented on #527
Hi delta24,

I am using lattest version, still facing same issue. I have to press ctr-c to get worklist loaded into workers.

[2016-01-01 17:03] delta24 commented on #527
Yes, I am still looking into it. I have a couple of options, and I'll fix this in a week. :)

[2016-01-01 17:06] offsecguy commented on #527
Thanks bro :)

[2016-01-03 04:56] sealmindset commented on #531
No, did the master.  After much trial and error got it to work by:

# apt-get update && apt-get upgrade -y
# apt-get dist-upgrade -y
# service postgresql start
# update-rc.d postgresql enable
# cd /opt
# git clone -b lions_2014 https://github.com/owtf/owtf.git
# pip install --upgrade cffi
# apt-get install libssl-dev
# pip install --upgrade -r /opt/owtf/install/owtf.pip
# pip install --upgrade bea

[2016-01-03 10:21] delta24 commented on #531
Which distro are you using? If you use Kali, then just `git clone https://github.com/owtf/owtf; python2 install/install.py` should do it!

[2016-01-03 15:04] sealmindset commented on #531
Initially I did a dash b master, develop and then lions_2014.  The same issue kept popping up.

[2016-01-03 15:45] sealmindset commented on #399
I just comb through all the branches from adventure through ui looking to see if any changes were made to convert msfcli to msconsole dash x.  So far all of the branches are still using the now defunct metasploit cmd.  My workaround is to do a replacement:

grep -rl msfcli '/path/to/owtf' | xargs sed -i 's/msfcli /msfconsole -x /g'

Which affected these files:

/owtf/ui/owtf//profiles/general/defa

[2016-01-05 05:47] delta24 commented on #399
@sealmindset a few points:
- All branches other than the `develop` are stale and should not to be used.
- The Metasploit fix is a little complicated than that - some of the command switches have also changed wrt the `msfconsole -x` change.
- If you can upfate and thoroughly test the relevant Metasploit commands, do open a PR! :)

[2016-01-06 16:22] sealmindset commented on #399
@delta24 - Good point. It does appear to be working, but this is only based on the fact its not creating any errors. I still need to validate whether or not its returning the appropriate results using the new switch.

[2016-01-06 16:34] mushinnomushin commented on #531
I'm getting a similar error when trying to run OWTF in Kali 2 x64.

[code]

[2016-01-06 16:38] sealmindset commented on #531
@mushinnomushin

Have you tried this?

pip install --upgrade cffi
apt-get install libssl-dev
pip install --upgrade -r </YOUR/PATH/TO>/owtf/install/owtf.pip
pip install --upgrade beautifulsoup4 lxml Markdown psycopg2 pycurl six

[2016-01-06 16:47] mushinnomushin commented on #531
That worked. Thanks!

[2016-01-06 19:08] delta24 commented on #531
@mushinnomushin Even if it shows the libraries missing error, run the installer again. :)

[2016-01-06 19:08] #531 closed

[2016-01-07 19:19] DoomTaper commented on #515
I have done some partial fixing for the plugin in https://github.com/owtf/owtf/commit/1e76b70a33e120123412c8a19c55b7589be41f09.
I guess this fix runs the plugin (as when i printed out the status_msg it says successful) but when I go to the target page it just shows loading as in the screenshot but doesn't load the results. Any suggestions ?
![screenshot 41](https://cloud.githubusercontent.com/asse

[2016-01-15 20:08] anantshri opened #533 "Use CI tools for build status checks"
Besides build status check we can also check build health by running it against these targets

http://demo.testfire.net
http://hackazon.webscantest.com
https://public-firing-range.appspot.com
http://testaspnet.vulnweb.com
http://testasp.vulnweb.com
http://testhtml5.vulnweb.com
http://testphp.vulnweb.com
http://www.webscantest.com
http://zero.webappsecurity.com

if any logic bug present most probab

[2016-01-16 05:42] delta24 commented on #192
I am closing this issue because 2 things have been implemented to facilitate this (keeping in mind the host server attack surface and maintenance issues xD). I'll reopen if anything new comes up :) .

[2016-01-16 05:42] #192 closed

[2016-01-16 05:49] delta24 commented on #116
@7a I checked his homepage, and the SecurityTube website. I don't think there is any such tool.

[2016-01-16 06:02] delta24 commented on #519
I check add a check to see if the user has `sudo` privileges, if not then do a clean stop. @SpoonBoy  @7a ?

[2016-01-16 06:24] delta24 commented on #119
I wrote something for this: https://github.com/delta24/updated_cms_explorer. Can someone verify so that I can integrate this? :)

[2016-01-16 18:59] anantshri commented on #82
can you please assign this to me i will be looking at this as part of #533  also.

[2016-01-16 19:02] anantshri commented on #37
Can someone please list out what is the part that is left for this specific issue. If the status has changed and this is fixed please close issue.

[2016-01-16 19:04] anantshri commented on #35
we want tool 2 to only run when tool 1 suggest X or we want tool 2 to run as soon as tool 1 output's X

what i mean to say is we can restrict a tool to not run if a database field is not present, but chaining tools will only work if we leverage a full cli interface where we use somekind of a wrapper script to work with such idea's.

if what i wrote sounds absurd, please explain what we want to do

[2016-01-16 19:07] anantshri commented on #31
Can we also do one more thing as part of this issue. get list of packages which we depend on and if distro has a new version available for it.

example we depend on w3af then can we have a check if there is a new version of w3af and mark that dependencies are also out of date.

Just asking for this are we relying on pulling master or are we relying on release cycles i.e. new release available then

[2016-01-16 19:08] anantshri commented on #28
any status update on this one. no commit marked to this can anyone confirm if UI has this feature now.

[2016-01-16 19:09] anantshri commented on #25
i can see multiple commits around this can anyone confirm what's the current status here.

[2016-01-16 19:11] islamoc commented on #25
Hello I have updated the list with new signatures from servers with confirmed versions
but it needs to be updated always so the last update I did was Aug 4,2014 by now it is kind of outdated

[2016-01-16 19:14] anantshri commented on #448
Just asking do we need this folder https://github.com/owtf/owtf/tree/master/dictionaries/fuzzdb/fuzzdb-1.09/docs/misc/unicode-security can we remove this folder all together from the core. That should help out a lot.

This will leave with issues like net and aux not creating coz they are reserved names in windows.

[2016-01-16 19:21] anantshri commented on #25
@islamoc if all we are changing is signature.txt i would suggest we add this as part of update process. or a perodic task which ensure's signatures are updated every few days by as simple as curl and save file as signature.txt BTW For reference file location is http://www.net-square.com/signature.txt that will save the overhead of doing this over and over again.

[2016-01-16 19:22] anantshri commented on #348
did we made any progress on this issue.

[2016-01-16 19:25] islamoc commented on #25
the problem is that the file you linked to is not maintained so I had to use the tool to generate signatures of servers that I know their version and add them by my self
there is no way to make it automatic we could use Shodan or something to extract new version and generate signatures automatically but there will be always doubts in the results

[2016-01-16 19:26] anantshri commented on #340
I suppose this issues can be considered fixed. if anyone disagrees please reopen.

[2016-01-16 19:26] #340 closed

[2016-01-16 19:27] anantshri commented on #303
Can you please elaborate on this. and if possible mark actions items for this.

[2016-01-16 19:41] anantshri commented on #25
Ah interesting, so i suppose this is something you are doing as a individual effort. Just overstepping a bit but did you tried also submitting signatures to net-square folks. that will help everyone and that way we can rely on sinature file which may be you are maintaining and then we do pull directly. also everyone else directly using http-print might also benefit from it.

[2016-01-17 03:45] delta24 commented on #28
@anantshri Not ported yet.

[2016-01-18 07:18] delta24 commented on #481
@sukudo There must be some error in the Tornado server. Can you share the log files?

[2016-01-18 07:25] delta24 commented on #448
@anantshri Ok, so we can remove that folder. Can we change the naming scheme for net and aux? Is it feasible?

[2016-01-18 07:34] anantshri commented on #448
Last time when i tried renaming the folder and all references inside somehow owtf was not working. So i suppose its feasable but it will just take some time.

as per discussion with @7a we decided to keep net as network and aux as auxillary.

[2016-01-18 08:03] delta24 commented on #448
@anantshri Do you have to time to tackle this issue? I think you are best placed to do it :).

[2016-01-18 08:12] anantshri commented on #448
Like i keep saying i can give it a shot but not sure of a deadline or timeline when i will get it done.

[2016-01-18 10:33] delta24 commented on #448
@anantshri  Sure no problem :)

[2016-01-18 11:36] delta24 commented on #31
Checking tool updates at startup will cause the OWTF start to be **very slow** because it will first need to refresh repositories, etc.  I think it is safe to run the install script again to update the required tools.
@7a ?

[2016-01-18 11:39] anantshri commented on #31
can we do sort of lazy loading where UI and functionality starts and then an update checker starts in backend

[2016-01-18 11:43] delta24 commented on #90
Closing as this has been implemented for the new requester (using PhantomJS) during the OWASP Summer Code Sprint 2015.

[2016-01-18 11:43] #90 closed

[2016-01-18 11:44] #91 closed

[2016-01-18 11:51] delta24 commented on #125
@marioskourtesis The plugin "OWTF-ABrF-001" does  not exist in the current OWTF codebase. Can you check once again?

[2016-01-18 11:56] delta24 commented on #126
@marioskourtesis  Same here. Is this still applicable? Can you check?

[2016-01-18 12:08] delta24 commented on #337
Fixed in 5b93c1ecd82e881ef13b1cb094781cefc1900402.

[2016-01-18 12:08] #337 closed

[2016-01-18 14:37] delta24 commented on #275
Not a bug :P

[2016-01-18 14:57] anantshri commented on #275
hey @delta24 I am interested in knowing why are we storing the entire sample proxychain config file in configuration. https://github.com/owtf/owtf/blob/a2c2fdef27b92c04f514c531d7f071b7a7b0aff7/profiles/general/default.cfg#L380 and even if we are doing it why are we storing it as a proxychains config again by plain echo. If i would be doing it i would prefer to keep just the lines which are require

[2016-01-18 15:06] delta24 commented on #275
@anantshri  Yeah, you are right. Storing the whole config is just unnecessary :P

[2016-01-18 15:09] delta24 commented on #275
@anantshri or better, store it in ~/.proxychains.conf at install time from the installer ?

[2016-01-18 15:10] anantshri commented on #275
I can see a case where we are giving user detailed debug config to make the choice if they want to customize it. But the next step where we do a echo to a specific file that can clearly be used to reduce the file and only store active lines.

This on retrospect will reduce the line output on the html report also so a win win.

about storing it at install time, what if someone wants to change confi

[2016-01-18 15:12] delta24 commented on #275
OK, I am committing the change cleans the config which removes the "#" lines. :)
We cannot store the config at install time, because the proxy variables are dynamic (@@XXX@@).
:)

[2016-01-18 15:14] #275 closed

[2016-01-18 15:23] anantshri commented on #275
that's 1418 characters per command output line. this would be a quick report size reductions also.

[2016-01-18 15:57] delta24 commented on #262
@7a I can see the reports on the develop branch

![](http://i.imgur.com/ReeiL6R.png)
![](http://i.imgur.com/ewA1Wxq.png)

[2016-01-18 22:06] 7a commented on #262
normally, this happens with the LAST plugins, never with nikto.
You need to run a full scan against many targets, then some of the LAST executed plugins will be missing in the report.
It looks like a race condition or an off-by-one error to me

[2016-01-18 22:16] 7a commented on #126
it seems as if the aux plugin framework abort section was not working, OWTF should have aborted after this due to missing parameters to the aux plugin (from dump above):

[] USER ERROR: ['localhost/login.php'] arguments should be in NAME=VALUE format
[] ***************************************************************************************************
[]
[] Defaulted not passed 'CATEGORY' to 'HTTP

[2016-01-18 22:18] 7a commented on #125
aux plugins are called via the CLI, since that is usually what makes the most sense here! :)
The problem, in my view, based on the dump above is that the framework abort section is not working after the following line (from the dump above):
[] ERROR: Aborting argument processing, please correct the errors above and try again

[2016-01-18 22:20] 7a commented on #90
ok, but maybe we need a usage tutorial or quick wiki article :D

[2016-01-19 03:15] delta24 commented on #262
ok :)

[2016-01-19 03:16] delta24 commented on #90
Sure, yes!

[2016-01-19 03:17] delta24 commented on #126
Ok, I'll check that :)

[2016-01-19 04:24] delta24 commented on #383
@marioskourtesis I can't reproduce the above error. In my case the zest get created perfectly :) and the forward_to_zap and replay works as intended.

[2016-01-19 06:12] anantshri opened #534 "Installer Issues"
1) Site Down : http://unspecific.com/ssl/ssl-cipher-check.pl
So wget is still stuck trying to get me ssl-cipher-check.pl
we should atleast put a limit on number of tries to be made.

2) We need to ensure following tools are absolutely present
git, unzip
We rely on this assuming they will be present where as they might not be.

Would report more inconsistencies if i find something.

[2016-01-19 06:18] anantshri commented on #534
Why no certificate check for hoppy. Certificate seems right to me. We should not be doing it wrong. ssl is present so use it properly.
https://github.com/owtf/owtf/blob/78cca27e2a28fd57afcfb816a887a4a8297d438f/install/distro-independent.cfg#L22

All wget-s should have a timelimit --tries=3 is what i am suggesting for all wget

[2016-01-19 07:33] delta24 commented on #534
@anantshri  We do not use `git` anywhere in the installation process and `unzip` is present by default on most distros.
However `--tries=3` is the way to go for wget. :)

[2016-01-19 07:34] anantshri commented on #534
that's git being used : https://github.com/owtf/owtf/blob/78cca27e2a28fd57afcfb816a887a4a8297d438f/install/distro-independent.cfg#L30

[2016-01-19 07:35] delta24 commented on #534
ah, ok :/

[2016-01-19 08:42] anantshri commented on #534
Just a quick question. We have distro independent stuff and distro specific stuff. I would assume distro independent stuff should be installed first and then distro specific. But looks like installer is doing inverse. Just wanted to confirm if that's by design or something just ignored.

i suppose https://github.com/owtf/owtf/blob/develop/install/install.py#L119 should be at  https://github.com/ow

[2016-01-19 09:02] anantshri commented on #534
I suppose this check (https://github.com/owtf/owtf/blob/develop/install/install.py#L131) should again only run if we have a kali setup. Which we anyways have already detected above. so a conditional statement should be added. Any specific concerns otherwise i will raise a pull request for this change too.

[2016-01-19 10:30] delta24 commented on #534
@anantshri Yes, some commit must've jumbled up the order. Send the PR :)

[2016-01-19 16:05] #534 closed

[2016-01-20 14:24] #440 closed

[2016-01-20 14:50] delta24 commented on #272
Tested - has been fixed in the past. Closing as no such error occurs now.

[2016-01-20 14:50] #272 closed

[2016-01-20 15:07] delta24 commented on #470
Just to be sure, which plugin is this?

[2016-01-20 15:46] delta24 commented on #82
Closing because issue #533  by @anantshri is updated and doable.

[2016-01-20 15:46] #82 closed

[2016-01-20 16:13] delta24 commented on #271
IMO it is not worth to integrate this feature now considering its little benefit and somwhat complex implementation (we need an extra Tornado websocket server :/)/
@7a ?

[2016-01-20 16:19] delta24 commented on #458
@7a  I implemented this in December last year. The rows are set default to 100 per page and has full pagination numbers. (e566bd147a29a855f591d68fb5eb0da15c153a3b) Can I close this issue?

[2016-01-20 16:23] delta24 commented on #249
@marioskourtesis @DePierre @7a  Should we keep this for the reboot? This is because doing tool update checks with the current arch will be hard as it will slow down OWTF considerably.

[2016-01-20 17:07] 7a commented on #249
sure, this is lower prio than the other bugs like deadlocks, etc.

[2016-01-20 17:14] delta24 commented on #249
ok, :). Will add to the reboot issues.

[2016-01-20 17:14] #249 closed

[2016-01-20 18:39] delta24 commented on #527
@tunnelshade I turned on the debug=True flag in the tornado servers and I got:

[code]

Could this be causing the issue?

[2016-01-21 05:01] delta24 commented on #31
Tool update checker will be implemented in reboot for now (new architecture where we can decide how to run this alongside OWTF). Duplicate  of #249.

[2016-01-21 05:01] #31 closed

[2016-01-21 05:34] delta24 commented on #468
Moving this to reboot :)

[2016-01-21 05:34] #468 closed

[2016-01-22 01:56] #116 closed

[2016-01-22 05:18] delta24 commented on #435
Main issue here: https://bitbucket.org/zzzeek/sqlalchemy/issues/3021/ssl-eof-not-detected-as-disconnect-in

[2016-01-22 06:20] #525 closed

[2016-01-22 07:02] #521 closed

[2016-01-25 12:05] #519 closed

[2016-01-25 14:46] delta24 commented on #464
Move to reboot (PhantomJS will be the requester there) ?

[2016-01-25 14:59] #271 closed

[2016-01-25 19:51] dougmorato opened #540 "Should run aptitude update before trying to install any packages"
When doing a fresh install of owtf in a linux VM thas hasn't been updated recently, some packages install get a 404 error when trying downloaded from the Kali Sana repo, namely libssl-dev and libssl-doc, which will make the ssl/cryto patching fail at a later point of the install.

I suggest performing an "apt-get update" or "aptitude update" before starting install of kali packages

[2016-01-26 06:06] #540 closed

[2016-01-26 06:32] delta24 commented on #108
I can confirm the "speaks" HTTPS check works now. Can you corroborate? @7a ?

[2016-01-26 16:29] DarKnight-- opened #542 "Metagoofil missing in Kali 2.x"
I had run test and found metagoofil missing. I think it does not comes pre-installed in Kali 2.x. It has to be listed in `install.sh`.

[2016-01-26 17:18] #542 closed

[2016-01-27 09:50] delta24 commented on #442
Cannot reproduce with the latest changes (maybe `openssl` fixed something on their side). I will reopen this if any fresh issue pops up :)

[2016-01-27 09:50] #442 closed

[2016-01-27 10:16] delta24 commented on #383
Closing. I'll reopen if there are any more related issues. :)

[2016-01-27 10:16] #383 closed

[2016-01-27 20:25] DarKnight-- opened #544 "Installation in Kali is not working correctly"
I ran `install.py` for four times, each time zest was downloaded irrespective of its presence.

If the internet connection is down due to any reason during installation of tools, all the directories are made, which prevents further installation of them during next run.

[installation_output.txt](https://github.com/owtf/owtf/files/107257/installation_output.txt) terminal output of install.py.

- I

[2016-01-29 09:34] delta24 commented on #369
Duplicate of #264.  The referrenced issue is more relevant than this.

[2016-01-29 09:34] #369 closed

[2016-01-29 09:42] delta24 commented on #544
So this is resolved? @DarKnight--

[2016-01-29 09:46] DarKnight-- commented on #544
@delta24 Yes, I again tested with deleting some tools and left empty folders, zest was not downloaded and it downloaded all the empty directory tools.

[2016-01-29 09:50] #544 closed

[2016-01-29 10:23] #464 closed

[2016-01-29 10:29] delta24 commented on #28
Do we store the `nowebui` arg somewhere? Then we can check if web interface is running, then show the bug reporter in the UI or else default to console.

[2016-01-29 11:08] DoomTaper opened #547 "Plugin Filter Display not working properly"
On the target list page after clicking on "run" button and then filtering plugins on any basis (lets say on the basis of Name I wrote "http"). Now refresh the page and again click on "run" button, plugins are filtered on "http" basis but it doesn't show "http" in the filter box. Although it doesn't show anything but I have to delete "http" from that filter box to let it show all plugins.

[2016-01-30 05:25] #527 closed

[2016-01-30 05:40] delta24 commented on #35
Move to reboot (because of large changes in plugin architecture and launch system involved)?
@anantshri @7a

[2016-01-30 05:57] delta24 commented on #481
Closing (because no response and lack of information). I'll reopen this if a new issue is found regarding this.

[2016-01-30 05:57] #481 closed

[2016-01-30 05:59] delta24 commented on #458
Also implemented in the worklist table in 40d8e015275c17047e4b4e0adfe5cd2d8a10f8dd.

[2016-01-30 06:16] delta24 commented on #510
Hi @BrianHoldsworth you can do something like this:

- Generate an SSL certificate via Nginx
[code]
- Add this to the config (server block)
[code]
and restart nginx
- Of course you can add your own SSL cert :)

I've created a [barebones nginx config](https://gist.github.com/delta24/a6b1ce8a7c67f370c588) for your reference ;)

Also I think that I've fixed the buggy redirection in a previous commit.

[2016-01-30 12:26] delta24 commented on #108
Double checked - the `verify_ssl_cipher_check.sh` script in `scripts/ssl` directory correctly runs, and restricts any ssl tests if the target doesn't "speak" HTTPS. I'll reopen if a new issue pops up. :)

[2016-01-30 12:26] #108 closed

[2016-01-31 04:23] DoomTaper opened #550 "Added SVN-Extractor (issue #485)"
I have added plugin SVN-Extractor https://github.com/DoomTaper/owtf/commit/d150c3a5458745b6bfb8c075e39506c2852bb9bf
Can anybody review the changes?

[2016-02-01 04:21] delta24 commented on #228
Bug reporter has been removed from the CLI in this [commit](77e15bb8ff4d4d756f65fae58b70fd251f0a933b). I am currently adding it to the web interface. :)

[2016-02-01 04:21] #228 closed

[2016-02-01 04:24] delta24 commented on #422
Possibly related: Nikto.txt not found

CLI Output:

[code]

[2016-02-01 15:03] delta24 commented on #223
I cannot reproduce this bug, maybe it has been fixed indirectly in the `develop` branch. I'll reopen if it pops up again. :)

[2016-02-01 15:03] #223 closed

[2016-02-02 11:07] #510 closed

[2016-02-05 08:27] delta24 commented on #287
@DePierre: I see that (in Wapiti code) if you choose to generate a HTML report, it will automatically generate a JSON report with it. Maybe PTP can be changed to parse the JSON report rather than the XML report for automatic rankings?

[2016-02-05 08:30] DePierre commented on #287
@delta24 Could you open a feature request on ptp's github repo? I don't know when I'll take the time to implement that but at least it will be written somewhere.

[2016-02-05 08:32] delta24 commented on #287
Sure :)

[2016-02-05 09:38] delta24 commented on #437
This might've been because of the "idle in transaction" thing in the screenshot. I tried to reproduce it but the spike was for only 1 second or so. (that too 16% CPU usage). I'll reopen if it happens again. :)

[2016-02-05 09:38] #437 closed

[2016-02-06 10:31] delta24 commented on #406
Most of the part of the interface are now responsive. A few components including Bootstrap's `btn-group` and the datatables cannot be made responsive for all possible viewports without compromising the data being rendered. I am attaching some screenshots of the interface in a mobile viewport.

![screen shot 2016-02-06 at 15 50 44](https://cloud.githubusercontent.com/assets/4557897/12866177/9803c7d

[2016-02-06 10:31] #406 closed

[2016-02-06 19:07] #458 closed

[2016-02-07 08:56] delta24 commented on #429
- [ ] Optimise UI of the report
- [ ] ZAP/Burp like transaction log viewer
- [ ] Replace accordions to something more easier to navigate

[2016-02-12 06:03] delta24 commented on #485
Can anybody review the changes?

[2016-02-12 06:04] delta24 commented on #550
Duplicate #485.

[2016-02-12 06:04] #550 closed

[2016-02-12 06:18] delta24 commented on #226
I investigated a little bit and saw that this works:

[code]

Also if I add the protocol and port, it does not work `https://ccc.de:443`.

[2016-02-12 09:13] delta24 commented on #435
Fixed in 128a91ddfa2611e8e0fbf0eeed64093d24c4fc83, 7f9cae9be4529b07169881c4bdf42c8e523ab3a2 and 44c5df75a9fe9d6eeb2eb5ce15cfecb24ff2845f.

[2016-02-12 09:13] #435 closed

[2016-02-12 12:15] delta24 commented on #224
Maybe this was a one-off issue or it has been in subsequent commits. I ran a complete test today (all plugins) against 8 targets and there was no issue. I'll reopen if something like happens again.

[2016-02-12 12:15] #224 closed

[2016-02-12 16:22] delta24 commented on #547
That must be a frontend error. Can you try changing the behaviour to **not** persist the search results?

[2016-02-13 05:33] delta24 commented on #404
I ran the test @DePierre suggested above and there were no errors. Closing because I cannot reproduce it.

[2016-02-13 05:33] #404 closed

[2016-02-13 14:01] delta24 commented on #170
OpenVAS plugin was removed from the codebase in https://github.com/owtf/owtf/commit/15cc790277e45d2a29233bd8660ba4ff38f4632b. This was partly because it was difficult to control and was consumed too much resources.

[2016-02-13 14:01] #170 closed

[2016-02-14 13:35] delta24 commented on #287
Closing as it is now on ptp's issue tracker.

[2016-02-14 13:35] #287 closed

[2016-02-17 17:47] #37 closed

[2016-02-17 17:53] delta24 commented on #165
The session cookies viewer now aids in manual viewing of such cookies. Auto detecting is not necessary. @anantshri @7a?

[2016-02-17 18:14] delta24 commented on #515
Closed in https://github.com/owtf/owtf/commit/84f22dd0c68447a2c90a88b92135419a7678c6ac.

[2016-02-17 18:14] #515 closed

[2016-02-18 05:02] delta24 commented on #423
Should I add logrotating of the log files in the install script and a script to backup the logs in a .tar.gz format to a directory of user's choice? @anantshri

[2016-02-18 06:06] #304 closed

[2016-02-18 09:53] #379 closed

[2016-02-19 08:36] DoomTaper opened #556 "Listing plugins option (-l) not working"
I tried command `./owtf.py -l net` and it shows error:
`sqlalchemy.exc.InvalidRequestError: Entity '<class 'framework.db.models.TestGroup'>' has no property 'type'`

[2016-02-20 05:30] delta24 commented on #556
Merged in 4e45d761a911a7ebbdedf9648ddd66436113613d.

[2016-02-20 05:33] delta24 commented on #448
List of things to be done:

- [x]  Initial git clone problems - fuzzdb, aux->auxillary, net->network
- [ ] Research how to package the whole installer - NSI installer ? or simple installation like Kali, Debian?
- [ ] Powerscripts support

[2016-02-20 06:23] delta24 commented on #547
After some thought, I don't think that this should be changed. Imagine you want to run some specific plugins and you have already selected a few of them (say 20). Now without `stateSave`, this selection would not persist an accidental click outside the modal window.
@7a?

[2016-02-20 06:41] delta24 commented on #125
This was before the restructuring of the Core object and many fixes. Plus as of now, `aux` plugins are not working. Should I close this + similar issues and create a meta-issue as a reference when the `aux` plugins are fixed? @7a @marioskourtesis ?

[2016-02-20 07:38] DoomTaper commented on #547
I think the solution would be to show the user input even after the page reload. @delta24 ?

[2016-02-20 07:46] delta24 commented on #390
So following behaviour should also be in the latest version:

- [ ] owtf.py ip => network scan + web scan IF some port "speaks http"
- [ ] owtf.py host_name => as above
- [ ] owtf.py url => web scan ONLY, no network scan

[2016-02-20 07:48] delta24 commented on #390
But the following command works (explicitly specifying the plugin group):
`./owtf.py -g web -t active http://127.0.0.1` <-- `-g web`

[2016-02-21 08:27] #547 closed

[2016-02-21 18:04] #399 closed

[2016-02-25 04:29] delta24 commented on #226
Also the `python` distributed with Kali Linux is built with `openssl` already, so ideally `python` should have out-of-box support for SSL.

[2016-02-26 10:28] delta24 commented on #358
I tried making it work but it needs a requirements.txt file in project root. Closing atm.

[2016-02-26 10:28] #358 closed

[2016-02-26 10:38] #165 closed

[2016-03-01 05:59] delta24 opened #560 "Errors in upgrading to latest tornado (4.3.0)"
Currently we have tornado==4.0.2 installed. Upgrading to the latest tornado may improve performance issues as well as add new capabilities. Upon installing 4.3.0 version, I got the following errors:

- [x] TypeError: <tornado.httputil.HTTPHeaders object at 0x7f3a53c7fd90> is not JSON serializable.

Below is the stacktrace.
[code]

- [x] Filelock timeouts

This happens probably because of the above

[2016-03-01 18:54] thc202 opened #561 "README - GSoC 2016 wiki link broken"
The link, in README.md, for GSoC 2016 wiki page is broken, it seems it is now:
https://github.com/owtf/owtf/wiki/Google-Summer-of-Code-2016:-Getting-started
the current link:
https://github.com/owtf/owtf/wiki/Getting-started-with-Google-Summer-of-Code-2016
ends up being redirected to main wiki page.

[2016-03-01 20:11] delta24 commented on #561
Fixed in 4b4d032cf354b04fbf79881a78c41406e1e13847

[2016-03-01 20:11] #561 closed

[2016-03-02 02:53] karandesai-96 opened #562 "IDE specific auto-generated files need to be in gitignore."
In the recent times many IDEs have become popular for Python development. Among them are Jetbrain Community's [Pycharm](https://www.jetbrains.com/pycharm/) and [PyDev](http://www.pydev.org/), an IDE extended from Eclipse for Python development.

Upon opening a project within, these IDEs generate certain files and directories which are specific to them, and are not project specific.

These files an

[2016-03-02 03:22] #562 closed

[2016-03-02 22:01] DePierre commented on #556
@delta24 at least test the PR. The fix is wrong.

@DoomTaper By commenting the line that raised an error, you are preventing filtering on plugin types. With your fix, instead of having 120 +/- 5 plugins, ``owtf.py -l web`` shows 600 +/- 30. Do you understand where that 500 hundreds extra plugins come from? Duplicates. Duplicates that were filtered out by the line you commented.

[2016-03-02 22:06] DePierre commented on #556
@DoomTaper is working on a proper fix.

[2016-03-03 04:50] karandesai-96 opened #564 "Increase readability of manual installation output on terminal."
Currently there are two installation methods: Through bootstrap script and through python script.

* The output of bootstrap script is comparatively more readable and easy to keep track as different colors are used for display.

* A similar workaround is needed for manual installation through python scripts as the output through python script sometimes gets lost among the output log of apt-get and

[2016-03-03 04:51] karandesai-96 commented on #564
I think an `enhancement` tag is appropriate for this issue. Please assign it to me, I have got a workaround :smiley:

[2016-03-03 05:00] tunnelshade commented on #564
@karandesai-96 You cannot be assigned as your not yet a core contributor. Since you already commented over here, go ahead with a PR

[2016-03-03 05:04] karandesai-96 commented on #564
Oh, ok. I did not know much about constraints of assigning issues on Github. Nevertheless, I will work upon a PR and hopefully would be able to send it within a couple of hours :smiley:

[2016-03-03 09:16] anantshri commented on #533
This would be massive work required as usual CI's like travis-ci provide us with default ubuntu vm and that might never have tools we are actually concerned with. so i suppose i might shift the whole thing to a developer side check via custom shell or python script. But would be keeping this on hold for my worklist for atleast a month.

[2016-03-03 09:36] DarkPrince304 opened #566 "Installation problem on ubuntu"
Hello,

I was installing OWTF Build on my Ubuntu machine but while installation it seemed that some package werent installed succesfully. I noticed this when I ran the command "./owtf.py"
Here's what I got after this:

[code]

So I ran the command ` pip install --upgrade -r install/owtf.pip ` . But it got me this:
[code]

I would like to confirm this with someone else too if he/she has the same pr

[2016-03-03 10:44] delta24 commented on #566
The errors suggest either you don't have the python developement headers present (which are needed to build `psycopg2` package (native C extensions).
You can resolve it by `sudo apt-get install install python-dev libpython-dev libffi-dev`

OR your `setuptools` installation is corrupt. You can fix that by `sudo pip install --upgrade setuptools`.

[2016-03-03 12:01] sharad1126 commented on #447
I am using it on kali and it is opening in few seconds. I am running kali on VMWare in mac.

[2016-03-03 12:03] delta24 commented on #447
@sharad1126 This happens when you have a large number of targets. (>30)

[2016-03-03 12:04] sharad1126 commented on #447
@delta24 Ok need to check that. Not tried for so many targets.

[2016-03-03 22:39] saganshul commented on #459
@7a  I am not understanding what you actually want to say in issue. Do you want to say that on clicking the rank button, plugin should collapse or something else.

[2016-03-03 22:59] 7a commented on #459
Yes, exactly: when you rank a plugin you have already seen it and therefore
the plugin should collapse, this saves the user at least 1 click x plugin
On 3 Mar 2016 23:39, "Anshul Singhal" <notifications@github.com> wrote:

[2016-03-03 23:53] saganshul commented on #459
"When only 1 plugin is being displayed" what do you mean by this sentence? this can be done for every ranking right?

[2016-03-04 05:42] DarkPrince304 commented on #566
I tried the above methods but it still won't work :\

[2016-03-04 06:07] Ahiknsr commented on #566
can you try installing again after running `sudo apt-get install libpq-dev python-dev`

[2016-03-04 15:29] tpnsharma opened #570 "Same rank cannot be given to a plugin twice"
There is an issue in ranking of the plugins. If we rank a plugin say informational and then rank it something else, then it cannot be ranked back to informational again.

[2016-03-04 16:24] arunk-s commented on #446
@delta24 Can you explain a little more on this issue ? I'd like to work on this one.

[2016-03-04 17:17] sharad1126 commented on #226
@7a I would like to know about this bug. I am not able to understand from the above comments.

[2016-03-04 17:34] sharad1126 commented on #419
@7a Will be working on it. Will add this feature on the workerlist_manager.html

[2016-03-04 18:21] delta24 commented on #570
Closed in 76d26b6a0e464b2639cb36e530fbcf0256fe6930.

[2016-03-04 18:21] #570 closed

[2016-03-04 18:22] delta24 commented on #459
Closed in 02566fcb37762820e0292c9dcf2e2d475ae34302.

[2016-03-04 18:22] #459 closed

[2016-03-04 20:49] saganshul commented on #453
@7a  I will do this work.

[2016-03-05 06:29] karandesai-96 opened #573 "Debian and Samurai install scripts are not executable."
While running **`install/install.py`** script in Debian, this error is encountered :

[code]

On further inspection of scripts under install directory:
![image](https://cloud.githubusercontent.com/assets/10494087/13546090/cbacedfc-e2c8-11e5-8997-6f10dfb2dfe3.png)

It clearly states that install scripts under **debian** and  **samurai** are not marked executable. These files must be marked executab

[2016-03-05 06:30] #564 closed

[2016-03-05 06:44] delta24 commented on #573
A possibly clean solution is to add either `sh` in front of the script names everywhere. That way we don't play with permissions and source remains clean.

[2016-03-05 08:53] delta24 commented on #573
Fixed in 00acc5b9e12c056fb3fd21f02fe434f54eaa823f (wrong issue referenced in merge commit)

[2016-03-05 08:53] #573 closed

[2016-03-05 15:04] sharad1126 commented on #566
@DarkPrince304 I tried to install owtf on my mac as well as my friends ubuntu. owtf got installed on both but @7a on mac while creating a database, it showed some error. But is installing on ubuntu easily. I just installed git, python-3.4.4 and the direct command given on wiki page of owtf.
<img width="569" alt="screen shot 2016-03-05 at 8 32 35 pm" src="https://cloud.githubusercontent.com/assets/

[2016-03-05 23:22] saganshul commented on #373
@7a  @delta24 @anantshri  I will do this work. Can you tell me where to show progress, I means on home page or worklist page or somewhere else.
Also I think showing progress bar will be better and more UI friendly than just showing number of done, left and total.

[2016-03-06 00:21] saganshul commented on #419
@7a  Here you just wanted start time of running worker right? If my understanding is right, is there any api call which can give me this information?

[2016-03-06 10:03] #453 closed

[2016-03-06 14:04] DoomTaper opened #579 "Db query filter should be updated according to current database"
Have a look [here](https://github.com/owtf/owtf/blob/develop/framework/db/plugin_manager.py#L223)
I don't know in which type of query the argument `criteria` will have `{u'name':"plugin name"}` but when criteria will be of this type we will get a error `sqlalchemy.exc.InvalidRequestError: Entity '<class 'framework.db.models.TestGroup'>' has no property 'name'`. I thought this while fixing the issu

[2016-03-07 11:14] viyatb opened #581 "Refactor and cleanup codebase"
- Make OWTF (the whole codebase) PEP8 (modified 120 char limit) compatible.
  That includes whitespace, indentation errors, etc
- Follow proper function naming conventions everywhere.
- Remove support files/code for Kali 1.x and Backtrack versions.
- Proxy and DB interface optimization

[2016-03-07 15:56] tunnelshade opened #582 "Improper Set-Cookie header handling in proxy"
#### Bug

+ Try using owtf proxy to browse to any wordpress admin page.
+ Try logging in. (Invalid credentials will also do)
+ You should see a message on the login page that cookie support seems disabled!!!

#### Fix

[This line](https://github.com/owtf/owtf/blob/4c3ae8182cf4ce0948fd3d876a8eeba1a55d3fc2/framework/http/proxy/proxy.py#L76)

[code]

should be

[code]

#### Verification

+ Repeat the

[2016-03-07 16:24] karandesai-96 commented on #582
I will take up upon this issue. The description is quite informative. I am doing a Debian -> Kali transformation and in the middle of setting up Kali. I will first verify it and then send a PR :smile:

[2016-03-07 21:35] #556 closed

[2016-03-07 21:36] DePierre commented on #556
@DoomTaper Thank you very much for that fix ;)

[2016-03-07 22:16] DoomTaper commented on #556
@DePierre credit goes to you as well :)

[2016-03-07 23:12] #579 closed

[2016-03-08 03:50] pyup-bot opened #584 "Initial Update"
Hi 👊

This is my first visit to this fine repo, but it seems you have been working hard to keep all dependencies updated so far.

Once you have closed this issue, I'll create seperate pull requests for every update as soon as I find one.

That's it for now!

Happy merging! 🤖

[2016-03-08 03:50] #584 closed

[2016-03-08 07:02] sachinkamath commented on #566
@sharad1126 , were you root? I see a `Operation Not Permitted` in your screenshot.

[2016-03-08 07:03] delta24 commented on #566
Root privileges are not required - only `sudo` access.

[2016-03-08 07:04] sachinkamath opened #585 "Suppress apt-get confirmations"
It'd be better if it doesn't ask for confirmation as there was various instances of `apt-get` in the install script. It'd be better to suppress it using the -y flag.

[2016-03-08 10:29] yashmehrotra commented on #581
@delta24 Hi, I would like to work on this bug. Can you assign it to me ?

[2016-03-08 11:54] delta24 commented on #581
@yashmehrotra You cannot be assigned as your not yet a core contributor. Since you already commented over here, go ahead with a PR.

[2016-03-08 11:59] yashmehrotra commented on #581
@delta24 Oh... cool. I'll get started on the PR.

[2016-03-08 12:55] sharad1126 commented on #566
@sachinkamath yes I did used sudo.

[2016-03-08 17:02] sachinkamath commented on #581
@delta24 , Wouldn't it be better to use `autopep8` ?  In there, E501 is defined as > 79 characters but I'm sure it can be hacked upon.

[2016-03-08 17:11] delta24 commented on #581
No autopep8 please. They tend to increase work and break code more than they are helpful.

[2016-03-08 17:16] sachinkamath commented on #585
@delta24 please take a look.

[2016-03-08 17:24] arunk-s commented on #390
@delta24 @DePierre @7a I'm interested on working on this issue. Can anyone explain what changes are needed ?

[2016-03-09 11:57] #585 closed

[2016-03-10 07:44] karandesai-96 commented on #582
I tested the commit, and in the browser the message did vanish. Though as pointed out by @delta24, I did look up in my **/tmp/owtf/proxy.log** and find this line:
[code]
This seems a bit off.

[2016-03-11 11:12] sachinkamath commented on #566
@sharad1126 , can you upload the entire installation output to a gist and submit the link here? It will help us debug the problem better.

[2016-03-11 11:23] sachinkamath commented on #485
@delta24 can you assign me?

[2016-03-11 13:02] sachinkamath opened #592 "Connection reset by peer - wget"
**Problem :**
When behind a firewall, (or a proxy that allows only certain user-agents), wget returns a `Connection reset by peer` error. I am currently behind a Sonicwall Firewall and the installation script failed to download most of the stuff.

**Reason:**
This happens because the Firewall/Proxy blocks certain user agents from making connections. This can cause issues with the installation as t

[2016-03-11 14:33] delta24 commented on #485
@sachinkamath it is already in a review phase.
And you cannot be assigned to an issue if you are not a member of the organisation.

[2016-03-12 17:05] saganshul commented on #373
@7a  @delta24 @DePierre , should I display progress bar on homepage or worker page or both ?.

[2016-03-13 01:50] delta24 commented on #373
IMO homepage. Keeping it in workers page is counter intuitive and keeping in both is redundant.

[2016-03-13 16:27] DarKnight-- commented on #439
@DePierre @delta24 @7a I have encountered this bug while running Nikto Unauthenticated OWTF-WVS-002, this is due to the some problem in PTP project of OWTF.
On my research I found out that the flow of program pauses at line 293 of `plugin_handler.py`.
`parser = PTP()`
`parser.parse(pathname=pathname)`
where pathname sent to the above function was `owtf_review/targets/https__testasp.vulnweb.com_/pa

[2016-03-13 17:43] DoomTaper opened #599 "Adding Issue and Pull Request templates"
Github has a feature of adding **Issue/Pull-request templates** to the projects so that contributors can clear the basic checks first. This would ease the work of project maintainers.
e.g.  following pep8 before creating PRs.
More info: https://github.com/blog/2111-issue-and-pull-request-templates

[2016-03-13 17:57] DePierre commented on #439
@DarKnight-- I am surprised that ptp freezes owtf :/ Would you have a test case that I could reproduce? Does running nikto always results in owtf freezing?

[2016-03-13 18:44] DarKnight-- commented on #439
@DePierre Yes In current state of OWTF each time it freezes, I am able to regain that position by closing OWTF (using `ctrt + c`) and by rerun that plugin.
![screenshot from 2016-03-14 00 06 52](https://cloud.githubusercontent.com/assets/6971456/13730570/dee23510-e978-11e5-95d8-5555a945b2f7.png)
![screenshot from 2016-03-14 00 07 42](https://cloud.githubusercontent.com/assets/6971456/13730569/de54

[2016-03-13 21:08] DePierre commented on #439
@DarKnight-- My two cents. I find it weird that ptp hangs, mostly because there is no loop or anything in the project source code. Whether it successfully read the report and parse it, or completely fails and raises an exception.

The only scenario I can think of right now is that ptp tries to open a handle on Nikto's report file but the file hasn't been closed by Nikto or OWTF. Therefore, ptp wai

[2016-03-14 05:46] ner0x652 commented on #439
I do not understand fully this problem, and do not know how this feature is implemented(because for some time I haven't followed the changes in code). Anyway, maybe I can suggest something useful.

Based on what @DePierre wrote, you can try to insert a timeout before ptp tries to open Nikto's report file or when it hangs, you can also view if that file is still opened. For example, before ptp trie

[2016-03-14 06:53] delta24 commented on #476
Fix on the lines of this: http://stackoverflow.com/questions/32040868/hashed-primary-key

Any takers :) ?

[2016-03-14 07:51] DarKnight-- commented on #439
@DePierre @ner0x652  I used `lsof` and didn't find any file open related to the plugin logs.
this attached file has output of `lsof | grep owtf`
[logs.txt](https://github.com/owtf/owtf/files/171538/logs.txt)

[2016-03-14 11:38] #419 closed

[2016-03-14 11:40] delta24 commented on #566
@sharad1126 @DarkPrince304 any updates?

[2016-03-14 13:29] #582 closed

[2016-03-14 17:41] sharad1126 commented on #566
@sachinkamath will upload it.
@delta24 tried, but same error on mac.

[2016-03-15 02:13] delta24 commented on #566
@tunnelshade can you chime in? Mac problems ;)

[2016-03-15 05:29] #446 closed

[2016-03-15 05:44] delta24 opened #602 "Fix AUX plugins"
This is an aggregated meta-issue to bring back the `aux` plugins into a working state.

### Related issues:

- [ ] https://github.com/owtf/owtf/issues/125
- [ ] https://github.com/owtf/owtf/issues/126
- [ ] https://github.com/owtf/owtf/issues/128
- [ ] https://github.com/owtf/owtf/issues/386

[2016-03-15 06:05] delta24 commented on #373
Now that we are considering this, it would also be interesting to consider "total progress" vs. "this target progress" so if you are viewing the results for a given target, you have something that tells you "all plugins have already been run against this target" or not.

[2016-03-15 06:44] delta24 commented on #422
Nikto.txt not found is a consequence of the plugin order being shuffled. (`extract_urls.sh` running before the tool itself) xD

[2016-03-15 07:14] DoomTaper commented on #602
@delta24 I would like to work on this issue.I will look into above issues. @delta24 @DePierre Can you suggest me where to start from ?

[2016-03-15 10:59] #592 closed

[2016-03-15 14:46] tunnelshade commented on #566
Everyone, the support for Mac is not present as of now and pretty pointless. Why? Because OWTF needs many tools and run and your mac installation will get ruined with all those. Use a VM or a VPS!!

[2016-03-16 20:38] RahulPratapSingh opened #603 "Error 301 on fetching updates"
During the installation phase of OWTF, it's fetching updates from following links which results in error with 301 response code.

301 error getting http://drupalcode.org/viewvc/drupal/contributions/modules/drupal_plugins.txt
301 error getting http://drupalcode.org/viewvc/drupal/contributions/themes/drupal_themes.txt

[2016-03-17 01:38] delta24 commented on #603
Duplicate #119

[2016-03-17 01:38] #603 closed

[2016-03-17 04:53] f0rum opened #604 "Dependency checks , libraries Should be Installed Automatically."
Hey ,
Its a very Fuzzy Issue while Installing the OWTF , there a Lots of Dependence Packages , which need to be in the User's System like -
beautifulsoup4==4.3.2
cookies==2.2.1
ipaddr==2.1.11
lxml==3.4.0
Markdown==2.5.1
pexpect==3.3
psycopg2==2.6.1
PTP==0.3.0
pycurl==7.19.5
six==1.8.0
pyOpenSSL==0.14
python-owasp-zap-v2==0.0.9
PyVirtualDisplay==0.1.5
rdflib==4.1.2
selenium==2.43.0
setuptools==18.7

[2016-03-17 05:53] RahulPratapSingh commented on #566
Getting the same installation problem in Kali 2.0 (Sana).

Error: You need to install postgresql-server-dev-X.Y for building a server-side extension or libpq-dev for building a client-side application.

Command python setup.py egg_info failed with error code 1 in /tmp/pip-build-CVxFIC/psycopg2
Storing debug log for failure in /root/.pip/pip.log

Snippet of pip.log
<pre><code>
Error: You need to in

[2016-03-17 07:23] sachinkamath commented on #604
@f0rum. I see that you have pasted the `owtf.pip` file as such. The installation of those dependencies are taken care of in `install.py`

In install.py, Line 77 :
[code]

This seems to be working fine. Are you facing any problems with the installation? If so, please be specific.

[2016-03-17 07:28] sachinkamath commented on #566
@RahulPratapSingh Try `sudo apt-get -y install postgresql `

[2016-03-17 08:32] delta24 commented on #604
@f0rum please review the `install` carefully. We already install all the dependencies as shown by @sachinkamath.

[2016-03-17 08:43] delta24 commented on #566
@RahulPratapSingh we already install `postgresql-server-dev-all` as a part of the Kali Linux installation so if seems that you are missing `postgresql` or you did not run the installer correctly. Either way are you on the latest develop branch ?

I cannot replicate your changes.

[2016-03-17 09:16] RahulPratapSingh commented on #566
@delta24 I followed the recommended steps as shown on main page of OWTF
<pre><code>
wget -N https://raw.githubusercontent.com/owtf/bootstrap-script/master/bootstrap.sh; bash bootstrap.sh
</code></pre>

I think the problem was because of "libpq-dev". It was not able to locate the package in kali 2.0

I just figured out a way. It's working perfectly now. Added the following repositories in sources.l

[2016-03-17 10:52] f0rum commented on #604
Nope I don't think so , it get Install in Debian , Kali , WTF , users using different Distro , may lag it Please have look on the PoC.
![1](https://cloud.githubusercontent.com/assets/11724158/13843880/468b7772-ec5c-11e5-8623-a3e097e4773b.png)
![2](https://cloud.githubusercontent.com/assets/11724158/13843879/468682a8-ec5c-11e5-8f0b-b50b266b726f.png)
![3](https://cloud.githubusercontent.com/assets/1

[2016-03-17 10:55] RahulPratapSingh opened #605 "UI Add Targets button bug"
Add Targets button get disabled even if the url is not valid.
![screenshot from 2016-03-17 12-18-13](https://cloud.githubusercontent.com/assets/8836104/13843945/b1a8d40a-ec5c-11e5-9c4a-d2bfe66863f0.png)

[2016-03-17 11:18] delta24 commented on #566
@RahulPratapSingh Which option did you choose? Please choose the develop branch as most of the errors are fixed in it.

[2016-03-17 11:23] delta24 commented on #604
@f0rum I do not understand what you are trying to say. @7a @DePierre ?

[2016-03-17 11:34] RahulPratapSingh commented on #566
@delta24 I didn't choose develop branch. I chose option 1) OWTF 1.0.1 Lionheart
Sure, I will choose it for further reports. Thank you :)

[2016-03-17 12:17] #566 closed

[2016-03-17 12:22] DoomTaper commented on #605
@RahulPratapSingh are you on develop branch ?
Seems similar to issue #496

[2016-03-17 13:07] RahulPratapSingh commented on #605
@DoomTaper yes. I am on develop branch. This bug seems similar to bug #496. I checked that now, but this issue isn't addressed in code. Even, to replicate no need to put any special character, just leave it blank and hit Add Targets!. It will get disabled and will remain same, until user refresh the page or do any other activity. It's seems to be annoying to user to refresh page everytime.

[2016-03-17 15:04] sachinkamath commented on #604
@f0rum You seem to be missing a lot of packages. Is this a fresh install of mint? If so, do a `sudo apt-get -y update && sudo apt-get -y upgrade` . If that is not the case, try installing `libcurl` and `openssl-dev` using `sudo apt-get install libcurl4-openssl-dev` . That should help.

@delta24 Guess you can add the support tag. It doesn't look like a bug to me.

[2016-03-17 15:27] sachinkamath commented on #605
@RahulPratapSingh I am not able to reproduce it. It works as intended.

Typed an Invalid URL first, also tried by leaving it blank :
![1](https://cloud.githubusercontent.com/assets/9546091/13851057/a4abbb48-ec82-11e5-9c53-89a075d1a1ea.png)

Used a legit URL (https://www.google.com) and clicked again :

![2](https://cloud.githubusercontent.com/assets/9546091/13851062/a9f177fa-ec82-11e5-801a-ecb406a

[2016-03-17 15:36] RahulPratapSingh commented on #605
@sachinkamath My bad. I checked it again before posting, but still compared with old (master branch code). I will make sure, this blunders won't happen again. :(

[2016-03-17 15:36] #605 closed

[2016-03-17 15:55] sachinkamath opened #607 "Verify distribution during installation"
I was trying to install OWTF onto an Ubuntu VM today and I *accidentally* chose Kali as my distribution.  The installation went fine and I was able to fire up the web UI just fine. But as expected, there were a lot of errors when I tested it by scanning a website like this as nikto was not installed :

![screenshot from 2016-03-17 21-18-43](https://cloud.githubusercontent.com/assets/9546091/138519

[2016-03-17 15:58] f0rum commented on #604
@sachinkamath Mint is fully Upgraded and no issues with it , still I am trying , might be of Different Distro ,

[2016-03-17 16:15] sachinkamath commented on #604
@f0rum did you try `sudo apt-get install libcurl4-openssl-dev`

[2016-03-17 16:23] f0rum commented on #604
Yes I did No Issues , I ll Handle and Make it well :)

[2016-03-17 17:53] sachinkamath opened #608 "Unexpected Behavior after deleting a session"
#### Steps to Reproduce :

1) Navigate to Targets, click on Sessions and add a New Session, say `Test Session`.

![screenshot from 2016-03-17 23-04-50](https://cloud.githubusercontent.com/assets/9546091/13855226/4e871718-ec95-11e5-8e68-bbb68c1e76da.png)
<hr>
2) Select `Test session` as the session and then delete it, Click outside the popup to close it.

![screenshot from 2016-03-17 23-05-51](http

[2016-03-17 18:58] RahulPratapSingh opened #609 "File Redundancy"
There is file redundancy in tools directory.

https://github.com/owtf/owtf/blob/develop/tools/discovery/web/rev_proxy/HTTP-Traceroute.py
https://github.com/owtf/owtf/blob/develop/tools/discovery/web/traceroute/HTTP-Traceroute.py

Both the files i.e HTTP-Traceroute.py are same.

[2016-03-18 02:39] delta24 commented on #607
We already detect the distribution automatically and the dependencies. @sachinkamath see the `install.py` and the `dependency_management` dir.

[2016-03-18 05:52] sachinkamath commented on #607
@delta24 Gotcha. I had discussed about this on IRC with @7a . We concluded that auto-detection of the OS will help. I'll send a PR soon for that :)

[2016-03-18 08:39] RahulPratapSingh opened #613 "Reflected XSS Vulnerability"
When adding new name of session, it is not sanitized, that leads to XSS Vulnerability.
Poc attached
![screenshot from 2016-03-18 04-34-31](https://cloud.githubusercontent.com/assets/8836104/13872793/e67ddf16-ed12-11e5-997c-e2ee53f28889.png)

[2016-03-19 13:11] #613 closed

[2016-03-21 05:08] delta24 commented on #608
@sachinkam I am not sure if it is a bug. This action is intended IMO. Consider this:

- You have multiple sessions registered.
- You delete one of them
- You are expected to select another from the same modal window from which you deleted the session.
 Restoring the default session every time I delete a session is not good. Instead you can have this behaviour:

- If you have only 2 sessions regist

[2016-03-21 05:20] sachinkamath commented on #608
@delta24 Got it. As discussed in IRC, it'd be better to force the user to select a session after deletion of a session by tweaking the templates. Closing #625

[2016-03-21 05:26] delta24 commented on #609
Remove any one of them @7a ? But make sure not to break any plugins in the process.

[2016-03-21 05:43] delta24 commented on #25
@islamoc ?

[2016-03-21 09:38] delta24 commented on #470
Verified one-off error with `https://github.com` - improper configuration on Facebook's side.

[2016-03-21 09:38] #470 closed

[2016-03-21 10:35] #401 closed

[2016-03-21 11:11] #217 closed

[2016-03-21 14:09] RahulPratapSingh commented on #609
@delta I checked it. According to my observation, HTTP-Traceroute.py in traceroute directory is not used anywhere in the code. Please correct, if I am wrong.

[2016-03-21 16:23] #604 closed

[2016-03-21 16:29] delta24 commented on #609
Yes @RahulPratapSingh, the HTTP-Traceroute.py in traceroute directory is not used - send a PR removing it! :+1:

[2016-03-21 16:43] RahulPratapSingh commented on #609
@delta24 done :)

[2016-03-21 16:51] #609 closed

[2016-03-21 18:36] #599 closed

[2016-03-21 19:02] #607 closed

[2016-03-22 17:00] #434 closed

[2016-03-22 17:11] delta24 commented on #390
@DePierre @7a should I set the default group to "web" instead of None ?

[2016-03-23 06:57] delta24 commented on #560
@tunnelshade can you help on the SSL errors? ;)

[2016-03-23 12:41] #119 closed

[2016-03-23 13:24] #373 closed

[2016-03-23 14:32] delta24 commented on #422
Closing as this is a subset of issue #439.

[2016-03-23 14:32] #422 closed

[2016-03-23 14:37] delta24 commented on #602
@DoomTaper look where the `aux` plugin support broked( use `gitk` 's advanced search ;) ) and try to fix it from there.

[2016-03-23 16:42] #318 closed

[2016-03-23 16:43] delta24 commented on #318
Closing this as this has been fixed as far as I know and last one removed in https://github.com/owtf/owtf/commit/ac0431605a80aee5dbc87a8cb6c0fd1909877694.

[2016-03-23 17:06] delta24 commented on #329
@anantshri The `tlssed.sh` script is using the default `sslscan` from Kali (`which sslscan`) - it is the one you mentioned https://github.com/rbsec/sslscan/. Also the tlssed functionality does not break because this fork implements the same options (+ much more) as in the original version.
Closing.

[2016-03-23 17:06] #329 closed

[2016-03-23 17:56] delta24 commented on #303
@7a do we really need this? I mean there are some official OWASP lists for that where we can contribute:

- https://www.owasp.org/index.php/Source_Code_Analysis_Tools
- https://www.owasp.org/index.php/Static_Code_Analysis#Tools

[2016-03-24 07:37] #303 closed

[2016-03-25 02:01] sachinkamath opened #632 "Check for tools before running commands"
It'd be better to check if a tool exists before running the actual plugin. This will be significantly reduce the run-time in distributions that are not pen-testing oriented. For example, Ubuntu does not have arachni pre-installed but arachni scans seem to run during analysis resulting in errors.

## Expected Behavior

OWTF should report that the tool is missing and the test will be skipped.
## Cur

[2016-03-25 07:08] delta24 commented on #632
@sachinkamath I don't think it will reduce the time. If a tool is not found, it will result in an error, and OWTF directly skips that plugin.

The install script installs some required tools in Debian (read Ubuntu) and if they are still not installed, OWTF prints out a warning to continue the start process (if some tools are not found):
see `framework/config/health_check.py`.

[2016-03-25 08:29] sachinkamath commented on #632
@delta24 I did not get any such warning/error message. Strange.

[2016-03-25 11:18] mikefitz888 commented on #429
Minor improvement.
I've made a small change on a fork that contributes to this. When there's only one type of plugin (active, bruteforce etc...) to display a report of, then that tab will be open by default when that section of the accordion is opened.

https://github.com/mikefitz888/owtf/commit/9c05d7bcc07692e3181d1aa45b97bdb8d5db7b28

What do you think? Okay to submit a pull request?

[2016-03-25 11:35] delta24 commented on #429
Yes please @mikefitz888 ! :)

[2016-03-26 06:11] sachinkamath opened #635 "Session Modal breaks for large session names"
`SessionModal` handles the sessions in `/ui/targets` . When a large string is passed as session name, it stretches beyond the size of modal window and breaks the delete functionality
## Expected Behavior

The session name should have been truncated.
## Current Behavior

The Session Name overflows out of bounds causing delete button to disappear
## Possible Solution

* Truncate the session name / S

[2016-03-26 06:23] delta24 commented on #635
@sachinkamath @DePierre @tunnelshade @7a: I think better to truncate the session names to max. 50 chars.

[2016-03-26 17:44] RahulPratapSingh opened #637 "keyboard Interrupt Exception Handling"
## Expected Behavior

Framework should terminate without leaving traceback on terminal.

## Current Behavior

Program leaves a long traceback

## Possible Solution

Exit the program gracefully on getting KeyboardInterrupt Exception.

Proper exception handling of function "LoadResourceDBFromFile" and "LoadConfigDBFromFile" in resource_manager.py and config_manager.py respectively.

## Steps to Repr

[2016-03-26 18:45] RahulPratapSingh opened #638 "OWTF takes few steps to start"
Everytime, I restart my VM, it takes few steps to start OWTF like changing directory, go to scripts and then run scripts. It's a kind of little lengthy process, and tiredsome.

## Expected Behavior

It should start in 1 or 2 steps without much efforts of end user.

## Current Behavior

Takes multiple steps to start, after VM restart.

## Possible Solution

Little changes in the codebase results in

[2016-03-27 00:50] sachinkamath commented on #638
This is something to be taken care at the system level IMO. OWTF is already slow w.ref to the start time as mentioned in #387. Adding a script to check pg status will only increase the loadtime of `owtf.py`

[2016-03-27 04:22] RahulPratapSingh commented on #638
I haven't added any new script to check for pg status. It's already checked by OWTF at the starting. Just added few lines of code there. So, I don't think, it will significantly increase loadtime.

[2016-03-27 05:03] delta24 commented on #637
@RahulPratapSingh what you did was kill the `sqlalchemy` process midway when it was trying to load the data in the DB. This may corrupt the DB. The traceback is needed so that the developer may know what went wrong with the component initialization.

[2016-03-27 08:07] RahulPratapSingh commented on #637
@delta24 yes, from developer perspective, traceback is required. But in my opinion, end user might not be developer, who just came to use OWTF framework. ;)

[2016-03-27 12:32] sachinkamath commented on #637
@RahulPratapSingh I disagree. All the users need traceback. If any end-user faces difficulty during the runtime or installation, Traceback is the only thing that will help us to pin-point the problem.  Without it, debugging will be very difficulty. And I believe end-users of OWTF are pen-testers / atleast people who have knowledge of security, and hence Linux.

[2016-03-27 12:43] RahulPratapSingh commented on #637
@sachinkamath Well, It's ur opinion. Traceback will help us to pin-point problem, I agree with it but you will find pentesters (often) without much knowledge of programming. For example, people often use metasploit but very few have knowledge of ruby. Just wanted to highlight the issue, let's OWTF crew members decide. :)

[2016-03-27 14:42] DoomTaper opened #639 "Re-running plugin from GUI not working properly"
## Expected Behavior

As user click on rerun plugin, plugin should run in first attempt but currently it runs in the second attempt.
## Current Behavior

As user click on rerun plugin button for the first time it doesn't run
When user runs the plugin for the second time the plugin runs
See the screenshot.
![screenshot 79](https://cloud.githubusercontent.com/assets/10975138/14065838/c415c024-f456-1

[2016-03-27 15:14] DoomTaper commented on #639
I am ready with the fix ... will soon send the PR :)

[2016-03-28 09:19] DoomTaper commented on #386
@DePierre the issue lies in the [L#185](https://github.com/owtf/owtf/blob/develop/owtf.py#L185), and on a later stage it is not checked whether scope is auxiliary or not , because in that case I think the flow will be different. So @delta24 @DePierre @tunnelshade @7a can you brief me about how aux plugins are made to run from CLI, then I will make the changes accordingly.

[2016-03-28 09:42] DarKnight-- commented on #386
@DoomTaper this issue has been fixed in my commit. Now OWTF is able to resolve the 'aux' -> 'auxiliary' plugins.

[2016-03-28 10:07] DoomTaper commented on #386
@DarKnight-- I have pulled your commit and yes OWTF is able to resolve aux plugin through -l option but are you able to run the given command `./owtf.py -o Spear_Phishing http://127.0.0.1` .? The error `[!] Unable to resolve: 'aux'` is due to adding aux to target scope which at later stage is not checked as I said in my previous comment. You have just enable the `-l auxuliary` functionality and IM

[2016-03-28 10:34] DarKnight-- commented on #386
Yeah my bad, I didn't get the error. It was probably because my machine was able to resolve it (as shown [here](http://imgur.com/N7B0q5p)). Yes the problem lies in `owtf.py line 180-185`. As this scope is later used to get target.

[2016-03-28 13:02] DoomTaper opened #642 "Dirbuster Plugin not working"
There are two chained commands when running dirbuster plugin Old Backup And Unreferenced Files (web/active) which should run in the order it's given (see the order [here](https://github.com/owtf/owtf/blob/develop/plugins/web/active/Old_Backup_and_Unreferenced_Files%40OWTF-CM-006.py#L15)) but its not happening that way. look at the screenshot below
![screenshot 80](https://cloud.githubusercontent.c

[2016-03-28 18:54] tunnelshade commented on #635
@delta24 Yes, put a limit on it. 50 characters make sense

[2016-03-29 04:55] delta24 commented on #632
@sachinkamath By skipping the test I meant that OWTF will assign a "Failed" status to the work and move on (because the command will fail to run and return some empty object)

[2016-03-29 04:55] #632 closed

[2016-03-29 05:32] delta24 commented on #642
@DoomTaper this is not the case. Sometimes the plugin order is jumbled (random) where the grep plugins run before the semi-passive or active plugins have run + try running a full scan with all plugins (web test). You will see that the active/semi-passive plugins run before the passive+external plugins - which is wrong. This file, `profiles/web_plugin_order/default.cfg`, was earlier meant for this,

[2016-03-29 14:46] DoomTaper commented on #642
@delta24
1. I don't think this is similar to issue 204 because that issue is related between running different plugins while this issue is related between running different commands of a single plugin
2. Regarding nikto plugin this is different because in nikto plugin  a single argument `nikto_unauth` (plugin [here](https://github.com/owtf/owtf/blob/develop/plugins/web/active/Nikto_Unauthenticated

[2016-03-29 19:31] DePierre commented on #602
@DoomTaper from @7a

[2016-03-31 12:09] DoomTaper opened #644 "Bug in progress bar"
The major problem lies in the [formula](https://github.com/owtf/owtf/blob/develop/framework/interface/templates/manager_interface.html#L180) of calculating the percentage of completed work i.e. `complete_count / (left_count + complete_count)`
There are **two bugs** related to progress bar.
### Steps to reproduce
#### First bug
1. run `./scripts/db_setup.sh clean` and then `./scripts/db_setup.sh in

[2016-03-31 17:23] pauTE opened #645 "Fix run_tlssled.sh permission"
I executed the active Testing for SSL-TLS  OWTF-CM-001 and everything looked fine.But when I looked at the reports I discovered that the scripts/ssl/run_tlssled.sh script has no execution permission.

## Expected Behavior

The execution of the active Testing for SSL-TLS  OWTF-CM-001 should generate various reports, one of them must be report generated by the run_tlssled.sh script.To solve that exe

[2016-04-01 00:38] saganshul commented on #644
@DoomTaper I will try to fix it today as soon as possible. Thank you for pointing it out :)

[2016-04-01 06:11] delta24 commented on #644
@saganshul Also change the progress bar title to something like "Total scan progress" or something like that :)

[2016-04-01 06:12] delta24 commented on #635
@tunnelshade should we also start implementing length limits in the sqlalchemy models itself?

[2016-04-01 07:10] tunnelshade commented on #635
Yes @delta24 . Then catch for exceptions while creating models.

[2016-04-01 08:06] delta24 commented on #638
How does the possible fix you mention fix the problem?

[2016-04-01 08:15] DarKnight-- opened #647 "list plugin command (-l) for auxiliary plugins not working"
## Expected Behavior

Currently OWTF is able to list only web and network type of plugins. As OWTF has auxiliary plugins, it should list them when `./owtf.py -l auxiliary` is run.

## Current Behavior

OWTF has auxiliary plugins, but does not lists them when `./owtf.py -l auxiliary` is run.

## Possible Solution

The solution for this problem is to add a test group corresponding to auxiliary plugi

[2016-04-01 09:12] DoomTaper commented on #644
@saganshul One more issue I have noticed
your method of computing `complete_count` is incorrect because
e.g.
1. First run atleast 5 plugins successfully to clearly see this issue. This will make `complete_count = 5`
2. After all work has been done run 2 more plugins ( remember these 2 shouldn't be run along with above 5 ) now see the workers page since one work has been taken so `left_count = 1`.

[2016-04-01 09:29] saganshul commented on #644
@DoomTaper  I knew about this when I was writing this functionality. But presently we do not have a space where I can find out completed task except plugin_outpout model correct me if I am wrong which gives me total completed task that's why you are getting 5. Specifically what we can do right now, we can filter it by date or time but still we can't have exact completed task because filtering it b

[2016-04-01 11:39] DoomTaper opened #650 "Plugin not running if plugin_name is given from CLI"
Plugin is not running if I gave plugin name instead of plugin code with -o argument through CLI.

## Expected Behavior

OWTF should run the plugin with plugin name also if given from the CLI.

## Current Behavior

If plugin name is given with -o argument then it doesn't run

## Possible Solution

IMO in `GetAll()` function ( [here](https://github.com/owtf/owtf/blob/develop/framework/db/plugin_mana

[2016-04-01 11:47] DoomTaper commented on #650
I want to know if any previous work is done or not. If not, then a way to fix this is that in `GetAll()` all the plugin names should be converted to its respective plugin codes before querying the db. What do you think @delta24 @DePierre ?

[2016-04-02 03:49] #642 closed

[2016-04-02 04:50] sachinkamath opened #651 "Broken vulnerability search"
While running `OWTF-IG-004 Web Application Fingerprint` , a lot of options are shown for searching the vulnerabilities. Some of them are not functional.

## Expected Behavior

This is *NOT* a bug with OWASP but something that breaks functionality.

List of concerns :
* `exploit-db` has implemented a captcha in their website that prevents automated search.

* OSVDB search doesn't work. Further anal

[2016-04-04 06:34] delta24 commented on #645
@pauTE ?

[2016-04-04 08:17] pauTE commented on #645
I cannot remember.But I probably changed the permissions.However I think it's worth adding the 'sh' in case the user changed the permissions.

[2016-04-04 12:17] delta24 commented on #645
@pauTE You're right. Send a PR which applies this to all other scripts (meanwhile I'm closing the issue and the PR ;) )

[2016-04-04 12:17] #645 closed

[2016-04-04 14:53] sachinkamath commented on #448
@delta24 I'd like to take this up. I am thinking of more like a simple installer (maybe a bat?). But the current problem is, all the installer scripts in the repo are written for Linux . Things like /dev/null and stuff will have to be re-written.
The best thing to do'd be a separate branch for Windows. And why is this out of the OWTF Quality Release? Time issues?

[2016-04-04 23:01] islamoc commented on #25
sorry for taking long
even if we submitted the signatures need to be updated regularly

[2016-04-05 05:16] #647 closed

[2016-04-05 15:17] sachinkamath commented on #448
## List of Concerns + Bugs - OWTF on Windows

Here are a list of problems I found when trying to install OWTF on Windows.

* Current installation script ( install.py ) is for Linux only. We will have to add support for Windows by either tweaking it or making an entirely new one for Windows, exclusively.

### PIP installation issues

* **[CRITICAL]** pexpect==3.3 does not support Windows atm.

![20

[2016-04-06 16:46] #639 closed

[2016-04-07 15:21] delta24 commented on #635
Closed in https://github.com/owtf/owtf/commit/d9a2cf39cf96f792adc8c9558953931a01361b72.

[2016-04-07 15:21] #635 closed

[2016-04-08 10:08] sachinkamath commented on #448
## List of Concerns + Bugs - OWTF on Windows

Here are a list of problems I found when trying to install OWTF on Windows.

* Current installation script ( install.py ) is for Linux only. We will have to add support for Windows by either tweaking it or making an entirely new one for Windows, exclusively.

### PIP installation issues

* **[CRITICAL]** pexpect==3.3 does not support Windows atm.

![20

[2016-04-08 16:20] sachinkamath opened #658 "Migrate to a cross-platform method to download files instead of using wget"
Currently, we are using the wget command to pull various files from the Internet during installation. The idea is to python-ify these and use python-wget instead.

## Expected Behavior

Currently, OWTF uses `os.system( )` command to invoke wget commands. It'd be better to use the wget package in PyPI instead. This'd make the installation less dependent on external packages. Also, as mentioned [her

[2016-04-08 21:38] RahulPratapSingh commented on #638
@delta24 I just called both the files i.e start_postgres.sh and db_run.sh as required to start services. These are called when the current exception handling ask user to manually start service in files db_run.sh and db.py respectively.

<pre><code>  File: db_run.sh Line: 87

  if [ "$status_exitcode" != "0" ]; then
            # echo "[+] Starting failed because postgreSQL service is not available

[2016-04-16 16:09] hTrap commented on #581
##Description
As Discussed in #623, the checklist below is structured to contain
- One Directory ( if no of files < 5) per PR
- 5 files per PR

###Checklist
- [x] /agents (3 files)  : #660
- [x] /dictionaries (1 file) : #661

[2016-04-17 19:34] DePierre opened #662 "Bash 'which' error in db_setup.sh script"
When running OWTF bash scripts to configure/reset the database, an error is thrown as shown below:

[code]

While the script seems to offer to possibility to use `systemctl` instead of `service`, the bash line is not correct and an error is thrown as soon as `service` is not found.

(Maybe line https://github.com/owtf/owtf/blob/develop/scripts/db_setup.sh#L51 and https://github.com/owtf/owtf/blob/

[2016-04-18 18:30] #662 closed

[2016-04-19 09:00] DePierre commented on #637
Hi @RahulPratapSingh and thank you for your report.

However, I believe that this is a won't fix issue since it is an expected behavior. As pointed out by @delta24, the stack trace you see is from sqlalchemy that you killed when it was loading the database.

In that case, we have two users:
+ A tech-savvy user who will have the information he needs in the stack trace to pin-point the problem
+ A n

[2016-04-19 10:17] #637 closed

[2016-04-19 10:29] DePierre opened #666 "ConfigDB silently fails when default.cfg not found"
When running OWTF from a different directory and OWTF cannot find the file `profile/general/default.cfg`, it silently fails.

Instead of throwing a verbose error message such as "Configuration file not found", it simply does not load the configuration DB values and later fails when loading Zest with the following error message:
[code]

The error is in https://github.com/owtf/owtf/blob/develop/fram

[2016-04-19 16:42] DePierre commented on #650
@DoomTaper I believe that `-o` expects the OWTF ID of the plugin. For instance:
[code]

So this is the expected behavior, isn't it?

[2016-04-19 16:49] DePierre commented on #638
@RahulPratapSingh So basically, the extra step is that postgresql is not starting when your VM is booting?

If that is the case, then simply add it to your startup configuration, using systemctl for instance:
[code]

Then, you don't need to run ``db_run.sh`` but only ``owtf.py``.

IMO, OWTF should not start postgresql on startup but let the user configure his system.

@sachinkamath I don't think t

[2016-04-19 19:42] delta24 commented on #638
@DePierre Same. OWTF should not concern with the system configuration.

[2016-04-19 19:43] #638 closed

[2016-04-20 07:30] DePierre opened #667 "PostgreSQL Fix in db_setup.sh out-dated?"
Hi fellows,

I am creating this issue to ask a simple question regarding the script ``db_setup.sh``.
Is the fix https://github.com/owtf/owtf/blob/develop/scripts/db_setup.sh#L33 still necessary? Should we remove it? Or comment it?

Personally, it has two problems for me:
+ It doesn't work on my setup (archlinux):
[code]
+ It prevents automation when running the functional test suites.

I could the

[2016-04-20 07:40] DePierre opened #668 "PostgreSQL Fix in db_setup.sh restarts postgresql daemon in any case"
The fix for postgresql SSL configuration in the file ``db_setup.sh`` restarts the daemon even in the case when the user said "no" to the fix:

[code]

https://github.com/owtf/owtf/blob/develop/scripts/db_setup.sh#L33 does not check the user input before restarting the daemon.

I would expect the script to do nothing if I answer "no", especially since restarting the daemon takes quite some time.

[2016-04-20 07:44] DePierre commented on #667
Nevermind. I just got this error message on Travis build:
[code]

I believe that this is the problem the postgresql fix is addressing, right?

[2016-04-20 08:36] delta24 commented on #667
Yes.

[2016-04-20 09:13] #667 closed

[2016-04-20 11:00] DePierre opened #669 "PostgreSQL Fix in db_setup.sh should use SHOW config_file;"
The [PostgreSQL fix in db_setup.sh](https://github.com/owtf/owtf/blob/develop/scripts/db_setup.sh#L33) uses [psql -V](https://github.com/owtf/owtf/blob/develop/scripts/db_setup.sh#L35) in order to find the corresponding configuration file.

However, this is not necessarily true. For instance, on my setup it fails (archlinux):
[code]

It also fails on Travis build (Ubuntu 12.04.5 LTS):
[code]

The

[2016-04-20 14:25] DePierre opened #670 "xxx_testgroups.cfg should be moved to /profiles"
The different configuration files for [web](https://github.com/owtf/owtf/blob/develop/framework/config/web_testgroups.cfg), [net](https://github.com/owtf/owtf/blob/develop/framework/config/net_testgroups.cfg) and [aux](https://github.com/owtf/owtf/blob/develop/framework/config/aux_testgroups.cfg) groups should be moved to ['/profiles'](https://github.com/owtf/owtf/tree/develop/profiles) as they ar

[2016-04-21 09:12] DoomTaper commented on #650
Its usage says it can expect plugin names as well.
![screenshot 85](https://cloud.githubusercontent.com/assets/10975138/14703753/34e94ace-07cf-11e6-8e3f-3a4692573285.png)

[2016-04-21 09:14] DePierre commented on #650
@DoomTaper You are right indeed. This should be fixed.

[2016-04-21 09:32] DoomTaper commented on #650
@DePierre I will do that :+1:

[2016-04-21 10:49] #668 closed

[2016-04-21 10:52] delta24 commented on #669
Fixed in 522f64b087a31b4f2bf3cc1e0769d74e3fc3e0fe

[2016-04-21 10:52] #669 closed

[2016-04-21 12:12] #644 closed

[2016-04-21 19:57] #666 closed

[2016-04-21 20:59] DoomTaper opened #674 "select all plugin not working on GUI"
## Expected Behavior

After clicking on select all plugin checkbox and running them owtf should add them to worklist

## Current Behavior

After clicking on select all plugin checkbox and running I got the error "Oops! Server replied: Internal Server Error"

## Possible Solution

I did a checkout to a previous commit of [6 feb](https://github.com/owtf/owtf/commit/552209723aaf) and it was working f

[2016-04-21 21:25] DePierre commented on #674
I can't reproduce on my setup. Could you provide the different logs? Especially first ``ui_server.log`` under ``/tmp/owtf/``.

[2016-04-21 21:38] DoomTaper commented on #674
[ui_server.log.txt](https://github.com/owtf/owtf/files/230777/ui_server.log.txt)

[2016-04-21 22:24] DoomTaper opened #675 "Deleting the target in between hangs the corresponding worker"
## Expected Behavior

If a target is deleted in between then worker working on the target after running the plugin should get free.

## Current Behavior

If a target is deleted in between then the corresponding worker hangs while writing to db and shows below error which is obvious
`InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To be

[2016-04-22 13:36] #670 closed

[2016-04-22 19:39] #390 closed

[2016-04-27 22:05] sachinkamath opened #677 "New active plugin for JBoss Vulnerability Assessment"
Right now, we do not have any plugin to actively probe for JBoss instances and it'd be great to integrate one such tool as an active plugin into OWTF
## Possible Solution

[jexboss](https://github.com/joaomatosf/jexboss) looks promising. It is built for python 2.7.\* and has very less dependencies. [More Information](https://github.com/joaomatosf/jexboss/blob/master/README.md)
## Context

By imple

[2016-04-27 22:10] sachinkamath opened #678 "Improvements to existing fingerprinting plugin"
Unfortunately, httpprint and other tools are generally not that great to detect what is running on the server. For example, we do not have JBoss, Tomcat, ColdFusion, etc. detection in OWTF right now.
## Possible Solution

[clusterd](https://github.com/hatRiot/clusterd) should be added to the existing fingerprinting plugin to add variety and improve detection. I suggest that we don't limit the dete

[2016-04-27 22:16] 7a commented on #678
+1!

[2016-04-27 22:19] 7a commented on #677
nice!
Ideally, ptp should be extended to automatically rank this as well, so that if something bad is found this is more visible to the tester reviewing the report! :D

[2016-04-30 17:24] DarKnight24 opened #679 "Change check box to radio as filter used in target output shows only one mapping"
## Expected Behavior

Filter provided in the target output should shows radio button in mapping field.

## Current Behavior

Filter provided in the target output shows check box in mapping field. In spite of selecting multiple mapping it only shows one mapping which is right most in the list.

## Possible Solution

Change check box to radio button

## Steps to Reproduce (for bugs)

1. Run owtf and

[2016-05-02 12:28] delta24 commented on #674
I can't reproduce - did you try on a clean setup? Your log file suggests some JS error propagating from the frontend (see the JS `NaN` type? :P )

[code]

[2016-05-02 12:31] delta24 commented on #650
Any update? @DoomTaper

[2016-05-02 19:41] DoomTaper commented on #674
@delta24 Yup! my setup seems clean :). I captured the request and in that an extra parameter is sent `id=NaN` along with the proper target_id (see the screenshot). After debugging I get that extra id is created when I click on "select all plugin" checkbox since it doesn't have an target_id so NaN is allotted to it. But I dont know why its happening on my setup :P
![screenshot 94](https://cloud.git

[2016-05-02 20:51] DoomTaper commented on #674
I have got the whole scenario
1. there is a function ` toggleAll(checkbox)` used by both *plugin_launcher.html* and *target_manager.html* and we are using `{% module Template(...) %}` to include plugin_launcher.html inside target_manager.html
2. So when I click on "select all plugin" checkbox which is inside plugin_launcher.html, instead of calling toggleAll() of plugin_launcher.html it is calling

[2016-05-05 04:27] #650 closed

[2016-05-05 04:33] delta24 commented on #25
I am closing this issue because I've not found any modern alternative and @islamoc is right: the only solution is to update the signatures regularly.

[2016-05-05 04:33] #25 closed

[2016-05-05 04:49] delta24 commented on #674
@DoomTaper the check is a good thing. Do send a pull request! :+1:

[2016-05-05 05:00] delta24 commented on #316
Cannot reproduce now, must have been fixed in the develop branch.

[2016-05-05 10:08] #367 closed

[2016-05-05 13:21] DarKnight-- commented on #650
@DoomTaper @delta24 When I am trying to run plugin from target page I am getting following error.

![screenshot from 2016-05-05 18 51 23](https://cloud.githubusercontent.com/assets/6971456/15044461/66ca0334-12f2-11e6-8832-fecc1031411a.png)

[code]

[2016-05-05 16:26] DoomTaper commented on #650
thanks for pointing that out @DarKnight-- :)

[2016-05-05 16:42] DePierre commented on #674
@DoomTaper Any update regarding the issue? I personally cannot reproduce it, nor @delta24 apparently. I will therefore remove the Priority High label.

[2016-05-05 17:25] DoomTaper commented on #674
@DePierre as I told earlier this is some weird system issue. Adding a [check](https://github.com/DoomTaper/owtf/commit/cfef73c64f2850e348e9ba9fc619878cdde562e9) is fixing that on my system and since it is a check so we can add it anyway :)

[2016-05-05 18:38] DoomTaper commented on #650
updated the fix @delta24 @DePierre @DarKnight-- Can you review it

[2016-05-05 18:58] DoomTaper commented on #644
@delta24 you should reopen this issue as there is still one issue which needs to be fixed. See my last [comment](https://github.com/owtf/owtf/issues/644#issuecomment-204322581) . @delta24 @DePierre  Should I open that as a new issue or edit the existing one so that it is noticeable ?

[2016-05-06 21:28] DePierre commented on #674
@DoomTaper Feel free to open a PR but this check seems very weird to me. To me, it looks like fixing the consequences of the issue but not the issue itself, if issue there is.

In the worst case scenario, where you can't find a setup to reproduce the error, it would be nice to add a comment on that change, and maybe even link the issue next to it so we know why we are checking for NaN values there

[2016-05-07 06:09] DoomTaper commented on #674
@DePierre [here](https://github.com/DoomTaper/owtf/commit/04b944cef0adda71f17768c9bad7b3efa4be91fd) is another solution which IMO particularly fixes the issue rather than fixing the consequences. Will this work for you ?

[2016-05-07 11:53] DePierre commented on #674
@DoomTaper It looks ulgy to have a function following this naming covention imo.

[2016-05-12 19:24] braimee opened #686 "owtf.py won't launch due to "AttributeError""
## Expected Behavior

I would love for OWTF to run :-)

## Current Behavior

I went through install and didn't get any errors.  But when launching owtf.py I get:

  File "./owtf.py", line 14, in <module>
    verify_dependencies(os.path.dirname(os.path.abspath(sys.argv[0])) or '.')
  File "/opt/owtf2/framework/dependency_check.py", line 40, in verify_dependencies
    owtf_libraries = [req.req.proje

[2016-05-12 19:45] sachinkamath commented on #686
You could try the following :
 * Make sure you are using python2. owtf is not python3 compatible yet. It'd be a good idea to explicitly run OWTF using python2.

* It could be a problem with the pip installations. Did you try a manual `pip install -r install/owtf.pip`

* It could be a problem with pip as well. Can you also try degrading pip to a 8.0.* version and try installation again? ( If manual

[2016-05-12 20:39] braimee commented on #686
Hi there,

Thanks for the super fast reply.

1. I'm running Python2.7 so should be ok there.
2. I did - didn't help unfortunately.
3.  I did downgrade to 8.0.2 and BIGGIDY-BAMM!!!

It's working now!  I can still send logs at a later time but I'm up and going for the time and REALLY appreciate your help.  Is there anything else you'd need me to collect to see if this is something that needs address

[2016-05-12 20:51] delta24 commented on #686
@braimee I think `pip` broke Kali python installation again - I will investigate more and commit a patch later tomorrow. :)

[2016-05-12 20:52] braimee commented on #686
Holy schnikes this crew moves fast.  Thanks so much - can't wait to dive into this tool!

[2016-05-13 04:00] sachinkamath commented on #686
@braimee I'm glad I could be of help :)

@delta24 I think OWTF is not compatible with the most recent versions of pip. It'd be a good idea to explicitly mention the version of pip required for OWTF instead of upgrading it to the latest version during the installation.

Instead of https://github.com/owtf/owtf/blob/develop/install/install.py#L181 , we could explicitly mention the version of pip requ

[2016-05-13 07:51] anantshri commented on #686
@sachinkamath will this also imply that pip will be kept to that specific version. I would prefer we don't do that coz then e are not sure if there is a security update or a feature update we are missing on pip and we are basically rendering everyone's system open to a potential threat. I would prefer we find a fix and identify why the system broke.

[2016-05-13 10:22] delta24 commented on #686
@sachinkamath  I concur with @anantshri that `pip` remains at the latest version. In any case the static pip version solution is at best a hack, until `pip` API stabilizes.

[2016-05-13 15:27] bigduke1092 opened #688 "OWTF not running on Fresh install of Kali 2.0 64 bit"
Running ./owtf.py from the owtf directory and this is the error I am getting

Traceback (most recent call last):
  File "./owtf.py", line 14, in <module>
    verify_dependencies(os.path.dirname(os.path.abspath(sys.argv[0])) or '.')
  File "/root/owtf/framework/dependency_check.py", line 40, in verify_dependencies
    owtf_libraries = [req.req.project_name for req in owtf_reqs]
AttributeError: 'Req

[2016-05-13 17:18] delta24 commented on #688
Duplicate #686 - this is due to `pip` error. For an immediate fix, please downgrade your `pip` version to 8.0.x.

[2016-05-13 17:42] bigduke1092 commented on #688
Thanks I will give that a shot!

[2016-05-14 02:48] #686 closed

[2016-05-14 02:50] delta24 commented on #688
Closed in 2d648e1

[2016-05-14 02:50] #688 closed

[2016-05-16 04:12] delta24 commented on #417
Copied to the health monitor issue tracker. Closing...

[2016-05-16 04:12] #417 closed

[2016-05-17 02:42] #679 closed

[2016-05-17 03:05] delta24 commented on #674
@DoomTaper is it still applicable on your end?

[2016-05-17 04:00] delta24 commented on #651
@sachinkamath To address all the issues one by one:

- [x] We can't really do anything about the exploit-db captcha. The plugin is itself passive, so it is expected from the user to manually follow the links.
- [ ] OSVDB has been effectively shut down (https://blog.osvdb.org/2016/04/05/osvdb-fin/). I think we should remove all links to osvdb from the resources.
- [ ] Fix CVEdetails button

[2016-05-17 04:40] delta24 commented on #651
Closed in ea5023be167f2e8de3146433343e72cead8ccb98.

[2016-05-17 04:40] #651 closed

[2016-05-17 05:11] delta24 commented on #424
@7a @DePierre should I move this to the health_monitor issue tracker?

[2016-05-19 10:46] delta24 commented on #674
Closing this as cannot reproduce.

[2016-05-19 10:46] #674 closed

[2016-05-22 03:06] delta24 commented on #424
Moved to health monitor issue tracker. Closing...

[2016-05-22 03:06] #424 closed

[2016-05-27 08:29] viyatb opened #695 "[webui] Redesign the web interface"
This is just the placeholder issue for web interface redesign.

- Reduce clicks and have a more natural flow ⇒ This refers to the fact that the current interface is not user-friendly, and can be modified to increase productivity while reducing redundancies and improving consistency.
- The main OWTF report uses elements known as accordions to represent findings of the plugins. The accordion element

[2016-05-27 18:38] DoomTaper opened #696 "multiple components are not defined in ServiceLocator"
**interactive_shell, smb, selenium_handle**r are used to run aux/rce, aux/smb, aux/selenium plugins respectively but are not registered in ServiceLocator. This needs to be fixed asap to make aux plugins working.

## Steps to Reproduce (for bugs)

1. write `print(ServiceLocator.already_registered("interactive_shell"))` anywhere after all the initialisations e.g. I write it in one of the running plu

[2016-05-28 14:04] delta24 commented on #581
- First sweep done

[2016-05-30 03:22] #696 closed

[2016-05-31 12:14] delta24 commented on #581
- [x] Second sweep done - final PEP8 formatting done including all plugins!
- [x] Removed Kali 1.x code and Backtrack support

[2016-06-06 04:15] delta24 commented on #423
Shifted to https://github.com/owtf/health_monitor/issues/8.

[2016-06-06 04:15] #423 closed

[2016-06-06 04:19] delta24 commented on #695
At the moment you need 3 clicks + 1 nasty horizontal mouse move from left to right to rank ANY plugin.
We need to:
- Put the plugins somehow into the plugin group banners (-1 click)
- you know the plugins that have been run under that test, we could abbreviate with [ E P S A ] ← External, Passive, Semi-Passive, Active :)
- Put the buttons to click on the plugins [ E P S A ] directly ABOVE the rank

[2016-06-06 04:19] delta24 commented on #429
Shifted to superset issue, https://github.com/owtf/owtf/issues/695.

[2016-06-06 04:19] #429 closed

[2016-06-06 14:07] delta24 opened #704 "Export the report to different formats"
The current OWTF report is very interactive but it cannot be exported in its current form. A reporter service can be written (I think this was in the very early releases of OWTF) which exports a nice report with template, findings, and additional pentester's notes into multiple formats.

A small set of export formats should be supported such as:
- HTML (pure static html here)
- PDF
- XML (for proc

[2016-06-07 11:57] delta24 commented on #560
There is 1 more errors to be fixed:

- [ ] Error when loading the private key
[code]

[2016-06-08 15:01] Kaicastledine opened #707 "Issue with metasploit pro location"
## Expected Behavior
Plugin is meant to run with the use of metasploit

## Current Behavior
When using any metasploit plugins they fail.
Metasploit pro is installed on the machine so edited the tool location to the following.
![image](https://cloud.githubusercontent.com/assets/11678433/15898767/64c22ba2-2d91-11e6-8f47-1377211cc3a9.png)->
PTF (Pentesting framework) has been used on the machine for

[2016-06-08 15:02] Kaicastledine commented on #707
Let me know if you want to logs also, Have a feeling this might be a simple issue to resolve.

[2016-06-08 15:33] delta24 commented on #707
Hi @Kaicastledine, we have a new release which fixes the path issues. You can download it here  -
https://github.com/owtf/owtf/releases/tag/v2.0a or pull the latest changes: `git pull https://github.com/owtf/owtf.git`.

[2016-06-08 15:47] Kaicastledine commented on #707
Ah I thought it was an old version. How come the bootstrap has not installed it ?

Or are the versions completely separate ?

[2016-06-08 15:48] Kaicastledine commented on #707
I've just checked the the new version 2 is downloaded in the OWTF folder however whenever its used it reports it as the old version. Will remove the current version and use the Git Pull and let you know if that works.

Many thanks

[2016-06-08 15:49] delta24 commented on #707
Better clone in a new directory. :)

[2016-06-08 15:54] Kaicastledine commented on #707
Already running kali 2
Msf console was removed to fix some issues between the metasploit pro install as the 2 different install locations of msf console was causing issues.

[2016-06-08 15:57] Kaicastledine commented on #707
Just cloned the new version and I get this error on start
![image](https://cloud.githubusercontent.com/assets/11678433/15901157/0f4c0824-2d9a-11e6-93ab-d4f4ba4990b1.png)

[2016-06-08 16:03] delta24 commented on #707
@Kaicastledine which plugin are you are trying to run?

[2016-06-10 16:42] delta24 commented on #560
Closed in e1ba544f1fa9aaedd2d1c90b92ab3f27a6224905.

[2016-06-10 16:42] #560 closed

[2016-06-11 04:43] delta24 commented on #485
We already use `svndigger` to get a large number of svn urls in the combined dictionaries (to be used with dirbuster) - so do we need to integrate SVN extractor? Will it find more urls?

[2016-06-11 04:47] delta24 commented on #126
Meta-issue for all auxiliary plugins is https://github.com/owtf/owtf/issues/602 and this is fixed in 763660a6975a081ae9a5f31172fe415cc0bd93f5.

[2016-06-11 04:47] #126 closed

[2016-06-11 04:49] delta24 commented on #125
Meta-issue for all auxiliary plugins is https://github.com/owtf/owtf/issues/602 and this is fixed in 763660a6975a081ae9a5f31172fe415cc0bd93f5.

[2016-06-11 04:49] #125 closed

[2016-06-11 04:51] delta24 commented on #128
The framework has changed since and all auxiliary plugin fixes are in this PR - https://github.com/owtf/owtf/pull/690.

[2016-06-11 04:51] #128 closed

[2016-06-11 05:09] delta24 commented on #476
Tested on various websites including https://facebook.com, https://google.com and https://reddit.com. I'll reopen this if the error creeps up again (this must have been fixed by the new `sqlalchemy` update).

[2016-06-11 05:09] #476 closed

[2016-06-13 03:03] delta24 commented on #707
@Kaicastledine does the above fix work for you?

[2016-06-14 09:32] delta24 commented on #675
@DoomTaper I cannot reproduce this on the latest develop checkout - can you verify?

[2016-06-14 13:35] DoomTaper commented on #675
Yes! I am able to reproduce it and ideally it should be, as target has been deleted hence there is no target id in the database, so while db.commit() error should occur. @delta24 ?
![screenshot 100](https://cloud.githubusercontent.com/assets/10975138/16044618/ccecedd6-3262-11e6-9e61-b5dabb830498.png)

[2016-06-14 19:52] darelswag commented on #516
I'm getting the same issues on kali 2016

Linux DB 4.5.0-kali1-amd64 #1 SMP Debian 4.5.5-1kali1 (2016-06-06) x86_64 GNU/Linux

Kali GNU/Linux Rolling \n \l

[2016-06-15 03:13] delta24 commented on #516
@darelswag is it a clean Kali installation?

[2016-06-15 03:41] #386 closed

[2016-06-15 03:41] #602 closed

[2016-06-15 04:13] delta24 commented on #28
Aggregated to meta issue - web interface improvements (#695).

[2016-06-15 04:13] #28 closed

[2016-06-15 10:42] Kaicastledine commented on #707
Metasploit pro install in the highlighted text on the first image which is
/opt/Metasploit
I have changed the location and that error was produced instead of it not being able to find the application.

I will run new tests and post them results in shortly.

[2016-06-15 11:58] darelswag commented on #516
yes , clean kali installation on my laptop , i already tried the same fix , but getting the same message

 git clone https://github.com/owtf/owtf
Clonage dans 'owtf'...
remote: Counting objects: 17438, done.
remote: Compressing objects: 100% (67/67), done.
remote: Total 17438 (delta 25), reused 0 (delta 0), pack-reused 17371
Réception d'objets: 100% (17438/17438), 17.81 MiB | 3.50 MiB/s, fait.
Rés

[2016-06-15 11:59] darelswag commented on #516
tried to pip install --upgrade -r install/owtf.pip en with the --force ... same error

[2016-06-15 15:02] delta24 commented on #516
Can anyone else reproduce this issue? Because I am not able to reproduce it - OWTF runs as expected.

[2016-06-16 17:02] DarKnight24 commented on #675
I am able to reproduce it. @delta24 @DoomTaper

[2016-06-16 18:38] h121h commented on #516
I was able to reproduce the issue. Kali Rolling 2016.1, followed the same steps @darelswag.

[2016-06-17 00:59] darelswag commented on #516
I installed a kali linux on a vm , expecially to check if it's my systeme , but still got the same issue , tried with virtualenv , but still got no answer , tried to force the upgrade --force , same thing , where the owtf check for missing depenciaries ? does it check it in /usr/lib/python2.7/dist-packages ?

sorry for my poor english

[2016-06-17 03:09] delta24 commented on #516
@darelswag @h121h I am downloading a new image of the rolling release 2016.1 Kali. I'll let you know the fix by today :)

[2016-06-18 04:17] delta24 commented on #516
@darelswag @h121h so I investigated and I found:

- Errors like `Not uninstalling pyparsing at /usr/lib/python2.7/dist-packages, outside environment /usr`, is because in Kali rolling, the default path for `pip install` is `/usr/lib/python2.7/dist-packages` and not `/usr/lib/python2.7/site-packages`. As far as I understand, this is to separate the OS python packages (using `apt`) and user installed

[2016-06-18 21:13] h121h commented on #516
@delta24, thanks for investigating this. I followed your suggestions, but I am still getting the same output as before (posted below.) It looks to me adding *--user* still doesn't use `/usr/lib/python2.7/site-packages` as mentioned.

Output:

	beautifulsoup4,Markdown,pyOpenSSL,SQLAlchemy

	python2 install/install.py

	pip install --upgrade -r install/owtf.pip

And this is very irrelevant but just

[2016-06-19 11:05] FreedomShepherd commented on #516
same issue here as well. the --user doesn't fix it.

[2016-06-19 11:26] darelswag commented on #516
tried with the --user , did not fix it ...

[2016-06-19 12:00] delta24 commented on #516
@FreedomShepherd @darelswag @h121h  Until the complete install script is ready with the virtualenv stuff (so that I can fix this on Kali Linux), you can follow these steps to install and run OWTF successfully.
You need to have `pip`  installed.

[code]

You will see something like this: `(owtf)~/owtf/install %`
This says a virtualenv named "owtf" is active. You can now run the install script.
You

[2016-06-19 12:53] FreedomShepherd commented on #516
Can someone confirm the above works?

[2016-06-20 10:51] darelswag commented on #516
root@DB:~# source '/usr/local/bin/virtualenvwrapper
virtualenvwrapper_lazy.sh  virtualenvwrapper.sh
root@DB:~# source '/usr/local/bin/virtualenvwrapper.sh'
virtualenvwrapper.user_scripts creating /root/.virtualenvs/premkproject
virtualenvwrapper.user_scripts creating /root/.virtualenvs/postmkproject
virtualenvwrapper.user_scripts creating /root/.virtualenvs/initialize
virtualenvwrapper.user_script

[2016-06-20 10:52] darelswag commented on #516
![capture d ecran de 2016-06-04 22-01-42](https://cloud.githubusercontent.com/assets/17922775/16191709/47b1307e-36ee-11e6-9cbc-c269640bbde4.png)

[2016-06-20 10:53] darelswag commented on #516
![capture du 2016-06-20 13-51-56](https://cloud.githubusercontent.com/assets/17922775/16191724/55117f3a-36ee-11e6-9f58-4b0983e814ce.png)

[2016-06-20 10:54] darelswag commented on #516
added the photo for you to check

[2016-07-09 04:38] delta24 commented on #707
@Kaicastledine Did you get it working?

[2016-07-09 14:34] delta24 commented on #316
Is very reproducible - breaks Spiders, Crawlers and Robots (passive, semi_passive) plugins! :(

[2016-07-11 06:33] delta24 commented on #331
@saganshul Can you find a way for a user to be able check some plugins, save them to a new custom group and run it? This will all be client-side (**for the moment**) and the plugins will execute similar to how we execute multiple individual plugins.

[2016-07-11 06:37] saganshul commented on #331
@delta24, yeah I think we can do that using local memory storage.

[2016-07-11 06:39] delta24 commented on #331
@saganshul Yes, for the moment - in the near future, we need to save the groups on the DB too. This would be like the `Zest` thing - if a user selects more than one plugin to run, then a option should be available to save them in a custom group (with user specified name) for future use.

[2016-07-11 06:42] delta24 commented on #516
@darelswag can you check again please? `virtualenv` creates an isolated env for the project. If you set up the env properly and activated it, there should not be any problem in installing/running OWTF.

[2016-07-11 06:45] #485 closed

[2016-07-11 06:50] delta24 commented on #675
@DoomTaper @DarKnight24 @DePierre so the fix should be to delete all workers (for that target), remove work related from the worklist, and then delete the `target_obj` from the DB?

[2016-07-11 06:57] delta24 opened #711 "Use urllib3/phantomJS for the requester module instead of urllib"
We have a simple requester as of now which is good for sending HTTP requests. It will be great to also have a headless browser factory inside the requester. The typical flow when requested for an authenticated browser instance

The "Requester" module checks if there is any login parameters provided (i.e creds or script or whatever)
Create a browser instance and do the necessary login stuff
Handle

[2016-07-11 16:18] robin-williams opened #712 "OWTF Start up issue"
## Expected Behavior
When running the ./owtf.py command to start OWTF it fails.

## Current Behavior
This error is returned:
[code]

Now, I did run the scripts/db_run.sh like it suggested but the same error reappears.

## Your Environment

I used the git clone method to install OWTF. I am running the most current Kali 2.0 rolling version. (I updated it this morning). The install went smooth just r

[2016-07-11 18:36] robin-williams commented on #712
Also getting this when running ./db_setup.sh clean

`------------------------- OWTF Database Helper Script -------------------------
                    Helps in creation of user and database
-------------------------------------------------------------------------------

[+] Ensure that you have required values in /root/.owtf/db.cfg

Press Enter to continue

ERROR:  could not open file "global/29

[2016-07-12 08:29] delta24 commented on #712
@robin-williams Few things:

- Did you run the `db_run.sh` script as root?
- The error looks like postgresql error: make sure it is a fresh image + your postgresql setup is corrupt
  You should re-initialize postgresql  - `sudo -U pgsql initdb`

[2016-07-12 17:14] robin-williams commented on #712
The issue was with the PostgreSQL DB (more than likely my fault). I nuked it completely and re-installed, ran through the OWTF db scripts and it works like a charm now. Thanks!

[2016-07-12 17:14] #712 closed

[2016-07-14 04:19] #516 closed

[2016-07-14 13:16] delta24 commented on #448
@anantshri @7a @marioskourtesis @tunnelshade After Appsec EU discussions, I am more inclined to shift OWTF core to Docker as Marios suggested because porting to Windows will mean more code to maintain, in addition to multiple `python` versions (2.7/3.x).

What do you guys think? We can have an OWTF container, Postgresql containers, and a OWTF proxy container (as to decouple components).

[2016-07-14 15:35] anantshri commented on #448
+1 for docker options. However one of the other major reason for opening this ticket was that at the time of opening the ticket owtf was not even git clonable on windows machines. I would suggest we go ahead with docker approach but we atleast make sure its clonable at all OS.

[2016-07-15 03:51] delta24 commented on #658
@sachinkamath Instead of porting OWTF to Windows completely, IMO it is better to use Docker to do that. This makes more time available for us to improve OWTF and not worry about support (distros, installation, etc.).

[2016-07-15 03:51] #658 closed

[2016-07-15 04:36] delta24 commented on #524
The project, ***vulndb*** has been inactive for a year now, I think we should go with vfeed (https://github.com/toolswatch/vFeed): in case - https://www.owasp.org/index.php/Winter_Code_Sprint#OWASP_OWTF_-_VMS_-_OWTF_Vulnerability_Management_System_.28FREE.21.29

[2016-07-15 12:09] delta24 commented on #425
Resolved in ui_improvements branch - 0c6e220d277234c8c54b8b5df59fe1c241ec8b11.

[2016-07-15 12:09] #425 closed

[2016-07-15 12:13] #707 closed

[2016-07-16 11:28] DoomTaper commented on #675
@delta24 right now related work is already removed from the worklist, I'm not sure about target_obj in DB if it is deleted or not.

[2016-07-16 11:53] DarKnight24 commented on #675
@DoomTaper @delta24 @DePierre @7a Yesterday I have looked over the issue and found that after the execution the process is found in zombie state. Hence sending a kill signal on it had no effect.

[2016-07-22 07:40] #608 closed

[2016-07-25 14:36] a0xnirudh opened #715 "Passive scan seems to be broken"
I think the passive scan feature is getting hang or is not getting completed in OWTF version 2.0. I installed 2.0 on 2 different ubuntu based distribution (Linux mint and lubuntu) and the case seems to be same on both.

If we run a passive scan against a target, I think the tool is getting hang at  `Spiders Robots and Crawlers` plugin. Here is the partial output:

[code]

After this, the tool is n

[2016-07-25 16:06] DoomTaper commented on #715
@a0xnirudh IMO this is similar to issue #316

[2016-07-25 16:18] a0xnirudh commented on #715
@DoomTaper #316 is regarding the target URLs with `https://` right ? I am getting a very similar output for `http://` targets too, its getting hang at exact same plugin. Could you run a passive scan and see if it works properly for you ?

[2016-07-26 05:25] delta24 commented on #715
@a0xnirudh @DoomTaper the plugin does not run completely because of some requester bug or a transaction searching bug.

[2016-07-26 06:58] a0xnirudh commented on #316
@delta24 I think the reason for this is not because we use https. It breaks with `'http`, `https` or even if we don't specify any protocol at all.

[2016-07-26 14:55] delta24 commented on #316
@a0xnirudh the Spiders, Robots, and Crawlers semi-passive plugin breaks on `https` but works on `http` targets but the passive plugin breaks on any target.

[2016-08-01 06:39] DarKnight24 commented on #516
@delta24 If the virtualenv in active, even after running install script it didn't install python packages. I had to explicitly run `pip install -r install/owtf.pip` after the install script.

[2016-08-13 03:56] Graph-X opened #720 "Install from git on Kali Rolling fails to start"
Install completes successfully without errors, but unable to start.  Errors out with missing Markdown PyOpenSSL and SQLAlchemy.

## Expected Behavior
Since the "missing" libraries are actually installed, owtf should start without dependency issues.

## Current Behavior
[code]

[code]
[code]
## Possible Solution
This seems to be a bug more with pip than OWTF, but I was asked to report the issue her

[2016-08-13 05:38] DarKnight24 commented on #720
@Graph-X This [issue](https://github.com/owtf/owtf/issues/516) has already been raised. Currently you can temporarily make OWTF work using virtualenv. Have a look at this [comment](https://github.com/owtf/owtf/issues/516#issuecomment-226993626).

[2016-08-13 10:03] Graph-X commented on #720
That fixed it.  Thanks!

[2016-08-13 10:03] #720 closed

[2016-08-21 10:27] DoomTaper opened #722 "target required wrapper problem"
## Expected Behavior

whichever function is wrapped with target_required function should get target_id every time it is called no matter it is called from CLI or UI.
## Current Behavior

whichever function is wrapped with target_required function is getting target_id only when a new (not in database) target is provided. On successive runs for same target from CLI it fails.
## Possible Solution

[T

[2016-08-23 06:07] blshkv opened #725 "follow fhs structure, aka make it distro friendly"
Hi, I'm trying to port the tool to pentoo and have some mess to clean up.

You keep system (database) configuration files in user's ~/.owtf folder and write results to a current folder which becomes system (read-only, /usr/lib64/owtf/owtf_review) after the tool is installed. It makes it difficult to preinstall and preconfigure it.

The tool should be able to start without ~/.owtf folder, read all

[2016-08-28 08:02] 7a commented on #725
Hi Anton,

Thanks for porting OWTF to Pentoo!
The idea of the OWTF output files is to generate them on a test basis, for
example :

cd 2016.08.Some_Client
/path/to/owtf.py

The files are saved on the current directory, which is :

2016.08.Some_Client/owtf_review

Then, you got another pentest, so you run OWTF from that other folder. This
way the OWTF output files are nicely saved on the relevant p

[2016-08-28 09:06] blshkv commented on #725
ok, I may be wrong about the output, but I found the following:
[code]
So it is a current directory probably. Well, it would be good to have a warning that it will be a directory created, but I still find it is a bad behaviour. During a test, I could be in any directory actually.

I've managed to convinced authords of few tools such as sqlmap (https://github.com/sqlmapproject/sqlmap/issues/746) an

[2016-08-29 15:49] delta24 commented on #725
OWTF installation is primarily there to support Kali 2.x and the current approach works well. If you really need to tweak settings before installing to Pentoo, you can create a simple script which modifies the default **OUTPUT_PATH** to something like `~/.owtf/review/`.

[2016-08-29 18:32] saganshul opened #727 "Human ranking propagates through the entire target."
## Current Behavior
For example, 3 tools ranked their results, whatever, say, low + medium + high, I only rank the "low" as a "pass", because it was useless, but that makes the entire target to go to "pass", which is wrong (because the human has only overwritten 1 out of 3 automated rankings)

## Expected Behavior
The human ranking should only propagate to the target once all automated rankings ha

[2016-08-30 02:05] blshkv commented on #725
That's exactly my point. The tool should not be attached to a specific distro. You faced some problems already already after Kali moved all tools from /pentest location for example.

Also, the installation scripts are ugly. You should never install any packages from your tool and should never run "sudo". Leave it to a packet manager of each distro.

Make it PIP compatible and remove all workaround

[2016-08-30 02:26] delta24 commented on #725
Making OWTF `pip`  compatible is very hard and does not make sense. This is because the framework depends on a lot of different tools and the current method allows us to be much more flexible in handling tool variations, default configurations and libraries.

This is partly implemented - you can see the OWTF has separate distro-based installation for Debian-based, Arch, Samurai, etc.

As for

I ag

[2016-08-30 09:11] blshkv commented on #725
I've looked at the distro-specific scripts and it is a disaster.  As I mentioned, they change system files, install other tools using apt-get, pip and even wget like no tomorrow.

However, "arch" looks different. There is a PKGBUILD script for the packet manager. But it does not belong here and should be pushed to arch tree.

I have developed something similar for pentoo:
https://github.com/pentoo

[2016-08-30 18:55] delta24 commented on #725
This means a huge change in the whole installation process and the way OWTF code structure is currently designed.

I believe OWTF will be moving to a Docker-based setup sometime towards the end of the year.

[2016-09-03 13:40] saganshul commented on #28
@delta24 you can close this issue #716 solves this issue.

[2016-09-05 18:12] delta24 commented on #722
Do you have the correct implementation for multiple targets also?

[2016-09-06 05:15] DoomTaper commented on #722
Nothing right now @delta24 :P

[2016-09-12 08:23] blshkv commented on #725
https://www.youtube.com/watch?v=PivpCKEiQOQ

I've got an impression that you think Docker is some kind of magic which would allow you to say "use it and we dont support anything else" This is a wrong approach.  Users might face the same problem again once they decided to go with Heroku hosting for example.

[2016-09-12 14:32] #715 closed

[2016-09-14 09:20] BSec opened #735 "Feature Req: OWTF to run scans only on ZEST recordings"
In a multi module web application or a very big web application, there can be changes as time progress.
You can assume it as a continues development. So in this kind of scenarios, teams are only interested to run security scans/checks only on those webpages or modules or series of steps (ZEST recordings) which are developed or modified recently.

Having this feature will make OWTF more useful on a

[2016-09-16 16:13] 7a opened #739 "Add testssl.sh to the active ssl plugin"
Looks like this little tool has great feedback and I think it would probably be a good idea to run it in the active ssl plugin, any takers? :)

https://github.com/drwetter/testssl.sh

[2016-09-17 13:01] DarKnight24 commented on #727
@delta24 @saganshul
I think the label added in ui against the target is weird on [target manager page](https://github.com/owtf/owtf/blob/develop/framework/interface/templates/target_manager.html#L349).
[code]
So if a target has user_rank then it will show it only irrespective owtf has given a high rank for any plugin against that target.

While on[ target panel](https://github.com/owtf/owtf/blob/d

[2016-09-17 17:06] DarKnight24 commented on #727
I think we can replace `updateTargetInfo`

[2016-09-20 19:29] #727 closed

[2016-09-29 10:27] BSec opened #743 "Interface to use 'ZAP'/'BurpSuite Pro' API"
Feature Request:

It would be nice to have and interface to add tools that are need per user choice of user.
For example, we have large user base of BurpSuite Pro and if there is an interface I would defiantly want to integrate BurpSuite Pro Results using its API into OWTF, this can attract more users with BurpSuite Pro license. Same applicable to ZAP & other open source users.

This will defiantl

[2016-09-29 23:27] DarKnight24 commented on #449
@delta24 @DePierre The current implements is throwing an error [here](https://github.com/owtf/owtf/blob/develop/plugins/web/semi_passive/Session_Management_Schema%40OWTF-SM-001.py#L22).

`TransactionManager instance has no attribute 'GrepTransactionIDsForHeaders'`.Any suggestion to fix this.

[2016-09-29 23:55] delta24 commented on #449
@DarKnight24 see if there is a GrepTransactionIDsForHeaders in the framework config file - that regex must be defined somewhere.

[2016-09-30 00:35] saganshul opened #745 "CMS explorer download link returns a 404"
This issue arises on installing OWTF.

## Expected Behavior
Basically the download link ( http://cms-explorer.googlecode.com/files/cms-explorer-1.0.tar.bz2 ) should work.

## Current Behavior
Currently the link is broken and it returns 404.

## Steps to Reproduce (for bugs)
root@K2:~# python owtf/install/install.py

## Logs
[*] Installing CMS Explorer
[*] Switching to /root/owtf/tools/restricted/c

[2016-09-30 00:41] saganshul opened #746 "OWTF startup directory"
Ideally, OWTF should never be run from its own directory because it does not make sense.
## Expected Behavior

On running OWTF from it own directory it should print "Please navigate to the working directory for your pentest and then run OWTF like this: /path/to/owtf.py"
This will create an owtf_review directory for that pentest/project"
## Current Behavior

It does not print this message and OWTF

[2016-09-30 00:49] delta24 commented on #745
@saganshul Google changed the URLs - the new URL is https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/cms-explorer/cms-explorer-1.0.tar.bz2. Send a PR!  :)

[2016-09-30 01:04] saganshul opened #748 "Python packages detection error."
There are some python packages which install on running installation script but not getting detected.
## Expected Behavior

It should install all the dependencies and detect them properly.
## Current Behavior

The following python libraries seem missing :
   Markdown,pyOpenSSL,SQLAlchemy
Haven't you run the install script?
   python2 install/install.py

If you are sure you ran the install script,

[2016-09-30 01:10] delta24 commented on #746
@saganshul @7a should we do something like this?
1. Normal OWTF run should ask to create a new directory for a pentest (if not already in it).
2. For developers, we should add `--dev` to bypass this check
?

[2016-09-30 01:11] delta24 commented on #748
This is due to Kali 2016.x and pip not playing nicely with each other :D
It is high time anyway that we shift to a virtualenv-based setup process.

[2016-09-30 01:12] saganshul opened #749 "Deadlock issue for some of the plugins."
There seem to be deadlock issues on the following plugins:
"semi-passive / session management schema",
"Plugin: Http Methods And Xst (web/active)"
0 results for: ps -ef | grep -i hoppy | grep -v grep
## Your Environment
- Operating System and version (like Kali, Debian, ArchLinux, etc): Kali2

[2016-09-30 01:14] delta24 commented on #749
Yup, I also noticed this issue in a pentest - can you look more into it?

[2016-09-30 01:15] saganshul opened #750 "Spiders_Robots_and_Crawlers plugin is broken"
The Spiders_Robots_and_Crawlers plugin is broken and hangs forever, at least sometimes:

## Logs
Worker 4 - Spiders_Robots_and_Crawlers (1 hour ago)

## Your Environment

* Installation method used:
* Version/branch used:
* Operating System and version (like Kali, Debian, ArchLinux, etc): Kali2
* pip/setuptools version:
* sudo access:

[2016-09-30 01:17] saganshul commented on #745
#747 fixes the bug . Closing the issue.

[2016-09-30 01:17] #745 closed

[2016-09-30 10:25] DarKnight24 commented on #449
![screenshot from 2016-09-30 15-52-53](https://cloud.githubusercontent.com/assets/6971456/18988830/197172f4-8726-11e6-97dd-6132d761aa42.png)

@delta24 This is not mentioned anywhere else other than the usage in the plugin.

[2016-09-30 12:18] #675 closed

[2016-09-30 14:03] urand0m opened #752 "Proxy worker dies unexpectedly with Uncaught Exception"
## Current Behavior

During the arachni phase of web application scanning the proxy located on port 8008 dies unexpectedly and doesn't accept any new connection.
## Possible Solution
## Steps to Reproduce (for bugs)

Just start a worker on target http://testphp.acunetix.com
## Logs

[code]

## Context

The issue causes or arachni to fail the scan due to timeout or missing some resource during the

[2016-09-30 15:19] delta24 commented on #752
@urand0m This is known issue - proxy cache locking due to Tornado errors and timeouts.
@DarKnight24 can you take a look?

[2016-09-30 17:52] DarKnight24 commented on #449
@delta24 @7a @DePierre

This function was removed in [this](https://github.com/owtf/owtf/commit/a25ea4131b05dc5857be906436f1c180b22eecdf#diff-5860fa2fa39931c18e250609443e5a5aL168) commit by @tunnelshade. Any suggestions for fixing?

[2016-09-30 18:32] DarKnight24 commented on #750
@delta24 I have looked into it and I think passive plugin is stucking due to some exception thrown. I will look into it and fix it asap.

[2016-10-01 08:41] DarKnight24 commented on #749
@delta24 @saganshul  I am not able to reproduce anything for `"Plugin: Http Methods And Xst (web/active)"`. Please suggest a way to reproduce the problem.

[2016-10-01 20:29] #750 closed

[2016-10-08 08:56] DarKnight24 commented on #749
@saganshul Did you face the problem again?

[2016-10-08 08:57] DarKnight24 commented on #449
@delta24 Any updates on this issue?

[2016-10-09 14:33] saganshul opened #758 "Wrong worker log file created on creating new worker"
On creating new worker, let say worker-5 , worker log file in owtf_review/logs/ generated by the API call is worker-8.log.
## Expected Behavior

It is should create correct log file.
## Current Behavior

On creating new worker, let say worker-5 , log file generated by the API call is worker-8.log.
## Steps to Reproduce (for bugs)

1. Go to /ui/workers/
2. Click Add worker
3. Go to owtf_review/logs

[2016-10-09 17:11] DarKnight24 commented on #758
@saganshul are you working on this?

[2016-10-09 17:21] saganshul commented on #758
@DarKnight24 currently, I am not working on this.

[2016-10-10 12:50] saganshul opened #762 "Aborting worker is not working"
Aborting worker on worker panel is not working.
Link to screenvideo:
https://www.dropbox.com/s/90atwivjpkhzfkq/out.mp4?dl=0
## Expected Behavior

It should stop the current job.
## Your Environment

- Installation method used: python install/install.py
- Version/branch used: Develop
- Operating System and version (like Kali, Debian, ArchLinux, etc): Ubuntu 16.04
- pip/setuptools version: 8.1.2
- s

[2016-10-10 16:13] DarKnight24 commented on #762
@saganshul I am not able to reproduce the same.

[2016-10-10 18:39] saganshul commented on #762
@DarKnight24 , try to test on plugin which takes time to run and try to abort the same.

[2016-10-16 20:51] delta24 opened #765 "[documentation] Write proper API docs with Slate"
[Slate](https://github.com/lord/slate) is nice way to expose the OWTF ReST API through proper documentation, code samples and overall a nice UI.

[2016-11-04 20:08] 7a opened #766 "OWTF installer recommendation misleads new users"
OWTF should never, ever, be run from its own directory, this makes absolutely no sense since that will result in creating the output files for a given pentest within the OWTF directory.

In the real world, an OWTF user should run OWTF *always* like:

cd /path/to/pentest/directory
/path/to/owtf.py

This results in the output files being saved in the correct directory for a given pentest, instead of

[2016-11-04 20:10] saganshul commented on #766
#746 Copy of this issue.

[2016-11-04 20:14] 7a commented on #746
Even a developer should never run OWTF from its own directory:
We are talking output files being saved in a tool directory :)

I think the best way to avoid this mess is simply to do something like this:
Option 1) Refuse to run OWTF if on the same directory.
or
Option 2) Require an output directory parameter when OWTF is run

Other thoughts in https://github.com/owtf/owtf/issues/766 :)

[2016-11-04 20:23] 7a opened #767 "Broken DB password authentication after installing"
When OWTF is run for the first time the DB authentication fails.
While this can be solved running the DB setup script, this is not very user-friendly and should be avoided.

Steps:

1) Fully up-to-date kali linux
2) Clone UI Improvements Branch:
	git clone -b ui_improvements https://github.com/owtf/owtf.git

3) Run installer
	cd owtf/install/
	python install.py
	(say yes to everything)

4) Run owt

[2016-11-04 20:26] 7a commented on #767
Seems fixed after the following, but note the sed errors on the DB script, this should also be fixed:

[code]

[2016-11-04 20:47] 7a opened #768 "[UI Improvements] Worker refresh is too quick for log line selection"
When I go to:
http://127.0.0.1:8009/ui/workers/

And then try to select a number of lines to be displayed from the dropdown, while a worker is running, this is not possible because the worker panel is refreshing too quickly.

Suggestion: Maybe we could decrease the refresh time a bit? it is close to impossible to choose a number of lines from the dropdown now :D

[2016-11-04 20:51] saganshul commented on #768
@7a This is same issue I was facing. Yeah! we can increase the refresh time. Can you suggest which will be good. IMO 5-10 sec will be good.

[2016-11-04 21:04] 7a opened #769 "[UI Improvements] Workers and Dashboard panels need to be much more lightweight"
Edit: Same happens on the Dashboard tab but a bit less bad (20% CPU)

The ui on the workers panel is too heavy, CPU goes to 30-40% when you run 3 workers that are actively scanning stuff.

This happens consistently as I switch to "workers" (30-40% CPU) from "targets" (Chrome CPU goes down to 6%).

Background: Given the time constraints and limited resources in equipment that a pentester could have

[2016-11-04 21:05] 7a commented on #768
We'll have to shoot a bit more conservatively, perhaps 10-15, see https://github.com/owtf/owtf/issues/769

But much better than before, we're getting there! ;)

[2016-11-07 07:59] 7a commented on #439
This is still happening, I had workers showing various tools as "running" when the tools had really finished hours (or days) ago, which is really messy. On the CLI I could see the tools had finished, had to Control + C OWTF and open it again to pick up the work :(

[2016-11-08 07:50] 7a opened #771 "[UI Improvements] Unable to use UI since it is "waiting for socket""
When trying to use the new UI to review and rank plugins for a given target, I am unable to do so since, the target panel (http://127.0.0.1:8009/ui/targets/6) is polling constantly and hence hogs the available sockets on 127.0.0.1, making the UI completely unusable.

The whole point of the OWTF UI is that it should be as fast as possible to review and rank everything. For this reason, I very serio

[2016-11-08 08:58] saganshul commented on #771
@7a
Thank you for reviewing the new UI.
* First I think there is no polling on report page. Initially, UI sends a lot of requests to server to load the data for plugins. As you can see here:

![screenshot from 2016-11-08 14-15-13](https://cloud.githubusercontent.com/assets/11960067/20092369/d16c1aac-a5bd-11e6-9b88-9b5e8524faf6.png)
 That's why you are facing this hoging issue of UI. After completi

[2016-11-08 15:17] 7a opened #772 "Default installation fails to install O-Saft"
NOTE: Tried on UI Improvements branch (please merge fix there for next round! ;)

O-Saft does not appear in the installation trail and the SSL active plugin returns the following output for O-Saft, which means the installer failed to install it:

[code]

[2016-11-08 15:19] 7a opened #773 "Default installation fails to properly setup sslabs"
NOTE: Tried on UI Improvements branch (please merge fix there for next round! ;)

The SSL Labs tool is installed without errors but the SSL active plugin returns the following output, which means that something is wrong, not properly setup?:

[code]

[2016-11-08 15:31] delta24 commented on #773
@7a Their JSON format probably changed - breaking the parser.
@DarKnight24 ?

[2016-11-08 15:33] delta24 commented on #772
@7a Kali removed it from default installation. I think we'll need to add it to the install script :P

[2016-12-04 21:52] ujjwal96 commented on #766
Anyone working on this?
If not, can you assign it to me. I'd like to contribute

[2016-12-04 22:05] delta24 commented on #766
Hi @ujjwal96, welcome to OWTF! You cannot be assigned the issue because you are not a member of the organization. However you can fork OWTF, implement a fix and send a PR! :)

[2016-12-06 05:46] Any3ite opened #780 "tools bug report"
hey my friend 👍
       very thanks your team provide this tools，
now im installed owtf on my vmware - kali-2016.2， and run this tools， im edit config file ，edit listen ip 0.0.0.0 and create task， scan website  http://testphp.vulnweb.com ，but nikto tell me 0 host up ， omg！~  and run plugins arachni ， scan http://testphp.vulnweb.com  scan result is 0issue 。 i don't know what's happend.  why can be t

[2016-12-06 16:01] saganshul commented on #768
@delta24 you can close this issue now.

[2016-12-08 14:42] #772 closed

[2016-12-08 14:42] #773 closed

[2016-12-08 18:26] DarKnight24 commented on #767
@7a @delta24 I have looked through the bug.

* The broken database link is due to the problem in locating .owtf directory. The problem is when install script runs it creates the `.owtf` directory in current user's home. But when setup_db script is called, it required root privileges and hence it look the `.owtf` folder in root's home. So it is quits with error and database is not created.

* The s

[2016-12-08 18:37] DarKnight24 opened #784 "[Feature Request] Add a update script"
Currently if any version changes are done, to incorporate with it we need to do it manually or rerun install script. We can add a update script containing changes to be done to update the tools on which owtf depends.

## Expected Behavior

It should update the tool on which owtf depends to its newest version supported. This will remove the manual work.

[2016-12-08 18:40] DarKnight24 commented on #748
@delta24 Do we need any thing to be done over this issue?

[2016-12-08 18:46] delta24 commented on #784
I am working on making a Dockerfile in the main repo to have a fully functional development environment on any OS. That will solve majority of these issues. The current `owtf/owtf-docker` is too large and very bloated.

I'll have more time after 16th to work on these issues. (finals week atm)

[2016-12-09 10:04] DarKnight24 commented on #767
@delta24 @7a I have fixed I issue.
What should I do for II issue?

[2016-12-09 18:51] delta24 commented on #767
Good! re: the second issue - even though 2 instances are running, where is the config file for the second one?

[2016-12-10 17:24] DarKnight24 commented on #449
@delta24 @7a  The method `Get` is also removed from `config.py` in the same commit as above mentioned.

IMO the plugin has to be rewritten.

[2016-12-11 11:18] DarKnight24 commented on #758
@saganshul Is this bug fixed?

[2016-12-11 13:15] DarKnight24 commented on #767
@delta24 There are two postrgesql are running. So when we are grabbing [through](https://github.com/owtf/owtf/blob/develop/scripts/db_run.sh#L32) `$(sudo netstat -lptn | grep "^tcp " | grep postgres | sed 's/\s\+/ /g' | cut -d ' ' -f4 | cut -d ':' -f1)` the returned value is:
[code]

same when port is [extracted](https://github.com/owtf/owtf/blob/develop/scripts/db_run.sh#L37) on my machine it ret

[2016-12-11 14:14] saganshul commented on #758
@DarKnight24 no

[2016-12-12 17:24] DarKnight24 commented on #758
@saganshul What backend problem is left to fix?

[2016-12-12 19:16] DarKnight24 commented on #746
@delta24 Should we refuse to run if on the same directory?

[2016-12-12 20:33] saganshul commented on #758
@DarKnight24  Backend is generating wrong worker log file "On creating new worker, let say worker-5 , worker log file in owtf_review/logs/ generated by the API call is worker-8.log".
As a part of front end I just doubled checked it and avoid if nothing found.

[2016-12-13 08:06] DarKnight24 commented on #758
@saganshul After this PR is merged, use the name field obtained in json to get worker logs.

[2016-12-14 08:04] saganshul commented on #758
sure!

[2016-12-14 14:25] DarKnight24 commented on #771
@saganshul Is it fixed?

[2016-12-14 14:27] saganshul commented on #771
@DarKnight24 listener is not created yet but UI optimisation is done :) PR is not reviewed yet.

[2016-12-17 19:35] #758 closed

[2016-12-18 21:38] delta24 commented on #748
@DarKnight24 We need to move the install process to use virtualenv and virtualenvwrapper by default, so that these issues do not pop up in future.

[2016-12-18 21:49] delta24 commented on #746
@DarKnight24 yes.

[2016-12-19 20:56] eflittle opened #786 "Will not install on Kali"
## Expected Behavior

## Current Behavior

Installing with the bootstrap.sh with the command:
 wget https://raw.githubusercontent.com/owtf/bootstrap-script/master/bootstrap.sh
bash bootstrap.sh

When it gets to Building wheels for collected packages: lxml, pycurl, cryptography, all 3 module builds fail with the message Filed to build lxml pycurl cryptography.

Then when installing collected packag

[2016-12-19 21:33] delta24 commented on #786
@eflittle did you try installing using virtualenv? Kali 2016.x (rolling) has a known problem.

[2016-12-21 01:51] eflittle commented on #786
No.

[2016-12-22 09:56] hktalent opened #787 "owtf.py run is nothing"
1、mac os 10.12.2
2、install is ok
3、$ cat  ~/.owtf/db.cfg
DATABASE_IP: 127.0.0.1
DATABASE_PORT: 5433
DATABASE_NAME: msf
DATABASE_USER: msf
DATABASE_PASS: +kgeBhms5Igd776CnAjvf0OZQdBdB5TKHMwtQLCyxjY=

4、nothing ?
$ ./owtf.py

 _____ _ _ _ _____ _____
|     | | | |_   _|   __|
|  |  | | | | | | |   __|
|_____|_____| |_| |__|

        @owtfp
    http://owtf.org
$

[2016-12-22 10:20] DarKnight24 commented on #787
What is the output when you execute ./owtf.py ?
Can you put a screenshot in the comments?

[2016-12-22 16:36] delta24 commented on #787
@hktalent OWTF is not supported on MacOS. You should run OWTF on Linux, preferably Kali Linux.

[2016-12-22 16:54] delta24 commented on #767
@DarKnight24 pick the Postgresql instance running on port specified by the `db.cfg` file in .owtf directory. I think it is 5432 port by default.

[2016-12-23 01:52] hktalent commented on #787
@delta24 ok, thank
@DarKnight24
￼

[2016-12-23 01:52] #787 closed

[2016-12-23 16:43] #786 closed

[2016-12-27 17:32] #780 closed

[2016-12-27 17:32] delta24 commented on #780
Possible spam.

[2016-12-27 20:53] jcmoreno commented on #748
Hi, I'm running into this exact same issue but just with Markdown. See below:

`root@kali:/opt/owtf# apt-get install markdown
Reading package lists... Done
Building dependency tree
Reading state information... Done
markdown is already the newest version (1.0.1-9).
0 upgraded, 0 newly installed, 0 to remove and 1155 not upgraded.
root@kali:/opt/owtf# pip install Markdown
Requirement already satisfi

[2016-12-27 23:33] delta24 opened #790 "[config] Move the framework configuration file out of framework directory"
The `framework_config.cfg` file is currently inside the `framework/config` directory which is bad.
Instead there should be a default configuration file which is there and the user modified configuration file is not committed.

 The `-m` profiles option provides this functionality for the loading user profiles but not the framework configuration.

#### Solution
- [ ] Move the `framework_config.cfg`

[2016-12-28 00:21] delta24 commented on #748
@jcmoreno did you try using virtualenv?

[2016-12-28 00:35] jcmoreno commented on #748
I don't think so. I just followed the documentation and ran the following:
[code]

[2016-12-28 00:47] delta24 commented on #748
@jcmoreno You can install virtualenv by running

1. `pip install virtualenv`.
2. Create a virtual environment using `virtualenv <env name>`
3. Activate the environment - `source <env_name>/bin/activate`
4. Install OWTF

[2016-12-28 00:50] jcmoreno commented on #748
I'll try that then. Thanks!

[2016-12-28 01:01] #768 closed

[2016-12-28 01:02] delta24 commented on #769
@saganshul can you see to the 2 point?

[2016-12-28 01:07] delta24 commented on #771
@saganshul can you go ahead with the listener?

[2016-12-28 02:15] delta24 commented on #711
Moved to https://github.com/owtf/reboot

[2016-12-28 02:15] #711 closed

[2016-12-28 14:04] saganshul commented on #771
@delta24 , I think it is actually not needed now because we are making only 1 ajax request in initial loading of report.

[2016-12-29 00:44] delta24 commented on #771
Merged in ui_improvements branch.

[2016-12-29 00:44] #771 closed

[2016-12-29 05:24] delta24 commented on #769
@saganshul why not render the interface using React rather than using the old template?

[2016-12-29 05:28] saganshul commented on #769
@delta24, sure! we can do that but it will take time and I am not doing it as part of a project. So I edited the present Jquery code. But yeah it will be done sometime later when I actually have time.

[2016-12-29 16:51] #766 closed

[2016-12-29 16:55] delta24 commented on #746
Fixed in https://github.com/owtf/owtf/pull/789.

[2016-12-29 16:55] #746 closed

[2016-12-29 17:06] delta24 commented on #762
@saganshul @DarKnight24 the request to kill the worker is sent successfully but sometimes the worker does not die immediately. Need to check the function in https://github.com/owtf/owtf/blob/develop/framework/plugin/worker_manager.py#L242.

[2016-12-29 17:21] delta24 commented on #749
@DarKnight24 this will always result in a deadlock because of https://github.com/owtf/owtf/issues/449.

[2016-12-29 17:27] delta24 commented on #448
Now that the Docker support is complete, I am closing this now - I'll be updating the Docker repository in a few days.

[2016-12-29 17:27] #448 closed

[2016-12-30 13:07] affinity7 commented on #790
@delta24 I am willing to fix this. Please suggest an approach for this issue.

[2016-12-30 17:05] delta24 commented on #790
@affinity7 see the issue description. I've worked out a possible solution.

[2016-12-31 14:27] DarKnight24 commented on #790
@delta24 I suggest to read all the config from `~/.owtf` folder. We can create default files from `$root_dir/profiles` folder in case config file is absent.

[2017-01-03 20:32] DarKnight24 commented on #767
@delta24 [This variable](https://github.com/owtf/owtf/blob/develop/scripts/db_run.sh#L80) is always 1 irrespective of postgresql service is active or not.

[2017-01-04 13:53] DePierre opened #794 "Session_Management_Schema@OWTF-SM-001 now breaks OWTF tests"
The plugin `Session_Management_Schema@OWTF-SM-001` is currently breaking the OWTF tests.

Since forever, the plugin was actually doing nothing (`return ([])`) but it has been re-enabled with https://github.com/owtf/owtf/commit/9207e4bccf41d155067e7135e653ed2ae5447051#diff-40bec1612db6779ef9810c15e2e79e23L24

However, since it has been re-enabled, it breaks the OWTF tests due to unknown side-effect

[2017-01-04 14:11] affinity7 commented on #790
@delta24 where should we move the config file from framework directory to?

[2017-01-04 17:59] DePierre commented on #794
Related to #749

[2017-01-04 18:00] DePierre commented on #794
Related to #449

[2017-01-04 18:16] DePierre commented on #735
@BSec My 2-cents but what you are requesting is not part of OWTF's objectives.

OWTF provides multiple plugins that help people following well-known security guides (e.g. the OWASP one) when testing applications. The plugins should be seen as `wrappers` around other tools (such as w3af, skipfish, Google custom search) and since they do not provide the feature to test only a subset of pages, OWTF c

[2017-01-05 05:03] hktalent opened #796 "how install in my mac os 10.12.2"
how install in my mac os 10.12.2
1、 wget -N https://raw.githubusercontent.com/owtf/bootstrap-script/master/bootstrap.sh; bash bootstrap.sh

2、error
`sudo pip2 install --upgrade cffi
The directory '/Users/xiatian/Library/Caches/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pi

[2017-01-05 09:25] DarKnight24 opened #797 "Database related scripts runs before postgresql installation"
Currently the database setup scripts are set to run before the installation of postgresql. This is creating failure in the database creation scripts.

## Expected Behavior

Database related scripts should be run after proper installation of postgresql during installation.

## Possible Solution

Change the order of the installation.

## Context

During installation.

## Your Environment

* Version/

[2017-01-05 20:12] delta24 commented on #735
@DePierre I agree.

[2017-01-05 20:15] delta24 commented on #790
@DarKnight24 sounds good. @DePierre ?

[2017-01-05 20:53] #767 closed

[2017-01-05 21:17] delta24 commented on #796
@hktalent as of right now, Mac OS is not supported. But you can use Docker or a Kali Linux VM to install this.

[2017-01-05 21:17] #796 closed

[2017-01-05 21:32] DePierre commented on #790
@delta24 Your proposition sounds great IMO
@affinity7 Anywhere that makes sense, while keeping some consistency with the other configuration files

[2017-01-05 21:39] DePierre commented on #794
I am suspecting the [TransactionManager](https://github.com/owtf/owtf/blob/c9963fa01baeed7fdb99f49eda4f09ed730fb60f/framework/db/transaction_manager.py) to be responsible for the lock (only plugin using it)

A potential scenario is that the TransactionManager does not properly close all transactions with the database.

[2017-01-05 21:48] DePierre commented on #794
`GrepTransactionIDsForHeaders` does not exist since https://github.com/owtf/owtf/commit/a25ea4131b05dc5857be906436f1c180b22eecdf#diff-5860fa2fa39931c18e250609443e5a5aL168 but there is no error being throw. It would mean that https://github.com/owtf/owtf/blob/9207e4bccf41d155067e7135e653ed2ae5447051/plugins/web/semi_passive/Session_Management_Schema%40OWTF-SM-001.py#L21 is actually freezing the pro

[2017-01-05 21:49] DePierre commented on #449
`GrepTransactionIDsForHeaders` does not exist anymore but there is no error being throw. It would mean that https://github.com/owtf/owtf/blob/9207e4bccf41d155067e7135e653ed2ae5447051/plugins/web/semi_passive/Session_Management_Schema%40OWTF-SM-001.py#L21 is actually freezing the program execution.

[2017-01-05 21:50] #794 closed

[2017-01-05 21:52] DePierre commented on #735
@BSec Feel free to reopen the issue if you disagree with our decision.

[2017-01-05 21:52] #735 closed

[2017-01-05 21:58] delta24 commented on #790
@affinity7 @DarKnight24 @DePierre ok, so here is a brief implementation plan:

- Move the default configuration files to `$rootdir_OWTF/default`.
- During installation, copy over the default configuration files to `~/.owtf` and change the code to load the configuration (as well as profiles) from there.
- Always prefer the configuration files in `~/.owtf` over the default ones. Check at run-time if

[2017-01-06 07:51] DarKnight24 commented on #748
There are some issues in installation.
* Why are we using pip command twice, see [here](https://github.com/owtf/owtf/blob/develop/install/distro-independent.cfg#L13) and [here](https://github.com/owtf/owtf/blob/develop/install/owtf.pip). Both the command have pyopenssl in it.
* Debian installation script also install pip, which is already installed, see [here](https://github.com/owtf/owtf/blob/dev

[2017-01-07 08:49] DePierre commented on #790
@delta24 Just a thought. How about keeping some consistency between the hierarchy in `$rootdir_OWTF/` and `~/.owtf/` with something like:

[code]

[2017-01-07 16:23] delta24 commented on #790
@DePierre sounds good.

[2017-01-07 20:50] delta24 commented on #748
@DarKnight24 that seems like a good idea. We should move all `pip` packages to `owtf.pip` and install `pip` only once.

[2017-01-08 02:02] delta24 commented on #790
@DePierre @DarKnight24 should this also include the `profiles` folder?

[2017-01-08 04:23] DarKnight24 commented on #790
@delta24 Yes, all the configuration files will be shifted to `.owtf/` folder as discussed above. We will have all files from profile and `framework.cfg` to `configuration` folder as @DePierre commented.

[2017-01-08 04:58] delta24 commented on #797
Fixed in 6816acdaf7750f9ff91dd08ccb3a2cef210346ba. (wrong issue number! :P )

[2017-01-08 04:58] #797 closed

[2017-01-08 05:34] delta24 commented on #797
@DarKnight24 I know. The next step is to move those dependencies to `owtf.pip`.

[2017-01-08 14:05] affinity7 commented on #790
@delta24 @DePierre @DarKnight24 The profile folder also contains plugin config files. Should I move them to the `configuration` folders too?

[2017-01-12 04:04] irn00b opened #802 "Invoking ./db_run.sh produces owtf/scripts/db_run.sh: line 85: syntax error near unexpected token `fi'"
root@kali:/opt# ./owtf/owtf.py

 _____ _ _ _ _____ _____
|     | | | |_   _|   __|
|  |  | | | | | | |   __|
|_____|_____| |_| |__|

        @owtfp
    http://owtf.org

ERROR:root:Aborted by Framework: [DB] (psycopg2.OperationalError) FATAL:  password authentication failed for user "owtfuser"
FATAL:  password authentication failed for user "owtfuser"

Run scripts/db_run.sh to start/setup db
root@k

[2017-01-12 04:44] #802 closed

[2017-01-12 04:45] delta24 commented on #802
@irn00b Thanks! It should be fixed now.

[2017-01-12 05:12] irn00b commented on #802
that was fast, thank you!

[2017-01-13 18:33] delta24 commented on #725
More information and current progress tracking in #790.

[2017-01-13 18:33] #725 closed

[2017-01-13 19:01] delta24 commented on #447
Updated tracking and relevant information in #790.

[2017-01-13 19:01] #447 closed

[2017-01-13 19:04] delta24 commented on #765
This requires a separate hosting for the documentation which is not good! Maybe some similar theme on Readthedocs for the API documentation.

[2017-01-13 19:04] #765 closed

[2017-01-13 20:14] delta24 commented on #533
@anantshri is this practical? How can we catch subtle tool errors programmatically like Travis builds?

[2017-01-13 20:33] anantshri commented on #533
@delta24 initial idea looked nice conceptually but i have had 2 attempts at it and have not made much progress on it. This root of this idea was the fact that during the time of raising the issues configuration was a major issue and tools were missing or were getting stuck and hence to catch then we thought why not run some tests on public targets.
but i suppose a better approach would be if we ha

[2017-01-13 22:27] blshkv commented on #725
@delta24 I suggested several changes and the configuration file was only one of them.  Please do not close the bug report without addressing all of them

[2017-01-14 19:58] delta24 commented on #533
@anantshri I am closing this because of the inclusion of the Dockerfile. I will add the instructions to test OWTF before merging or committing a breaking change in a separate, clean Docker container (using the list of sample targets).

[2017-01-14 19:58] #533 closed

[2017-01-16 08:03] rishi62 commented on #748
Hi, i am facing this issue when installing owtf,currently i want to understand how owtf is working but this issue is not fixing. What i know is that this dependecies are installed but the tool is not detecting the correct path i guess. So it will be good if someone can clear me on how to fix this issue.

[2017-01-16 11:46] DePierre commented on #748
@rishi62 It would be nice to have some information regarding your setup so that we could properly help you. For instance, could you tell us:

+ What OS are you using? And what distribution?
+ Could you create a pastebin containing the output of the boostrap.sh script?
+ Could you paste the error shown when start owtf.py?
+ Could you paste the pip packages installed on your system (using `pip freez

[2017-01-16 16:36] rishi62 commented on #748
Hey its working when i ran bootstrap.sh again i got a pip related error then i just reinstalled pip for python && python3 then the whole thing worked and now i am using the web interface of owtf on kali linux 2016.2.

[2017-01-16 16:41] DePierre commented on #748
@rishi62 So is it working now?

[2017-01-16 16:48] rishi62 commented on #748
yup!

[2017-01-16 17:04] delta24 commented on #387
@DePierre any more to do here? I changed the DB settings (engine parameters) a while back, but have not run the benchmarks yet.

[2017-01-16 17:07] delta24 commented on #348
@anantshri This would require changing the way plugins run and queue. (requiring a rewrite).
@7a @DePierre move this to reboot? I am thinking to go into a feature freeze - support (bugs, maintenance only) while we work on reboot.

[2017-01-17 08:08] rishi62 commented on #354
How to stop the inbound proxy?

[2017-01-17 09:32] DePierre commented on #354
@rishi62 This is a known issue and it's been around for a while and I lost hope that it would disappear. It gave me quite a lot to work around when I wrote the OWTF testing framework.

In some cases, when cancelling a plugin (using ^C like in your case), OWTF will not properly release all its resources (postgresql, proxy, etc.) and they will become zombie processes.

The zombie processes will time

[2017-01-17 09:34] DePierre commented on #348
@delta24 However you feel. It would indeed require some rework in the way plugins are run but I think that it can be done if someone is motivated enough. It should also be included in the reboot, absolutely.

[2017-01-17 09:36] DePierre commented on #387
@delta24 Not sure, I personally haven't really benchmarked anything since that time. It would be nice if someone could run a quick benchmark in similar areas I benchmarked previously to see if there was any improvement.

[2017-01-17 12:31] rishi62 commented on #354
I have to restart my system to start owtf again i guess those zombie processes are not terminating.

[2017-01-17 13:41] DePierre commented on #354
@rishi62 You could have done otherwise. There was no need to restart. For instance, you could check the zombies using `ps` or find the proxy process by looking at the output of `netstat`

[2017-01-18 03:09] delta24 commented on #348
@DePierre this is relevant not only for this issue but many more - like this general issue https://github.com/owtf/reboot/issues/25

[2017-01-18 10:11] DePierre commented on #348
@delta24 The root-cause of these issues is simply the lack of inter-dependency in our plugin mechanism. Sure it's relevant to many issues like this one, but all would be closed if we had that dependency mechanism.

Like I said, it should be part of the reboot project but it could also be implemented in the current code base. It's basically

+ An extra attribute to the plugin (we already have an 'e

[2017-01-19 09:13] jack17529 commented on #790
So is the bug still open ??